.input {
  background-color: lightgray;
  &:hover {
    border-color: #ced4da;
    box-shadow: 0 0 2px 0.2rem rgba(0, 123, 255, 0.25);
  }

  &:focus,
  &:active {
    box-shadow: 0 0 2px 0.2rem #1565d8 !important;

    border-color: #ced4da;
  }
}
