<div class="container-fluid p-0">
    <div class="banner_text">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 py-4">
                    <h2 class="text-white"><b>Best Digital Marketing Course In Hyderabad</b></h2>
                    <p class="text-white">Zero to Digital Hero-Start Your Digital Marketing Journey!</p>
                    <p class="text-white"> The digital marketing training that keeps you ahead of the competition. The
                        TEKS Academy digital marketing course is specifically designed for students to become experts in
                        SEO, Google Adwords training, Facebook ads, web analytics, pay-per-click course, content
                        marketing, mobile marketing, and email marketing. </p>

                    <h3 class="text-white"><b>Our Associations</b></h3>
                    <div class="d-flex justify-content-start gap-2">
                        <img src="../../../../../assets/img/Teks_Website/Teks_Website/certifications_logos/iso.png" />
                        <img src="../../../../../assets/img/Teks_Website/Teks_Website/certifications_logos/msme.png" />
                        <img
                            src="../../../../../assets/img/Teks_Website/Teks_Website/certifications_logos/nasscom.png" />
                        <img src="../../../../../assets/img/Teks_Website/Teks_Website/certifications_logos/NSDC.png" />
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="top_space">
            <h3><b>Best Real Time Training Institute Of The Year</b></h3>
            <div class="d-flex justify-content-start">
                <img src="../../../../../assets/img/Teks_Website/Teks_Website/Google_ratings_447x104/google_ratings.png"
                    alt="" width="200px" />
                <img src="../../../../../assets/img/Teks_Website/Teks_Website/Google_ratings_447x104/Educations.jpg"
                    alt="" width="200px" />
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-6 mt-5">
                    <h3><b>About The Course</b></h3>
                    <p>Teks Academy- The ultimate place for the best digital marketing course in Hyderabad. The advanced
                        course
                        is expertly crafted to provide comprehensive training in the latest digital marketing strategies
                        and
                        tools. We provide excellent “Digital Marketing Course Online and offline” based on student’s
                        choice.</p>
                    <p>As the No.1 digital marketing training institute in Hyderabad, we offer
                        world-class digital
                        marketing training. The training offers ultramodern pedagogy that leads to desirable outcomes
                        from the program</p>
                </div>
                <div class="col-lg-6 text-center">
                    <img src="../../../../assets/img/branch_images/course_img.jpg" class="img-fluid" width="100%"
                        height="100%" alt="course" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 text-center">
                    <img src="../../../../assets/img/branch_images/course_highlights.jpg" class="img-fluid" width="80%"
                        height="80%" alt="course" />
                </div>
                <div class="col-lg-6 mt-5">
                    <h6><b>Course Highlights</b></h6>
                    <ul>
                        <li>Comprehensive training in the latest digital marketing strategies and tools.</li>
                        <li>Both online and offline courses available.</li>
                        <li>Flexible learning options.</li>
                        <li>Hands-on experience with real-world projects.</li>
                    </ul>
                    <h6><b>This course covers key concepts like</b></h6>
                    <ul>
                        <li>Search Engine Optimization (SEO)</li>
                        <li>Search Engine Marketing (Campaign setup, PPC, etc.)</li>
                        <li>Social Media Marketing</li>
                        <li>Content Marketing</li>
                        <li>Email Marketing</li>
                        <li>Analytics</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center my-3">
                    <h3><b>Innovative Learning Methods for Future Digital Marketing Experts</b></h3>
                    <p>Our Innovative LMS enables creative methods of teaching that combine interactive lectures with
                        practical and project-based learning. We provide both online and offline Digital Marketing
                        Course Training in Hyderabad, with flexible learning options to accommodate your schedule. The
                        Academy’s student-focused approach, led by industry veterans, promotes cooperation, creativity,
                        and analytical thinking. You'll gain hands-on experience with real-world projects, learning to
                        develop and execute effective digital marketing campaigns across various platforms.</p>
                    <p>Whether you aspire to be a Digital Marketing Specialist, Social Media Manager, or SEO Expert,
                        Teks Academy’s best digital marketing course in Hyderabad equips you with the skills and
                        knowledge to excel in the digital marketing landscape
                        and achieve your professional objectives.</p>
                </div>
            </div>
        </div>
    </div>
</div>