<div class="container-fluid p-0">
    <div class="banner_img">
        <div class="container">
            <div class="heading_space d-none d-sm-block">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <p class="main_heading">
                            Best Software Training Institute in Kukatpally
                        </p>
                        <p class="learn_more paragraph_text" routerLink="/course">
                            Learn IT Courses<span class="mt-1 ms-2 arrow">
                                <i class="fa-solid fa-arrow-right"></i>
                            </span>
                        </p>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <p class="paragraph_text">
                            Kukatpally - “The Epicenter of Innovation” - Now features Teks Academy, the leading the top software training institute. Kukatpally, known for its thriving tech community, is a popular destination for aspiring IT professionals. It has gained a reputation as a vital tech corridor in the city.
                        </p>
                        <p class="paragraph_text">
                            With the rise of the IT Sector, automobile and other production and manufacturing industries to the region and nearby areas like Balanagar, Jeedimetla, Kukatpally has become a magnet for students seeking to master programming languages and other cutting-edge skills in advanced Courses Python, Java, AWS &DevOps, Slea force, AutoCAD, B.I.M and Revit etc.,
                        </p>
                        <div class="my-2">
                            <button routerLink="/enquiry-form" class="btn btn-primary btn_color fw-bold">
                                Enquiry Now <i class="fa fa-angle-double-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="heading_space mobile_bg_color d-block d-sm-none">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p class="main_heading">
                        Best Software Training Institute in Kukatpally
                    </p>
                    <p class="learn_more paragraph_text" routerLink="/course">
                        Learn IT Courses<span class="mt-1 ms-2 arrow">
                            <i class="fa-solid fa-arrow-right"></i>
                        </span>
                    </p>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <p class="paragraph_text">
                        Kukatpally - “The Epicenter of Innovation” - Now features Teks Academy, the leading the top software training institute. Kukatpally, known for its thriving tech community, is a popular destination for aspiring IT professionals. It has gained a reputation as a vital tech corridor in the city.
                    </p>
                    <p class="paragraph_text">
                        With the rise of the IT Sector, automobile and other production and manufacturing industries to the region and nearby areas like Balanagar, Jeedimetla, Kukatpally has become a magnet for students seeking to master programming languages and other cutting-edge skills in advanced Courses Python, Java, AWS &DevOps, Slea force, AutoCAD, B.I.M and Revit etc.,
                    </p>
                    <button routerLink="/enquiry-form" class="btn btn-primary btn_color fw-bold">
                        Enquiry Now <i class="fa fa-angle-double-right"></i>
                    </button>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-12">
                   <img src="../../../../../assets/img/branch_images/new_banner_kukatpally_mobile.png" width="100%" height="100%"/>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-center">
            <p class="main_heading">Explore Teks Academy!</p>
            <p class="paragraph_text">
                Teks Academy - The leading software training institute in Kukatpally boasts a decade of excellence in teaching advanced software courses. We are dedicated to the TEKS-Philosophy: Transfer the Experts' Knowledge to Students. Our training academy offers job-oriented IT courses in Kukatpally, Hyderabad, supported by the finest training faculty in India, state-of-the-art technological infrastructure, and modern teaching methodologies. Our courses are meticulously researched and designed to meet current industry standards and requirements.
            </p>
            <p class="paragraph_text">
                Teks Academy, the top software training academy in Kukatpally, Hyderabad, is a haven for tech enthusiasts and a powerhouse of technical expertise. Join us today! Immerse yourself in your passion with the visionary guidance of our highly experienced trainers
            </p>
        </div>
        <div class="">
            <div class="text-center">
                <p class="main_heading">Courses Offered</p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <a routerLink="/courses/best-full-stack-python-development-course-training-institute" class="">
                        <div class="card text-center">
                            <div class="course_box">
                                <img src="../../../../../assets/img/branch_images/python.png" class="img-fluid"
                                    width="20%" height="20%" alt="sap" />
                                <p class="course_name mt-3">Full stack Python</p>
                                <p class="course_description">
                                    This course covers front-end and back-end development,
                                    focusing on Python, Django, Flask, HTML, CSS, and JavaScript.
                                    Gain practical skills through hands-on projects, preparing you
                                    for a successful career in web development.
                                </p>
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <a routerLink="/courses/best-full-stack-java-development-course-training-institute"
                        class="d-block image">
                        <div class="card text-center">
                            <div class="course_box">
                                <img src="../../../../../assets/img/branch_images/java.png" class="img-fluid"
                                    width="20%" height="20%" />
                                <p class="course_name">Full Stack Java</p>
                                <p class="course_description">
                                    This intensive program covers both front-end and back-end
                                    development, equipping you with skills in Java, Spring,
                                    Hibernate, Angular, React, and more
                                </p>
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <a routerLink="/courses/best-data-analytics-course-training-institute" class="">
                        <div class="card text-center">
                            <div class="course_box">
                                <img src="../../../../../assets/img/branch_images/dataanalist.png" class="img-fluid"
                                    width="20%" height="20%" alt="sap" />
                                <p class="course_name mt-3">Data Analytics</p>
                                <p class="course_description">
                                    It covers data visualization, statistical analysis, and data
                                    mining techniques using industry-leading tools and software
                                </p>
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <a routerLink="/courses/best-awsplusdevops-course-training-institute">
                        <div class="card text-center">
                            <div class="course_box">
                                <img src="../../../../../assets/img/branch_images/aws.png" class="img-fluid" width="25%"
                                    height="25%" alt="java" />
                                <p class="course_name">AWS DevOps</p>
                                <p class="course_description">
                                    Master AWS and DevOps essentials. Learn to deploy applications
                                    on AWS and streamline software delivery with DevOps practices.
                                    Gain hands-on skills in cloud computing and automation for
                                    career advancement.
                                </p>
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <a routerLink="/courses/best-digital-marketing-course-training-institute">
                        <div class="card text-center">
                            <div class="course_box">
                                <img src="../../../../../assets/img/branch_images/digital_marketing.png"
                                    class="img-fluid" width="20%" height="20%" />
                                <p class="course_name">Digital Marketing</p>
                                <p class="course_description">
                                    This comprehensive program covers SEO, social media, content
                                    marketing, email campaigns, and more
                                </p>
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <a routerLink="/courses/best-salesforce-admin-development-course-training-institute">
                        <div class="card text-center">
                            <div class="course_box">
                                <img src="../../../../../assets/img/branch_images/salesforce.png" class="img-fluid"
                                    width="20%" height="20%" />
                                <p class="course_name">Salesforce</p>
                                <p class="course_description">
                                    This Program developed to offer you the skills required to
                                    become an expert Salesforce professional. It covers the
                                    fundamentals of Salesforce administration, development, and
                                    cloud computing principles
                                </p>
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <a routerLink="/courses/best-testingtools-course-training-institute">
                        <div class="card text-center">
                            <div class="course_box">
                                <img src="../../../../../assets/img/branch_images/testing.png" class="img-fluid"
                                    width="20%" height="20%" />
                                <p class="course_name">Testing tools</p>
                                <p class="course_description">
                                    Our Testing Toll training provides you with in-depth knowledge
                                    of various testing methodologies and tools. Trainers will guide
                                    you through the essentials of manual and automated testing.
                                </p>
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="text-center">
                <p class="main_heading mb-4">Why Teks</p>
            </div>
            <app-whytekssample></app-whytekssample>
        </div>
        <!-- <div class="mt-5">
                <div class="text-center">
                    <p class="main_heading mb-4">Why Teks</p>
                    <p class="course_description">
                        TEKS Academy is committed to providing our students with the best
                        learning experience that leads to a fulfilling career.
                    </p>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5 col-12">
                            <ul class="list-unstyled text-start">
                                <li class="course_description"><span class="mt-1 ms-2 me-4 arrow"> <i class="fa-solid fa-arrow-right"></i></span>100% placement assistance.</li>
                                <li class="course_description"><span class="mt-1 ms-2 me-4 arrow"> <i class="fa-solid fa-arrow-right"></i></span>Extensive trainings for our students.</li>
                                <li class="course_description"><span class="mt-1 ms-2 me-4 arrow"> <i class="fa-solid fa-arrow-right"></i></span>Industry professionals with 10+ years of experience</li>
                                <li class="course_description"><span class="mt-1 ms-2 me-4 arrow"> <i class="fa-solid fa-arrow-right"></i></span>No cost EMI option</li>
                            </ul>
                        </div>
                        <div class="col-lg-5 col-12">
                            <ul class="list-unstyled text-start">
                                <li class="course_description"><span class="mt-1 ms-2 me-4 arrow"> <i class="fa-solid fa-arrow-right"></i></span>24/7 support assistance</li>
                                <li class="course_description"><span class="mt-1 ms-2 me-4 arrow"> <i class="fa-solid fa-arrow-right"></i></span>Globally recognized certification</li>
                                <li class="course_description"><span class="mt-1 ms-2 me-4 arrow"> <i class="fa-solid fa-arrow-right"></i></span>Access to advanced LMS</li>
                                <li class="course_description"><span class="mt-1 ms-2 me-4 arrow"> <i class="fa-solid fa-arrow-right"></i></span>Assistance to crack job interviews</li>
                            </ul>
                        </div>
                       
                    </div>
                </div>

            </div> -->
            <div class="">
                <div class="text-center">
                    <p class="main_heading mb-4">Testimonials</p>
                </div>
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner pb-5">
                        <div class="carousel-item active">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-6 col-sm-12">
                                    <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                        <div class="text-center">
                                            <img src="../../../../../assets/img/branch_images/testimonials_1.png"
                                                width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                        </div>
                                        <p class="mt-3">
                                            I have learned AWS+DEVOPS course I have an amazing
                                            experience with trainers and faculty the gud skills, gud
                                            communications , and gud soft skill class have I learned
                                        </p>
                                        <p class="paragraph_text fw-bold mt-3 text-dark">
                                            - Lipika
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                        <div class="text-center">
                                            <img src="../../../../../assets/img/branch_images/testimonials_2.png"
                                                width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                        </div>
                                        <p class="mt-3">
                                            I completed the Digital Marketing course at Teks Academy,
                                            and it exceeded my expectations. The trainers are highly
                                            knowledgeable, and the hands-on experience was invaluable!"
                                        </p>
                                        <p class="paragraph_text fw-bold mt-3 text-dark">
                                            - Prasana Kumar
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-6 col-sm-12">
                                    <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                        <div class="text-center">
                                            <img src="../../../../../assets/img/branch_images/testimonials_3.png"
                                                width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                        </div>
                                        <p class="mt-3">
                                            I learn revit bim course... It's a excellent training
                                            centre... The teacher are will train then give bast
                                            performance...
                                        </p>
                                        <p class="paragraph_text fw-bold mt-3 text-dark">- Sai Ram</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                        <div class="text-center">
                                            <img src="../../../../../assets/img/branch_images/testimonials_4.png"
                                                width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                        </div>
                                        <p class="mt-3">
                                            I recently completed data analytics course from teks
                                            academy. The course was good and the instructors were
                                            knowledgeable and friendly. But the placement assistance is
                                            limited. It would have been great if they could improve
                                            this.
                                        </p>
                                        <p class="paragraph_text fw-bold mt-3 text-dark">
                                            - Raj Doddamoni
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-6 col-sm-12">
                                    <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                        <div class="text-center">
                                            <img src="../../../../../assets/img/branch_images/testimonials_5.png"
                                                width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                        </div>
                                        <p class="mt-3">
                                            Very Good Academy Special thanks to our Trainer "Kajal
                                            Mam"(Salesforce Trainer). Thanks for being so Supportive and
                                            Helping us in Each and Every Aspect. I am So Happy for Being
                                            trained under you and gaining Knowledge. Thanks for Every
                                            time you Take Class To us
                                        </p>
                                        <p class="paragraph_text fw-bold mt-3 text-dark">
                                            - Raj mohan reddy
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                        <div class="text-center">
                                            <img src="../../../../../assets/img/branch_images/testimonials_6.png" width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                        </div>
                                        <p class="mt-3">
                                            At Teks Academy Ameerpet, AWS and DevOps training was
                                            game-changing. Instructors were exceptional, making
                                            complicated ideas simple to understand. Hands-on practice
                                            was essential in preparing me for real-world situations. The
                                            positive spirit and engaging setting made learning
                                            enjoyable. "Highly recommended!
                                        </p>
                                        <p class="paragraph_text fw-bold mt-3 text-dark">
                                            -Krishnaprasad Chintapalli
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-6 col-sm-12">
                                    <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                        <div class="text-center">
                                            <img src="../../../../../assets/img/branch_images/testimonials_7.png" width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                        </div>
                                        <p class="mt-3">
                                            I have learn lot of things during this time which was I
                                            don't know really I' I'm happy with teks academy and STAFF
                                            and also especialy with Prem sir sir class was very nice and
                                            I ll enjoy the class
                                        </p>
                                        <p class="paragraph_text fw-bold mt-3 text-dark">
                                            - Danny
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                        <div class="text-center">
                                            <img src="../../../../../assets/img/branch_images/testimonials_8.png" width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                        </div>
                                        <p class="mt-3">
                                            I have learn lot of things during this time which was I
                                            don't know really I' I'm happy with teks academy and STAFF
                                            and also especialy with Prem sir sir class was very nice and
                                            I ll enjoy the class
                                        </p>
                                        <p class="paragraph_text fw-bold mt-3 text-dark">
                                            - Vaibhav
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        <div class="">
            <div class="mb-5">
                <div class="container text-center">
                    <div class="m-0 mb-4 text-center">
                        <p class="main_heading">Most Searched Terms</p>
                    </div>
                    <div class="d-flex flex-wrap most_searched">
                        <span>Best full stack python course in kukatpally</span>
                        <span>Python coaching centres in kukatpally</span>
                        <span>Python course near me</span>
                        <span>Java training in kukatpally</span>
                        <span>Best java training institutes in kukatpally</span>
                        <span>Digital marketing training institutes in kukatpally</span>
                        <span>Digital marketing course in kukatpally</span>
                        <span>Data analyst course in hyderabad</span>
                        <span>Aws course near me </span>
                        <span>Aws course training in kukatpally</span>
                          <span>Salesforce course in hyderabad</span>
                        <span>Best salesforce training institute in kukatpally</span>
                        <span>Testing tools training</span>
                        <span>Testing tools course in kukatpally</span>
                        <span>Best software testing tools in kukatpaaly</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>