<div class="container">
  <div class="row justify-content-end">
    <div class="col-lg-4">
      <form class="d-flex">
        <input class="form-control me-2 bg-light py-1 rounded-3 border border-1" type="search" placeholder="Search"
          aria-label="Search">
      </form>
    </div>
  </div>
  <!-- <div *ngIf="data.length > 0"> -->
    <!-- <ul> -->
      <!-- <li *ngFor="let item of data"> -->
        <!-- <h3>{{ item.title }}</h3> -->
        <!-- <p>{{ item.body }}</p> -->
      <!-- </li> -->
   <!-- </ul> --> 
  <!-- </div> -->
  <div *ngIf="data.length === 0">
    <p>Loading data...</p>
  </div>
  <div class="row mt-3">
    <div class="col-lg-6 col-12 space_mb">
      <a routerLink="/jobdescription">
        <div class="box_shadow">
          <div class="d-flex justify-content-between">
            <div>
              <div class="course_name">Dot Net Developer</div>
              <div class="company_name">Teks Academy</div>
            </div>
            <div>
              <img src="https://img.naukimg.com/logo_images/groups/v1/478706.gif" class="img_size" alt="" />
            </div>
          </div>
          <div class="mt-2">
            <p><i class="fa fa-briefcase me-2" aria-hidden="true"></i>5-10 Yrs
              <span class="border-right border border-1 me-2"></span><i class='fas fa-map-marker-alt'></i> Hyderabad
            </p>
          </div>
          <hr class="line" />
          <div class="d-flex justify-content-between">
            <div class="date">Posted On :<span class="text_bold">27-06-2024</span></div>
            <div class="view_details">View Details</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-6 col-12 space_mb">
      <a routerLink="/jobdescription">
      <div class="box_shadow">
        <div class="d-flex justify-content-between">
          <div>
            <div class="course_name">Dot Net Developer</div>
            <div class="company_name">Teks Academy</div>
          </div>
          <div>
            <img src="https://img.naukimg.com/logo_images/groups/v1/478706.gif" class="img_size" alt="" />
          </div>
        </div>
        <div class="mt-2">
          <p>
            <i class="fa fa-briefcase me-2" aria-hidden="true"></i>5-10 Yrs
            <span class="border-right border border-1 me-2"></span><i class='fas fa-map-marker-alt'></i> Hyderabad
          </p>
        </div>
        <hr class="line" />
        <div class="d-flex justify-content-between">
          <div class="date">Posted On : <span class="text_bold">27-06-2024</span></div>
          <div class="view_details">View Details</div>
        </div>
      </div>
      </a>
    </div>
  </div>
  <div class="row mt-3 d-flex justify-content-center">
    <div class="col-lg-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link text-dark" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
          <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
          <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
          <li class="page-item"><a class="page-link text-dark" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>