<div class="container">
    <div class="row justify-content-center">
        <h2 class="text-center hheading">Top Categories</h2>
        <div class="col-lg-3 col-md-6" routerLink="course-category/in-demand">
            <div class="col-screen-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="container-x">
                    <div class="front-screen-flip"
                        style="background-image: url(../../../../assets/img/categories/categories.jpg)">
                        <div class="inner-screen-flip">
                            <h3>In-Demand Courses</h3>
                            <!-- <span>Lorem ipsum</span> -->
                        </div>
                    </div>
                    <div class="back-screen-flip">

                        <div class="inner">
                            <h3>In-Demand Courses</h3>
                            <p> Full Stack Development
                                Salesforce<br>
                                Data Science<br>
                                Digital Marketing... </p>
                        </div>
                        <button class="default-btn btn btn-sm"> View All</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6" routerLink="course-category/popular">
            <div class="col-screen-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="container-x">
                    <div class="front-screen-flip"
                        style="background-image: url(../../../../assets/img/categories/categories1.jpg)">
                        <div class="inner-screen-flip">
                            <h3> Popular Courses </h3>
                            <!-- <span>Lorem ipsum</span> -->
                        </div>
                    </div>
                    <div class="back-screen-flip">

                        <div class="inner">
                            <h3> Popular Courses </h3>
                            <p> Python<br>
                                Bim<br>
                                AWS + Devops<br>
                                Power BI...<br> </p>
                        </div>
                        <button class="default-btn btn btn-sm"> View All</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6" routerLink="/course-category/foundation">
            <div class="col-screen-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="container-x">
                    <div class="front-screen-flip"
                        style="background-image: url(../../../../assets/img/categories/categories2.jpg)">
                        <div class="inner-screen-flip">
                            <h3>Foundation Courses</h3>
                            <!-- <span>Lorem ipsum</span> -->
                        </div>
                    </div>
                    <div class="back-screen-flip">
                        <div class="inner">
                            <h3> Foundation Courses </h3>
                            <p> Spoken English<br>
                                IELTS<br>
                                Communication Skills<br>
                                PGDCA... </p>
                        </div>
                        <button class="default-btn btn btn-sm"> View All</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6" routerLink="course-category/essential">
            <div class="col-screen-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="container-x">
                    <div class="front-screen-flip"
                        style="background-image: url(../../../../assets/img/categories/categories3.jpg)">
                        <div class="inner-screen-flip">
                            <h3>Essential Courses</h3>
                            <!-- <span>Lorem ipsum</span> -->
                        </div>
                    </div>
                    <div class="back-screen-flip">
                        <div class="inner">
                            <h3> Essential Courses </h3>
                            <p> Java<br>
                                AutoCad<br>
                                Advance Excel + VBA<br>
                                SQL... </p>
                        </div>
                        <button class="default-btn btn btn-sm"> View All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--        
 <div class="section-title">
        <span class="sub-title">News and Blogs</span>
        <h2>Our Latest Publications</h2>
        <p>We always give extra care to our student's skills improvements and feel excited to share our latest research and learnings!</p>
    </div>

    
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
            <div class="single-blog-post">
                <div class="post-image">
                    <a routerLink="/single-blog-1" class="d-block">
                        <img src="assets/img/blog/img1.jpg" alt="image">
                    </a>
                </div>
                <div class="post-content">
                    <a routerLink="/blog-1" class="category">Education</a>
                    <h3><a routerLink="/single-blog-1">University Admissions Could Face Emergency Controls</a></h3>
                    <ul class="post-content-footer d-flex justify-content-between align-items-center">
                        <li>
                            <div class="post-author d-flex align-items-center">
                                <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                                <span>Alex Morgan</span>
                            </div>
                        </li>
                        <li><i class='flaticon-calendar'></i> April 30, 2020</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-blog-post">
                <div class="post-image">
                    <a routerLink="/single-blog-1" class="d-block">
                        <img src="assets/img/blog/img2.jpg" alt="image">
                    </a>
                </div>
                <div class="post-content">
                    <a routerLink="/blog-1" class="category">Online</a>
                    <h3><a routerLink="/single-blog-1">Online Learning Can Prepare Students For A Fast-Changing</a></h3>
                    <ul class="post-content-footer d-flex justify-content-between align-items-center">
                        <li>
                            <div class="post-author d-flex align-items-center">
                                <img src="assets/img/user2.jpg" class="rounded-circle" alt="image">
                                <span>Sarah Taylor</span>
                            </div>
                        </li>
                        <li><i class='flaticon-calendar'></i> April 29, 2020</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-blog-post">
                <div class="post-image">
                    <a routerLink="/single-blog-1" class="d-block">
                        <img src="assets/img/blog/img3.jpg" alt="image">
                    </a>
                </div>
                <div class="post-content">
                    <a routerLink="/blog-1" class="category">Learning</a>
                    <h3><a routerLink="/single-blog-1">As Learning Moves Online, Trigger Warnings Must Too</a></h3>
                    <ul class="post-content-footer d-flex justify-content-between align-items-center">
                        <li>
                            <div class="post-author d-flex align-items-center">
                                <img src="assets/img/user3.jpg" class="rounded-circle" alt="image">
                                <span>David Warner</span>
                            </div>
                        </li>
                        <li><i class='flaticon-calendar'></i> April 28, 2020</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="blog-post-info">
                <p>Get into details now?​ <a routerLink="/blog-1">View all posts</a></p>
            </div>
        </div> 
    </div> -->

    
</div>