.btn_color_button a{
    background-color: #2a619d;
    border:1px solid #2a619d;
    color: #fff;
    cursor: pointer;
}
.btn_color_button{
    background-color: #2a619d;
    border:1px solid #2a619d;
}
.btn_color_button a:hover{
    background-color: #2a619d;
    border:1px solid #2a619d;
    color: #fff;
    cursor: pointer;
}
.btn{
    cursor: pointer;
}