<div class="error-area ptb-100">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="error-content">
                    <!-- <img src="assets/img/error.png" alt="image"> -->
                    <!-- <h3>Error 404 : Page Not Found</h3> -->
                    <h5>Page is not exist, please redirect to home page</h5>
                    <div class="btn-box">
                        <!-- <a routerLink="/" class="default-btn" style="background-color: #2a619d;">Go Back<span></span></a> -->
                        <a routerLink="/" class="default-btn" style="background-color: #2a619d;">Home page<span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <i class="flaticon-history"></i> -->
<!-- <i class="flaticon-home"></i> -->