<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <!-- <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Courses Grid 01</li>
            </ul> -->
      <h2>Courses</h2>
    </div>
  </div>
  <div class="shape9"><img src="assets/img/shape8.svg" alt="image" /></div>
</div>

<div class="courses-area ptb-100">
  <div class="container">
    <div class="odemy-grid-sorting row align-items-center">
      <div class="col-lg-6 col-md-6 result-count">
        <p>
          We found more than <span class="count">40</span> courses available for
          you
        </p>
        <!-- <input type="text" placeholder="Enter Course Name" [(ngModel)]="searchText"> -->
      </div>
    </div>

    <div class="row hybrid viewall" *ngIf="selectedSort === 'hybrid' || selectedSort === 'viewall'">
      <!-- Full Stack Python -->
      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box"
          routerLink="/courses/best-full-stack-python-development-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-full-stack-python-development-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/fullstackpython.png" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$39</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user6.jpg" class="rounded-circle" alt="image" />
              <span>Alex Morgan</span>
            </div>
            <h3>
              <a routerLink="/courses/best-full-stack-python-development-course-training-institute">Full Stack
                Python</a>
            </h3>
            <p>
              The Full-stack Python course includes the prime elements of Python and web frameworks like Django, Flask, and more.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 15 Lessons</li>
              <li><i class="flaticon-people"></i> 145 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Full Stack Java -->
      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box"
          routerLink="/courses/best-full-stack-java-development-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-full-stack-java-development-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/fullstackjava.png" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$59</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user3.jpg" class="rounded-circle" alt="image" />
              <span>David Warner</span>
            </div>
            <h3>
              <a routerLink="/courses/best-full-stack-java-development-course-training-institute">Full Stack Java</a>
            </h3>
            <p>
              Full Stack Java helps in developing both Front-end and Back-end components of web applications, with Hibernate and more Frameworks.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 20 Lessons</li>
              <li><i class="flaticon-people"></i> 150 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Digital Marketing -->
      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-digital-marketing-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-digital-marketing-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/Digital-Marketing.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
          <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-digital-marketing-course-training-institute">Digital Marketing</a>
            </h3>
            <p>
              The extensive digital marketing program deals with SEO, social media marketing, content marketing, email campaigns, and more.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Data Science -->
      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-data-science-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-data-science-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/Data-Science.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-data-science-course-training-institute">Data Science</a>
            </h3>
            <p>
              The Data Science Program is designed to equip you with vital skills in data analysis, machine learning, and statistical modeling.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Sapfico -->
      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box"
          routerLink="/courses/best-sap-fico-finance-and-controlling-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-sap-fico-finance-and-controlling-course-training-institute"
              class="d-block image">
              <img src="assets/img/allcourses/Sapfico.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$39</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user6.jpg" class="rounded-circle" alt="image" />
              <span>Alex Morgan</span>
            </div>
            <h3>
              <a routerLink="/courses/best-sap-fico-finance-and-controlling-course-training-institute">SAP FICO</a>
            </h3>
            <p>
              SAP FICO in simple, financial accounting and controlling. That covers modules like General Ledger, Accounts Payable, etc
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 15 Lessons</li>
              <li><i class="flaticon-people"></i> 145 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- SAP SD -->

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box"
          routerLink="/courses/best-sap-sd-sales-and-distribution-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-sap-sd-sales-and-distribution-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/SAP SD.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$39</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user6.jpg" class="rounded-circle" alt="image" />
              <span>Alex Morgan</span>
            </div>
            <h3>
              <a routerLink="/courses/best-sap-sd-sales-and-distribution-course-training-institute">SAP SD</a>
            </h3>
            <p>
              SAP SD (Sales and Distribution) is a core module of SAP ERP, which helps in handling activities such as order processing, delivery, and billing.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 15 Lessons</li>
              <li><i class="flaticon-people"></i> 145 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- SAP PP -->

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-sap-pp-production-planning-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-sap-pp-production-planning-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/SAP PP.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$39</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user6.jpg" class="rounded-circle" alt="image" />
              <span>Alex Morgan</span>
            </div>
            <h3>
              <a routerLink="/courses/best-sap-pp-production-planning-course-training-institute">SAP PP</a>
            </h3>
            <p>
              SAP Production Planning (SAP PP) enables the planning and management of manufacturing processes.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 15 Lessons</li>
              <li><i class="flaticon-people"></i> 145 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- SAP MM -->

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-sap-mm-meterial-management-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-sap-mm-meterial-management-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/SAP-MM.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$39</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user6.jpg" class="rounded-circle" alt="image" />
              <span>Alex Morgan</span>
            </div>
            <h3>
              <a routerLink="/courses/best-sap-mm-meterial-management-course-training-institute">SAP MM</a>
            </h3>
            <p>
              The Best SAP Material Management course covers key modules like Procurement, Inventory Management, and Invoice Verification.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 15 Lessons</li>
              <li><i class="flaticon-people"></i> 145 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Testing tools -->
      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-testingtools-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-testingtools-course-training-institute" class="d-block image">
              <img src="../../../../assets/img/allcourses/Testing_Tools.png" alt="image" />
            </a>
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-testingtools-course-training-institute">Testing Tools</a>
            </h3>
            <p>
              Testing Tools are crucial for software programs. To test and evaluate their performance, security, functionality, and overall quality.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- AWSPLUSDEVOPS -->
      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-awsplusdevops-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-awsplusdevops-course-training-institute" class="d-block image">
              <img src="../../../../assets/img/allcourses/AWS+DEVEOPS.png" alt="image" />
            </a>
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-awsplusdevops-course-training-institute">AWS+DEVOPS</a>
            </h3>
            <p>
              AWS+DevOps builds a vigorous framework for automating infrastructure management, deploying applications, and monitoring performance.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- BIM -->

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box"
          routerLink="/courses/best-bim-building-information-modeling-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-bim-building-information-modeling-course-training-institute"
              class="d-block image">
              <img src="assets/img/allcourses/bim.png" alt="image" />
            </a>
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-bim-building-information-modeling-course-training-institute">BIM</a>
            </h3>
            <p>
              The BIM is developed to revolutionize your approach to architecture, engineering, and construction to create innovative building designs.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Salesforce -->

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box"
          routerLink="/courses/best-salesforce-admin-development-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-salesforce-admin-development-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/Salesforce.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-salesforce-admin-development-course-training-institute">Salesforce</a>
            </h3>
            <p>
              The Salesforce course covers the principles of Salesforce administration, development, and cloud computing principles.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Manual Testing -->

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box"
          routerLink="/courses/best-manual-testing-software-testing-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-manual-testing-software-testing-course-training-institute"
              class="d-block image">
              <img src="assets/img/allcourses/manualtesting.png" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$49</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user5.jpg" class="rounded-circle" alt="image" />
              <span>Sarah Taylor</span>
            </div>
            <h3>
              <a routerLink="/courses/best-manual-testing-software-testing-course-training-institute">Manual Testing</a>
            </h3>
            <p>
              Manual testing plays a prime role in identifying defects in software by executing test cases without using automation tools.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 20 Lessons</li>
              <li><i class="flaticon-people"></i> 100 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- AI AND ML -->
      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-ai-and-ml-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-ai-and-ml-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/AI.png" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$49</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user5.jpg" class="rounded-circle" alt="image" />
              <span>Sarah Taylor</span>
            </div>
            <h3>
              <a routerLink="/courses/best-ai-and-ml-course-training-institute">AI and ML</a>
            </h3>
            <p>
              Artificial Intelligence replicates human intelligence to perform tasks and make decisions, while Machine Learning is a subset of AI.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 20 Lessons</li>
              <li><i class="flaticon-people"></i> 100 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Multimedia -->
      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-multimedia-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-multimedia-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/multimedia.png" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$49</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user5.jpg" class="rounded-circle" alt="image" />
              <span>Sarah Taylor</span>
            </div>
            <h3>
              <a routerLink="/courses/best-multimedia-course-training-institute">MultiMedia</a>
            </h3>
            <p>
              Multimedia combines various content types - audio, images, video, and animation - into one cohesive presentation for effective communication.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 20 Lessons</li>
              <li><i class="flaticon-people"></i> 100 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Medical Coding -->

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-medical-coding-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-medical-coding-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/medical_coding.png" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$49</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user5.jpg" class="rounded-circle" alt="image" />
              <span>Sarah Taylor</span>
            </div>
            <h3>
              <a routerLink="/courses/best-medical-coding-course-training-institute">Medical Coding</a>
            </h3>
            <p>
              This comprehensive course aids in transforming healthcare diagnoses, services, and procedures into standardized alphanumeric codes.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 20 Lessons</li>
              <li><i class="flaticon-people"></i> 100 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-hvac-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-hvac-training-institute" class="d-block image">
              <img src="assets/img/allcourses/hvac.png" alt="hvac" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$49</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user2.jpg" class="rounded-circle" alt="image" />
              <span>Sarah Taylor</span>
            </div>
            <h3>
              <a routerLink="/courses/best-hvac-training-institute">HVAC</a>
            </h3>
            <p>
              HVAC refers to Heating, Ventilation, and Air Conditioning. It is composed of components like heaters, air conditioners, and thermostats.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 20 Lessons</li>
              <li><i class="flaticon-people"></i> 100 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-3ds-max-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-3ds-max-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/3dsmax.png" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$59</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user3.jpg" class="rounded-circle" alt="image" />
              <span>David Warner</span>
            </div>
            <h3>
              <a routerLink="/courses/best-3ds-max-course-training-institute">3ds max</a>
            </h3>
            <p>
              3ds Max is a dynamic 3D modeling that represents software used for creating detailed 3D assets for games and architectural visualization.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 20 Lessons</li>
              <li><i class="flaticon-people"></i> 150 Students</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box"
          routerLink="/courses/best-staad-pro-civil-engineering-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-staad-pro-civil-engineering-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/staadpro.png" alt="staad.pro" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-staad-pro-civil-engineering-course-training-institute">STAAD.PRO</a>
            </h3>
            <p>
              STAAD.PRO is a structural analysis used for modeling, analyzing, and designing complex structures. Such as buildings, bridges, and towers.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-primavera-p6-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-primavera-p6-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/primavera.png" alt="primavera" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$39</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user1.jpg" class="rounded-circle" alt="image" />
              <span>Alex Morgan</span>
            </div>
            <h3>
              <a routerLink="/courses/best-primavera-p6-course-training-institute">Primavera</a>
            </h3>
            <p>
              This project management software course is developed by Oracle. It offers tools for planning, managing, and executing large-scale projects.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 15 Lessons</li>
              <li><i class="flaticon-people"></i> 145 Students</li>
            </ul>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box"
          routerLink="/courses/best-artificial-intelligence-best-ai-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-artificial-intelligence-best-ai-course-training-institute"
              class="d-block image">
              <img src="assets/img/allcourses/artificial-intelligence.png" alt="image" />
            </a>
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-artificial-intelligence-best-ai-course-training-institute">ARTIFICIAL
                INTELLIGENCE</a>
            </h3>
            <p>
              AI includes creating systems that simulate human intelligence. That involves machine learning processing to enable machines to make decisions.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>



      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-sketching-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-sketching-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/sketching.png" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-sketching-course-training-institute">SKETCHING</a>
            </h3>
            <p>
              Sketching is a fundamental technique in art and design that is used for visualizing and iterating on new creative ideas
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-devops-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-devops-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/devops.png" alt="image" />
            </a>
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-devops-course-training-institute">DevOps</a>
            </h3>
            <p>
              This program integrates development and operations that promote continuous delivery and collaboration. It uses automation tools.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-revit-mep-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-revit-mep-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/revit-mep.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-revit-mep-course-training-institute">Revit MEP</a>
            </h3>
            <p>
              Revit MEP is BIM software for designing and managing mechanical, electrical, and plumbing systems, it deals in building projects.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-c-language-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-c-language-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/C-Program.jpg" alt="image" />
            </a>
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-c-language-course-training-institute">C language</a>
            </h3>
            <p>
              C is a high-level programming language known for its efficiency and control over system resources. It is widely used for system software development.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box"
          routerLink="/courses/best-python-developer-programming-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-python-developer-programming-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/Python.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-python-developer-programming-course-training-institute">Python</a>
            </h3>
            <p>
              Python is a high-level, interpreted language known for its readability and simplicity. It is widely used in web development and data analysis.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-autocad-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-autocad-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/AutoCAD.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-autocad-course-training-institute">AutoCAD</a>
            </h3>
            <p>
              The course is completely based on understanding of computer-aided design. The AutoCAD course is intricacies of 2D and 3D drafting and modeling.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-revit-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-revit-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/Revit.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-revit-course-training-institute">Revit</a>
            </h3>
            <p>
              The Revit course covers from basic concepts to advanced functionalities, ensuring to handle real-world architectural and construction projects.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-sql-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-sql-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/SQL.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-sql-course-training-institute">SQL</a>
            </h3>
            <p>
              Structured Query Language is a standard programming language that handles data manipulation, retrieval, and schema management.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-power-bi-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-power-bi-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/Power-Bi.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-power-bi-course-training-institute">Power BI</a>
            </h3>
            <p>
              Power BI is a Microsoft business analytics tool that transforms data into interactive visualizations, reports, and sharing across organizations.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-tableau-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-tableau-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/Tableau.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-tableau-course-training-institute">Tableau</a>
            </h3>
            <p>
              Tableau is a dynamic data visualization tool that transforms complex data into interactive and analyzes real-time data for decision-making.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-business-analytics-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-business-analytics-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/Business-Analytics.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-business-analytics-course-training-institute">Business Analytics</a>
            </h3>
            <p>
              Business Analytics uses statistical methods and software tools for analyzing data to make informed business decisions.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>



      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-ielts-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-ielts-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/IELTS.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-ielts-course-training-institute">IELTS</a>
            </h3>
            <p>
              International English Language Testing System will make you proficient in four skills of English: Listening, Reading, Writing, and Speaking.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-advance-excel-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-advance-excel-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/Advance-Excel.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-advance-excel-course-training-institute">Advance Excel</a>
            </h3>
            <p>
              This course involves complex functions, data analysis tools, and VBA scripting for automating tasks. It has a sophisticated spreadsheet
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-aws-amazon-web-services-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-aws-amazon-web-services-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/AWS.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-aws-amazon-web-services-course-training-institute">AWS</a>
            </h3>
            <p>
              AWS (Amazon Web Services) provides scalable cloud computing solutions that support diverse applications with flexibility across global data centers.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-data-analytics-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-data-analytics-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/AWS.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-data-analytics-course-training-institute">Data Analytics</a>
            </h3>
            <p>
              The data analytics course covers data visualization, statistical analysis, and data mining techniques using industry-leading tools and software.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-data-analytics-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-data-analytics-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/Data-Analytics.jpg" alt="image" />
            </a>
            
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
              
              
              <h3>
                <a routerLink="/courses/best-data-analytics-course-training-institute">Data Analytics</a>
              </h3>
              <p>
                Data analytics courses will make the students ready to help
                business make better decisions and assess consumer preferences
                and satisfaction.
              </p>
              <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                <li><i class="flaticon-agenda"></i> 44 Lessons</li>
                <li><i class="flaticon-people"></i> 440 Students</li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/aws/">
          <div class="courses-image">
            <a routerLink="/courses/aws/" class="d-block image">
              <img src="assets/img/allcourses/AWS.jpg" alt="image" />
            </a>
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img
                src="assets/img/user4.jpg"
                class="rounded-circle"
                alt="image"
              />
              <span>James Anderson</span>
            </div>
            <h3><a routerLink="/courses/aws/">AWS</a></h3>
            <p>
              In AWS you will learn how to develop and deploy highly scalable
              and fault-tolerant apps, implement AWS security and testing,
            </p>
            <ul
              class="courses-box-footer d-flex justify-content-between align-items-center"
            >
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div> -->

      <div class="col-lg-4 col-md-6">
        <div class="single-courses-box" routerLink="/courses/best-revit-structure-course-training-institute">
          <div class="courses-image">
            <a routerLink="/courses/best-revit-structure-course-training-institute" class="d-block image">
              <img src="assets/img/allcourses/revit-structure.png" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <img src="assets/img/user4.jpg" class="rounded-circle" alt="image" />
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/best-revit-structure-course-training-institute">REVIT STRUCTURE</a>
            </h3>
            <p>
              Revit Structure the BIM software that deals in designing and modeling structural elements. It enhances building performance and coordination.
            </p>
            <ul class="courses-box-footer d-flex justify-content-between align-items-center">
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>