<div class="container">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center align-items-center">
            <img src="../../../../assets/img/thank_you.png" alt="">
        </div>
        <div class="col-lg-12 d-flex justify-content-center align-items-center text-center qlwapp-togglew">
            <span><b>Click on the link to join community for more Information </b><br>
                <a href="https://chat.whatsapp.com/IDdMLZsDw0d3l5lzG6ibG7">
                <span class="qlwapp-togglew wastyle" >
                    <i class="fab fa-whatsapp"></i><span >&nbsp; Click and Join</span>
                  </span>
                
                    </a><br>
            </span>
        </div>
    </div>
</div>