<div class="container">
  <div *ngIf="isLoading">
    <p>Loading job details...</p>
  </div>
  <div class="row mt-3">
    <div class="col-lg-8" *ngIf="!isLoading && jobDetails">
      <div class="box_shadow">
        <div class="d-flex justify-content-between">
          <div>
            <div class="course_name">{{ jobDetails.id }}. {{ jobDetails.title }}</div>
            <div class="company_name">{{ jobDetails.company_name }}</div>
          </div>
          <div>
            <img [src]="imagePath+jobDetails.company_logo" alt="Job Image" class="img_size img-thumbnail" style="max-width: 200px;">
          </div>
        </div>
        <div class="mt-2">
          <p>
            <i class="fa fa-briefcase me-2" aria-hidden="true"></i>5-10 Yrs
            <span class="border-right border border-1 me-2"></span>
            <i class="fas fa-map-marker-alt"></i> {{ jobDetails.location }}
          </p>
        </div>
        <hr class="line" />
        <div class="d-flex justify-content-between">
          <div class="date">Posted On:
            <span class="text_bold">{{ jobDetails.posted_date ? (jobDetails.posted_date | date: 'dd-MM-yyyy') : 'Invalid date' }}</span>
          </div>
          <button type="button" class="btn btn-primary btn_color" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Apply
          </button>
        </div>
      </div>
      <div class="box_shadow mt-3 mb-2">
        <div class="boldd mt-2" *ngIf="jobDetails">
          <div [innerHTML]="jobDetails.description"></div>
        </div>
        <div *ngIf="!isLoading && !jobDetails">
          <p>Job not found or an error occurred.</p>
        </div>
        <div class="text-end">
          <button type="button" class="btn btn-primary btn_color" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Apply
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for form -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Please Fill Your Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form_height">
              <label for="name" class="form-label mb-1">Full Name<span class="text-danger">*</span></label>
              <input type="text" class="form-control py-1" id="name" formControlName="name" placeholder="Enter Name">
              <div *ngIf="formSubmitted && form.get('name')?.hasError('required')">
                <small class="text-danger lh-1 fs_12">Name is required</small>
              </div>
            </div>
            <div class="form_height">
              <label for="email" class="form-label mb-1">Email<span class="text-danger">*</span></label>
              <input type="email" class="form-control py-1" id="email" formControlName="email" placeholder="Enter Email">
              <div *ngIf="formSubmitted && form.get('email')?.hasError('required')">
                <small class="text-danger lh-1 fs_12">Email is required</small>
              </div>
              <div *ngIf="formSubmitted && form.get('email')?.hasError('email')">
                <small class="text-danger lh-1 fs_12">Enter a valid email</small>
              </div>
            </div>
            <div class="form_height">
              <label for="contactNumber" class="form-label mb-1">Contact Number<span class="text-danger">*</span></label>
              <input type="text" class="form-control py-1" id="contactNumber" formControlName="contactNumber" maxlength="10" placeholder="Enter Contact Number">
              <div *ngIf="formSubmitted && form.get('contactNumber')?.hasError('required')">
                <small class="text-danger lh-1 fs_12">Contact number is required</small>
              </div>
              <div *ngIf="formSubmitted && form.get('contactNumber')?.hasError('pattern')">
                <small class="text-danger lh-1 fs_12">Enter a valid contact number</small>
              </div>
            </div>
            <div class="form_height">
              <label for="location" class="form-label mb-1">Location<span class="text-danger">*</span></label>
              <input type="text" class="form-control py-1" id="location" formControlName="location" placeholder="Enter Location">
              <div *ngIf="formSubmitted && form.get('location')?.hasError('required')">
                <small class="text-danger lh-1 fs_12">Location is required</small>
              </div>
            </div>
            <div class="form_height">
              <label for="enrollmentId" class="form-label mb-1">Enrollment ID</label>
              <input type="text" class="form-control py-1" id="enrollmentId" formControlName="enrollmentId" placeholder="Enter Enrollment ID">
            </div>
            <div class="form_height">
              <label for="file" class="form-label mb-1">Upload Resume<span class="text-danger">*</span></label>
              <input type="file" class="form-control py-1" id="file" (change)="onFileChange($event)" #fileInput>
              <div *ngIf="formSubmitted && form.get('file')?.hasError('required')">
                <small class="text-danger lh-1 fs_12">File is required</small>
              </div>
              <div *ngIf="fileErrorMessage">
                <small class="text-danger lh-1 fs_12">{{ fileErrorMessage }}</small>
              </div>
            </div>
            <div class="text-end mt-3">
              <button type="submit" class="btn btn-primary btn_color">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
