<div class="container">
  <div *ngIf="isLoading">
    <p>Loading job details...</p>
  </div>
  <div class="row mt-3">
    <div class="col-lg-8" *ngIf="!isLoading && jobDetails">
      <div class="box_shadow cursor_pointer">
        <div class="d-flex justify-content-between">
          <div>
            <!-- <div class="course_name">{{ jobDetails.id }}. {{ jobDetails.title }}</div> -->
            <div class="course_name">{{ jobDetails.title }}</div>
            <div class="company_name">{{ jobDetails.company_name }}</div>
          </div>
          <!-- <div>
            <img [src]="imagePath+jobDetails.company_logo" alt="Job Image" class="img_size img-thumbnail"
              style="max-width: 200px;">
          </div> -->
          <div>
            <img
              [src]="imagePath + (jobDetails.company_logo && jobDetails.company_logo !== 'null' ? jobDetails.company_logo : '1741243278140_banklogo.png')"
              alt="Job Image" class="img_size img-thumbnail" style="max-width: 200px;">
          </div>
        </div>
        <div class="mt-2">
          <p>
            <!-- <i class="fa fa-briefcase me-2" aria-hidden="true"></i>5-10 Yrs
            <span class="border-right border border-1 me-2"></span> -->
            <i class="fas fa-map-marker-alt"></i> {{ jobDetails.location }}
          </p>
        </div>
        <hr class="line" />
        <div class="apply_share">
          <div class="date mt-2">{{closingDateValid ? "Apply before :" : ""}}
            <span class="text_bold">
              {{ closingDateValid ? (jobDetails.closing_date | date: 'dd-MM-yyyy') : 'Expired' }}
            </span>




          </div>
          <div class="mt-2">
            <button type="button" class="btn btn-primary btn_color me-3" data-bs-toggle="modal"
              data-bs-target="#shareModal" (click)="setShareUrl(job)">
              <i class="fa fa-share-alt"></i> share
            </button>


            <!-- <button *ngIf="closingDateValid" type="button" class="btn btn-primary btn_color" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              Apply
            </button> -->
            
            <button *ngIf="closingDateValid" type="button" class="btn btn-primary btn_color" (click)="openJobApplication()">
              Apply
            </button>



          </div>
        </div>
      </div>
      <div class="box_shadow mt-3 mb-2">
        <div class="boldd mt-2" *ngIf="jobDetails">
          <div [innerHTML]="jobDetails.description"></div>
        </div>
        <div *ngIf="!isLoading && !jobDetails">
          <p>Job not found or an error occurred.</p>
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary btn_color me-3" data-bs-toggle="modal"
            data-bs-target="#shareModal" (click)="setShareUrl(job)">
            <i class="fa fa-share-alt"></i> share
          </button>
          <button *ngIf="closingDateValid" type="button" class="btn btn-primary btn_color " (click)="openJobApplication()"
            >
            Apply
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for form -->
  

  <!-- Share Modal -->
  <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shareModalLabel">Share this job</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
          <!-- First Row: Social Media Icons -->
          <div class="d-flex justify-content-around align-items-center mb-3">
            <a [href]="'https://api.whatsapp.com/send?text=' + encodedShareUrl" target="_blank" class="d-inline-block">
              <img src="../../../../assets/img/branch_images/whatsapp.svg" alt="WhatsApp" width="28px" height="28px" />
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fexample.com" target="_blank"
              class="d-inline-block">
              <img src="../../../../assets/img/branch_images/facebook.svg" alt="Facebook" width="28px" height="28px" />
            </a>
            <a [href]="'https://www.instagram.com/?url=' + encodedShareUrl" target="_blank" class="d-inline-block">
              <img src="../../../../assets/img/branch_images/instagram.svg" alt="Instagram" width="28px"
                height="28px" />
            </a>
          </div>

          <!-- Link Copy Section -->
          <div class="mt-3 d-flex align-items-center">
            <input type="text" [value]="shareUrl" readonly class="form-control" />
            <a (click)="copyLink()" class="ms-2 btn" type="button">
              <i class="fas fa-copy" style="cursor: pointer"></i>
            </a>
          </div>
          <!-- Success Message Display -->
          <div class="mt-2" *ngIf="copied">
            <p class="ms-2" style="color: green; font-weight: bold;">Link copied to clipboard!</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div style="height: 15vh;"></div>
</div>