<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <!-- <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/">Development</a></li>
                <li>Python for Finance: Investment Fundamentals & Data Analytics</li>
            </ul> -->
            <h2>PGDCA</h2>
            <!-- <div class="rating">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <div class="rating-count">
                    <span>4.0 (1 rating)</span>
                </div>
            </div> -->
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>

<div class="courses-details-area pb-100">
    <div class="courses-details-image">
        <img src="assets/img/singlecourse-banner.jpg" alt="image">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="courses-details-desc">
                    <ngx-tabset>
                        <ngx-tab tabTitle="Curriculum">
                            <div class="courses-curriculum">
                                <h3 class="course-heading" (click)="toggleCourseList1()">PGDCA Introduction <i class="fa-solid fa-circle-chevron-down"></i></h3>
                                <ul class="cp" [class.show]="showCourseList1">
                                <li>
                                    <a href="https://teksaacademy-intro.s3.ap-south-1.amazonaws.com/PGDCA+-+INTRODUCTION.mp4" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">PGDCA Introduction</span>
                                    <div class="courses-meta">
                                        <!-- <span class="questions">5 questions</span>
                                        <span class="duration">01 Hour</span> -->
                                        <span class="status">Preview</span>
                                    </div>
                                    </a>
                                </li>
                                </ul>

                                <h3 class="course-heading" (click)="toggleCourseList2()">Typing <i class="fa-solid fa-circle-chevron-down"></i></h3>
                                <ul class="cp" [class.show]="showCourseList2">
                                <li>
                                    <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">PGDCA Typing - Part 1</span>
                                    <div class="courses-meta">
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">PGDCA Typing - Part 2</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                </ul>

                                <h3 class="course-heading" (click)="toggleCourseList3()">MS Paint <i class="fa-solid fa-circle-chevron-down"></i></h3>
                                <ul class="cp" [class.show]="showCourseList3">
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Paint - Part 1</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Paint - Part 2</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                </ul>
                                <h3 class="course-heading" (click)="toggleCourseList4()">MS Word <i class="fa-solid fa-circle-chevron-down"></i></h3>
                                <ul class="cp" [class.show]="showCourseList4">
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Word - Home Tab</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Word - Insert Tab - Part 1</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Word - Insert Tab - Part 2</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Word - Insert Tab - Part 3</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Word - Design Tab</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Word - Pagelayout Tab</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Word - Reference Tab - Part 1</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Word - Reference Tab - Part 2</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Word - Mailing Tab</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Word - Review Tab</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Word - View Tab</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                </ul>
                                <h3 class="course-heading" (click)="toggleCourseList5()">MS Excel <i class="fa-solid fa-circle-chevron-down"></i></h3>
                                <ul class="cp" [class.show]="showCourseList5">
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Excel - Home Tab - Part 1</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Excel - Home Tab - Part 2</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Excel - Insert Tab - Part 1</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Excel - Insert Tab - Part 2</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Excel - Page Layout Tab</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Excel - Formula Tab</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Excel - Review Tab</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS Excel - View Tab</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                </ul>
                                <h3 class="course-heading" (click)="toggleCourseList5()">MS PPT(Power Point Presentation) <i class="fa-solid fa-circle-chevron-down"></i></h3>
                                <ul class="cp" [class.show]="showCourseList5">
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS PPT - Home Tab - Part 1</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS PPT - Home Tab - Part 2</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS PPT - Insert Tab</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS PPT - Design Tab</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS PPT - Transition Tab</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS PPT - Animations Tab</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS PPT - Slide Show Tab</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS PPT - Review Tab</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">MS PPT - View Tab</span>
                                        <div class="courses-meta">
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </ngx-tab>
                        <ngx-tab tabTitle="Overview">
                            <div class="courses-overview active">
                                <h3>Course Description:</h3>
                                <p>PGDCA (Post Graduate Diploma in Computer Application) is designed to give students a clear understanding about computer applications. The course mainly focuses on the practical and theoretical knowledge of computers and their applications. The course provides knowledge about operating systems, software engineering and database management systems.</p>
                                <p>The course provides the necessary skills and knowledge to become more skillful in computer applications. This course helps students get into jobs in various industries.</p>
                                <h3>Why is PGDCA important?</h3>
                                <p>PGDCA is one of the professionals programmed that can help you acquire a deeper understanding of computer applications. PGDCA is also designed for graduate students who pursue specialization and have sufficient computer-related technical knowledge.</p>
                                <p>The diploma programmed enables you to enter the professional world and obtain a higher-paying position in the industry. You will have flexibility in learning the entire course, which is one of the course’s primary advantages.</p>
                                <h3>What does PGDCA provide you with?</h3>
                                <p>The PGDCA covers every basic to intermediate computer application that is essential in the IT industry. Our PGDCA provides the following takeaways.</p>
                                <ul>
                                    <li>You will excel at Microsoft Office applications.</li>
                                    <li>In-depth detail about the software and hardware.</li>
                                    <li>Entire working of the programming and the computer system.</li>
                                    <li>Shortcuts that are used in everyday computer applications.</li>
                                </ul>
                                <h3>Who should take the PGDCA course?</h3>
                                <p>Unlike other courses PGDCA does not take more time to complete. You can master the basic computer application and shortcuts in a very short time.</p>
                                <ul>
                                    <li>Students who earned a bachelor’s degree.</li>
                                    <li>Working professionals who require a computer skills upgrade.</li>
                                    <li>Students interested in pursuing a career in computer science.</li>
                                </ul>
                                <h3>Outlines of PGDCA:</h3>
                                <ul>
                                    <li>PGDCA Introduction Lessons</li>
                                    <li>Typing</li>
                                    <li>Paint</li>
                                    <li>Microsoft Office Word</li>
                                    <li>Microsoft Office Excel</li>
                                    <li>Microsoft Office PowerPoint Presentation</li>
                                </ul>
                                <p>The completion of this PGDCA course gives the students the necessary skills to meet the requirements of the industry. The learner will get an internationally valid certification after completion.</p>
                                <h3>Course Syllabus</h3>
                                <h4>PGDCA Introduction</h4>
                                <ul>
                                    <li>Introduction</li>
                                </ul>
                                <h4>Typing</h4>
                                <ul>
                                    <li>PGDCA Typing – Part 1</li>
                                    <li>PGDCA Typing – Part 2</li>
                                </ul>
                                <h4>MS Paint</h4>
                                <ul>
                                    <li>MS Paint – Part 1</li>
                                    <li>MS Paint – Part 2</li>
                                </ul>
                                <h4>MS Word</h4>
                                <ul>
                                    <li>MS Word – Home Tab</li>
                                    <li>MS Word – Insert Tab – Part 1</li>
                                    <li>MS Word – Insert Tab – Part 2</li>
                                    <li>MS Word – Insert Tab – Part 3</li>
                                    <li>MS Word – Design Tab</li>
                                    <li>MS Word – Page Layout Tab</li>
                                    <li>MS Word – Reference Tab – Part 1</li>
                                    <li>MS Word – Reference Tab – Part 2</li>
                                    <li>MS Word – Mailing Tab</li>
                                    <li>MS Word – Review Tab</li>
                                    <li>MS Word – View Tab</li>
                                </ul>
                                <h3>MS Excel</h3>
                                <ul>
                                    <li>MS Excel – Home Tab – Part 1</li>
                                    <li>MS Excel – Home Tab – Part 2</li>
                                    <li>MS Excel – Insert Tab – Part 1</li>
                                    <li>MS Excel – Insert Tab – Part 2</li>
                                    <li>MS Excel – Page Layout Tab</li>
                                    <li>MS Excel – Formula Tab</li>
                                    <li>MS Excel – Review Tab</li>
                                    <li>MS Excel – View Tab</li>
                                </ul>
                                <h3>MS PPT (Power Point Presentation)</h3>
                                <ul>
                                    <li>MS PPT – Home Tab – Part 1</li>
                                    <li>MS PPT – Home Tab – Part 2</li>
                                    <li>MS PPT – Insert Tab</li>
                                    <li>MS PPT – Design Tab</li>
                                    <li>MS PPT – Transition Tab</li>
                                    <li>MS PPT – Animations Tab</li>
                                    <li>MS PPT – Slide Show Tab</li>
                                    <li>MS PPT – Review Tab</li>
                                    <li>MS PPT – View Tab</li>
                                </ul>
                            </div>
                        </ngx-tab>
                    </ngx-tabset>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="courses-details-info">
                    <div class="image">
                        <img src="assets/img/courses/img1.jpg" alt="image">
                        <a href="#" class="link-btn popup-youtube"></a>
                        <div class="content">
                            <i class="flaticon-play"></i>
                            <span>Course Preview</span>
                        </div>
                    </div>
                    <app-slp-overview-form></app-slp-overview-form>
                    <ul class="info">
                        <li class="price">
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-tag"></i> Price</span>
                                $49
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-teacher"></i> Instructor</span>
                                Ms. Anitha
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-time"></i> Duration</span>
                                13 Hours
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-time"></i> Duration</span>
                                6 Hours
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-time"></i> Duration</span>
                                6 Hours
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-distance-learning"></i> Language</span>
                                English
                            </div>
                        </li>
                        <!-- <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-web"></i> Enrolled</span>
                                255 students
                            </div>
                        </li> -->
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-lock"></i> Access</span>
                                Lifetime
                            </div>
                        </li>
                    </ul>
                    <div class="btn-box">
                        <!-- <a routerLink="/single-courses-1" class="default-btn"><i class="flaticon-shopping-cart"></i>Add to Cart<span></span></a> -->
                        <a href="https://www.teksacademy.live/courses/AutoCAD-642d778ae4b0be2aab586027?commit=Enroll" class="default-btn"><i class="flaticon-tag"></i>Buy Now<span></span></a>
                    </div>
                    <div class="courses-share">
                        <div class="share-info">
                            <span>Share This Course <i class="flaticon-share"></i></span>
                            <ul class="social-link">
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

