<div class="container my-2">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
            <div class="box_shadow">
                {{ studentId }}
                <div class="text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQABqQIdskCD9BK0I81EbVfV9tTz320XvJ35A&s"
                        class="rounded-circle img-fluid mt-2" width="20%" height="20%" alt="student image" />
                </div>
                <div class="row mt-4 d-flex justify-content-center">
                    <div class="col-lg-10">
                        <table class="table table-hover border border-1">
                            <tbody>
                                <tr>
                                    <th class="heading_one">Name</th>
                                    <th class="heading_two">: Sri lakshmi</th>
                                </tr>
                                <tr>
                                    <th class="heading_one">Enrollment ID</th>
                                    <th class="heading_two">: 12345678</th>
                                </tr>
                                <tr>
                                    <th class="heading_one">Course</th>
                                    <th class="heading_two">: Python</th>
                                </tr>
                                <tr>
                                    <th class="heading_one">Branch</th>
                                    <th class="heading_two">: Ameerpet</th>
                                </tr>
                                <tr>
                                    <th class="heading_one">Start Date</th>
                                    <th class="heading_two">: 1-jan-2024</th>
                                </tr>
                                <tr>
                                    <th class="heading_one">End Date</th>
                                    <th class="heading_two">: 30-mar-2024</th>
                                </tr>
                            </tbody>
                        </table>
                        <div class="justify-content-center flex-row d-flex">
                         <img src="../../../../assets/img/Tick.png" class="img-fluid" width="50px" height="50px" alt="Tick Image">
                         <span class="mt-2 pt-1 ms-1"><h5 class="fw-normal"> Verified</h5></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box_shadow text-center">
                <h3>Student Not Found</h3>
            </div>

        </div>
    </div>
</div>