<div class="container">
  <!-- <span class="sub-title">Learn At Your Own Pace</span> -->

  <!-- <p>Explore all of our courses and pick your suitable ones to enroll and start learning with us! We ensure that you will never regret it!</p> -->

  <div class="row justify-content-center">
    <h2 class="text-center hheading mb-3 header-styling" style="color: #334155">
      Popular Courses
    </h2>
    <br />
    <div class="col-lg-3 col-md-6">
      <div
        class="single-courses-box"
        routerLink="/courses/best-full-stack-java-development-course-training-institute"
      >
        <div class="courses-image">
          <a
            routerLink="/courses/best-full-stack-java-development-course-training-institute"
            class="d-block image"
          >
            <img src="assets/img/allcourses/fullstackjava.png" alt="image" />
          </a>
          <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
          <!-- <div class="price shadow">$59</div> -->
        </div>
        <div class="courses-content">
          <div class="course-author d-flex align-items-center">
            <!-- <img
              src="assets/img/user3.jpg"
              class="rounded-circle"
              alt="image"
            /> -->
            <span>David Warner</span>
          </div>
          <h3>
            <a
              routerLink="/courses/best-full-stack-java-development-course-training-institute"
              >Full Stack Java</a
            >
          </h3>
          <p>Full Stack Java helps in developing both Front-end..</p>
          <ul
            class="courses-box-footer d-flex justify-content-between align-items-center"
          >
            <li><i class="flaticon-agenda"></i> 20 Lessons</li>
            <li><i class="flaticon-people"></i> 150 Students</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div
        class="single-courses-box"
        routerLink="/courses/best-full-stack-python-development-course-training-institute"
      >
        <div class="courses-image">
          <a
            routerLink="/courses/best-full-stack-python-development-course-training-institute"
            class="d-block image"
          >
            <img src="assets/img/allcourses/fullstackpython.png" alt="image" />
          </a>
          <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
          <!-- <div class="price shadow">$39</div> -->
        </div>
        <div class="courses-content">
          <div class="course-author d-flex align-items-center">
            <!-- <img src="assets/img/user6.jpg" class="rounded-circle" alt="image"/> -->
            <span>Alex Morgan</span>
          </div>
          <h3>
            <a
              routerLink="/courses/best-full-stack-python-development-course-training-institute"
              >Full Stack Python</a
            >
          </h3>
          <p>The Full-stack Python course includes the prime elements..</p>
          <ul
            class="courses-box-footer d-flex justify-content-between align-items-center"
          >
            <li><i class="flaticon-agenda"></i> 15 Lessons</li>
            <li><i class="flaticon-people"></i> 145 Students</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div
        class="single-courses-box"
        routerLink="/courses/best-awsplusdevops-course-training-institute"
      >
        <div class="courses-image">
          <a
            routerLink="/courses/best-awsplusdevops-course-training-institute"
            class="d-block image"
          >
            <img
              src="../../../../assets/img/allcourses/AWS+DEVEOPS.png"
              alt="image"
            />
          </a>
        </div>
        <div class="courses-content">
          <div class="course-author d-flex align-items-center">
            <!-- <img
              src="assets/img/user4.jpg"
              class="rounded-circle"
              alt="image"
            /> -->
            <span>James Anderson</span>
          </div>
          <h3>
            <a
              routerLink="/courses/best-awsplusdevops-course-training-institute"
              >AWS+DEVOPS</a
            >
          </h3>
          <p>AWS DevOps builds a vigorous framework for..</p>
          <ul
            class="courses-box-footer d-flex justify-content-between align-items-center"
          >
            <li><i class="flaticon-agenda"></i> 44 Lessons</li>
            <li><i class="flaticon-people"></i> 440 Students</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div
        class="single-courses-box"
        routerLink="/courses/best-data-science-course-training-institute"
      >
        <div class="courses-image">
          <a
            routerLink="/courses/best-data-science-course-training-institute"
            class="d-block image"
          >

            <img src="assets/img/allcourses/Data-Science.jpg" alt="image" />
          </a>
          <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
          <!-- <div class="price shadow">$99</div> -->
        </div>
        <div class="courses-content">
          <div class="course-author d-flex align-items-center">
            <!-- <img
              src="assets/img/user4.jpg"
              class="rounded-circle"
              alt="image"
            /> -->
            <span>James Anderson</span>
          </div>
          <h3>
            <a routerLink="/courses/best-data-science-course-training-institute"
              >Data Science</a
            >
          </h3>
          <p>The Data Science Program is designed to equip you with</p>
          <ul
            class="courses-box-footer d-flex justify-content-between align-items-center"
          >
            <li><i class="flaticon-agenda"></i> 44 Lessons</li>
            <li><i class="flaticon-people"></i> 440 Students</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-6">
        <div class="courses-info">
          <a
            routerLink="/course"
            class="text-center callbtn"
            style="margin-bottom: 5px"
            ><i class="fa-solid fa-business-time"></i>&nbsp; Upcoming Batches</a
          ><br /><br />
        </div>
      </div> -->
    <!-- <a routerLink="/enquiry-form" class="text-center callbtn" style="margin-bottom: 5px;"><i class="fas fa-calendar"></i>&nbsp; Upcoming Batches</a> -->
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-6">
      <div
        class="single-courses-box"
        routerLink="/courses/best-digital-marketing-course-training-institute"
      >
        <div class="courses-image">
          <a
            routerLink="/courses/best-digital-marketing-course-training-institute"
            class="d-block image"
          >
            <img
              src="assets/img/allcourses/Digital-Marketing.jpg"
              alt="image"
            />
          </a>
          <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
        <div class="price shadow">$99</div> -->
        </div>
        <div class="courses-content">
          <div class="course-author d-flex align-items-center">
            <!-- <img
              src="assets/img/user4.jpg"
              class="rounded-circle"
              alt="image"
            /> -->
            <span>James Anderson</span>
          </div>
          <h3>
            <a
              routerLink="/courses/best-digital-marketing-course-training-institute"
              >Digital Marketing</a
            >
          </h3>
          <p>The extensive digital marketing program deals with..</p>
          <ul
            class="courses-box-footer d-flex justify-content-between align-items-center"
          >
            <li><i class="flaticon-agenda"></i> 44 Lessons</li>
            <li><i class="flaticon-people"></i> 440 Students</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div
        class="single-courses-box"
        routerLink="/courses/best-bim-building-information-modeling-course-training-institute"
      >
        <div class="courses-image">
          <a
            routerLink="/courses/best-bim-building-information-modeling-course-training-institute"
            class="d-block image"
          >
            <img src="assets/img/allcourses/bim.png" alt="image" />
          </a>
        </div>
        <div class="courses-content">
          <div class="course-author d-flex align-items-center">
            <!-- <img
              src="assets/img/user4.jpg"
              class="rounded-circle"
              alt="image"
            /> -->
            <span>James Anderson</span>
          </div>
          <h3>
            <a
              routerLink="/courses/best-bim-building-information-modeling-course-training-institute"
              >BIM</a
            >
          </h3>
          <p>The BIM is developed to revolutionize your approach..</p>
          <ul
            class="courses-box-footer d-flex justify-content-between align-items-center"
          >
            <li><i class="flaticon-agenda"></i> 44 Lessons</li>
            <li><i class="flaticon-people"></i> 440 Students</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div
        class="single-courses-box"
        routerLink="/courses/best-sap-fico-finance-and-controlling-course-training-institute"
      >
        <div class="courses-image">
          <a
            routerLink="/courses/best-sap-fico-finance-and-controlling-course-training-institute"
            class="d-block image"
          >

            <img src="assets/img/allcourses/Sapfico.jpg" alt="image" />
          </a>
          <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
          <!-- <div class="price shadow">$39</div> -->
        </div>
        <div class="courses-content">
          <div class="course-author d-flex align-items-center">
            <!-- <img src="assets/img/user6.jpg" class="rounded-circle" alt="image"/> -->
            <span>Alex Morgan</span>
          </div>
          <h3>
            <a
              routerLink="/courses/best-sap-fico-finance-and-controlling-course-training-institute"
              >SAP FICO</a
            >
          </h3>
          <p>SAP FICO in simple, financial accounting and controlling..</p>
          <ul
            class="courses-box-footer d-flex justify-content-between align-items-center"
          >
            <li><i class="flaticon-agenda"></i> 15 Lessons</li>
            <li><i class="flaticon-people"></i> 145 Students</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div
        class="single-courses-box"
        routerLink="/courses/best-testingtools-course-training-institute"
      >
        <div class="courses-image">
          <a
            routerLink="/courses/best-testingtools-course-training-institute"
            class="d-block image"
          >
            <img
              src="../../../../assets/img/allcourses/Testing_Tools.png"
              alt="image"
            />
          </a>
        </div>
        <div class="courses-content">
          <div class="course-author d-flex align-items-center">
            <!-- <img
              src="assets/img/user4.jpg"
              class="rounded-circle"
              alt="image"
            /> -->
            <span>James Anderson</span>
          </div>
          <h3>
            <a routerLink="/courses/best-testingtools-course-training-institute"
              >Testing Tools</a
            >
          </h3>
          <p>Testing Tools are crucial for software programs..</p>
          <ul
            class="courses-box-footer d-flex justify-content-between align-items-center"
          >
            <li><i class="flaticon-agenda"></i> 44 Lessons</li>
            <li><i class="flaticon-people"></i> 440 Students</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="courses-info">
        <a
          routerLink="/course"
          class="text-center callbtn"
          style="margin-bottom: 5px; background-color: #2a619d"
          ><i class="fa fa-book"></i>&nbsp; View All Courses</a
        ><br /><br />
      </div>
    </div>
    <!-- <div class="col-lg-6">
        <div class="courses-info">
          <a
            routerLink="/course"
            class="text-center callbtn"
            style="margin-bottom: 5px"
            ><i class="fa-solid fa-business-time"></i>&nbsp; Upcoming Batches</a
          ><br /><br />
        </div>
      </div> -->
    <!-- <a routerLink="/enquiry-form" class="text-center callbtn" style="margin-bottom: 5px;"><i class="fas fa-calendar"></i>&nbsp; Upcoming Batches</a> -->
  </div>
</div>
