
  <div class="container-fluid">
    <div class="franchise_banner" data-aos="fade-up">
      <div class="container">
        <div class="row franchise_space">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="">
              <p class="franchise_welcome">Welcome To Teks Academy</p>
              <h1 class="franchise_heading">Join the TEKS Academy Franchise Program !</h1>
              <p class="franchise_sub_heading">
                The best software training institute in India, a premier wing of
                Kapil Knowledge Hub Pvt Ltd, where we provide cutting-edge
                software and technical training to students worldwide through both
                online and offline channels. We are excited to announce our
                Franchise Partnership Program, and we invite passionate
                individuals to join us in expanding our reach and delivering
                world-class software education to new locations.
              </p>
              <div class="mt-3">
                <button class="btn main_button cursor__pointer" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  <i class="fa fa-download me-2" aria-hidden="true"></i>Download Brochure
                </button>
                <button class="btn main_button ms-3 cursor__pointer">
                  <i class="fa fa-phone me-2"></i>123456789
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-left">
            <img src="../../../../assets/img/branch_images/franchise_banner.png" class="" alt="" />
          </div>
        </div>
  
        <!-- 2nd section -->
        <div class="row franchise_space">
          <div class="col-lg-6"></div>
          <div class="col-lg-6" data-aos="fade-left">
            <div class="">
              <p class="franchise_welcome">Introducing</p>
              <h1 class="franchise_heading">Why Franchise Partner with TEKS Academy?</h1>
              <p class="franchise_sub_heading">
                TEKS Academy is renowned as the best software training institute
                in Hyderabad with top 5 software training institutes in Hyderabad
                (Branches), now you can bring our excellence to your city. Here’s
                why becoming a TEKS Academy franchisee is a smart investment:
              </p>
            </div>
          </div>
        </div>
  
        <!-- 3rd section -->
        <div class="row franchise_space">
          <div class="text-center" data-aos="fade-up">
            <p class="franchise_welcome"></p>
            <h1 class="franchise_heading">Key Benefits</h1>
          </div>
          <div class="col-lg-4" data-aos="zoom-in">
            <div class="card_column">
              <img src="../../../../assets/img/branch_images/key_1.png" class="" alt="" />
              <h6>Branding Support from the Best Team</h6>
              <p>Leverage our strong brand reputation and get access to expert guidance on branding and
                marketing strategies that
                will set your franchise apart. Teks Academy never leaves its partners alone! At every point,
                our technical support team will assist you and the franchise.
              </p>
            </div>
          </div>
          <div class="col-lg-4" data-aos="zoom-in">
            <div class="card_column">
              <img src="../../../../assets/img/branch_images/key_2.png" class="" alt="" />
              <h6>Advanced LMS - Learning Management System</h6>
              <p>Utilize our cutting-edge LMS to provide students with an interesting, dynamic, and seamless
                learning experience. It is aimed to provide students with tutorials and advanced classes to
                assist them improve their learning methods.
              </p>
            </div>
          </div>
          <div class="col-lg-4" data-aos="zoom-in">
            <div class="card_column">
              <img src="../../../../assets/img/branch_images/key_3.png" class="" alt="" />
              <h6>Customer Relationship Management (CRM Tool)</h6>
              <p>Sometimes it is very hectic to manage students and their essential data. Don't worry! Manage
                student connections easily with our innovative CRM tool, which is designed to boost
                communication and retention rates.
              </p>
            </div>
          </div>
          <div class="col-lg-4" data-aos="zoom-in">
            <div class="card_column">
              <img src="../../../../assets/img/branch_images/key_4.png" class="" alt="" />
              <h6>Admission Management Tool</h6>
              <p>We are simplifying the admission process! streamline the process with our advanced tool,
                ensuring a hassle-free experience for both staff and students.
              </p>
            </div>
          </div>
          <div class="col-lg-4" data-aos="zoom-in">
            <div class="card_column">
              <img src="../../../../assets/img/branch_images/key_5.png" class="" alt="" />
              <h6>Fee Management Tool</h6>
              <p>Fee management and due details of the students are the most important entity. You can handle
                fee collections and financial transactions effortlessly with our secure and user-friendly
                fee management system.
              </p>
            </div>
          </div>
          <div class="col-lg-4" data-aos="zoom-in">
            <div class="card_column">
              <img src="../../../../assets/img/branch_images/key_6.png" class="" alt="" />
              <h6>Website Landing Page</h6>
              <p>We always consciously focus on mutual growth! Get a professionally created landing page that
                is personalized to your franchise, which will help you attract more students and
                successfully present your products.
              </p>
            </div>
          </div>
        </div>
  
        <!-- 4th section -->
        <div class="row franchise_space mb-4">
          <div class="text-center" data-aos="fade-up">
            <h1 class="franchise_heading mb-3">Bonus Added for Franchises!</h1>
          </div>
          <div class="col-lg-4" data-aos="fade-right">
            <div class="big_card_one big_card">
              <div class="p-5">
                <h6>Marketing Support</h6>
                <p>Receive comprehensive marketing support, including promotional materials, digital
                  marketing
                  strategies, and social media campaigns to boost your franchise’s visibility.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-12" data-aos="fade-up">
                <div class="mini_card_one big_card">
                  <h6>Guidance for Franchise Setup</h6>
                  <p>Benefit from our expert advice on setting up your franchise, from choosing the right
                    location to designing the perfect learning environment.
                  </p>
                </div>
              </div>
              <div class="col-lg-12 mt-4" data-aos="fade-up">
                <div class="mini_card_two big_card">
                  <h6>High-Quality Video Accessibility</h6>
                  <p>Provide students with access to high-quality instructional videos, ensuring they
                    receive the best education possible.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4" data-aos="fade-left">
            <div class="big_card_two big_card">
              <div class="p-5">
                <h6>Monthly Reports</h6>
                <p>Keep track of your franchise’s performance with our comprehensive monthly reports,
                  helping
                  you stay informed and make data-driven decisions.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 5th section -->
  
  
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Fill the form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="dsform">
                  <form (ngSubmit)="eformData()">
                    <label for="name">Name<span>*</span></label>
                    <input type="text" id="name" class="dsformi" name="efname" placeholder="Enter Your Name" required [(ngModel)]="efname" />
                    <label for="email" class="mt-2">Email<span>*</span></label>
                    <input type="email" id="email" class="dsformi" name="efemail" placeholder="Enter Your Email" required [(ngModel)]="efemail" />
                    <label for="phone" class="mt-2">Phone Number<span>*</span></label>
                    <input type="number" id="mnumber" class="dsformi user_number" name="efphone" placeholder="Mobile Number" required [(ngModel)]="efphone" pattern="[0-9]*" maxlength="10" />
                    <input type="submit" value="Submit" class="mt-4" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="position-relative">
          <img src="../../../../assets/img/branch_images/Mid_Banner.png" alt="Banner Image" class="img-fluid" />
          <div class="position-absolute">
              <h6>Book a Consultancy with our sales executive</h6>
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  <i class="fa fa-download me-2" aria-hidden="true"></i> Download Brochure
              </button>
          </div>
      </div>         -->
    </div>
  </div>
  