@import '../../common/why-teks/why-teks.component.scss';
// D:\teks academy website new github\teksacademywebsite\src\app\components\common\why-teks\why-teks.component.scss
body{
  background-color: #6495ed0a;
}
.awards_img {
  width: 100%;
  height: 500px;
  background-color: #2a619d;
  border: 1px solid #cbd5e1;
  border-radius: 24px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.franchise_welcome{
    color: #eb6329;
    font-weight: 700;
    font-size: 18px;
}
.fw_900{
    font-weight: 900;
}
.franchise_banner {
  background-image: url('../../../../assets/img/branch_images/frnachise_banner.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover; 
  position: relative;
}

.franchise_div {
  position: absolute;
}

.franchise_space{
    padding:4em 0em 2em 0em;
}
.franchise_heading{
    font-weight: 700;
    font-size: 38px;
    line-height: 1.3em;
    color: #373737;
    margin: 0;
}

.franchise_sub_heading{
    color: #5F5F5F;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6em;
}
// .card_column{
//  background-color: #fff;
//  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
//  height: 34em;
//  border: 2px solid #fff;
//  border-radius: 8px;
//  margin-top: 23px;
//  padding: 1em;
// }
// .card_column:hover{
//   border: 2px solid #eb6329;
// }
.card_column {
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  height: 34em;
  border: 2px solid #fff;
  border-radius: 8px;
  margin-top: 23px;
  padding: 1em;
  position: relative; /* For absolute positioning of pseudo-elements */
  overflow: hidden; /* To hide overflow during animation */
}

.card_column:hover {
  border: 2px solid #eb6329;
}

.card_column::before, .card_column::after {
  content: "";
  position: absolute;
  transition: all 0.4s ease-in-out;
  background: #eb6329;
}


.card_column::before {
  top: 0;
  left: 50%;
  width: 0;
  height: 2px;
}

.card_column::after {
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
}

.card_column:hover::before {
  width: 100%;
  left: 0;
}

.card_column:hover::after {
  width: 100%;
  left: 0;
}

.card_column h6 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2em;
  color: #373737;
  margin: 0;
  text-align: center;
  padding: 10px 10px 0px 10px;
}

.card_column p {
  padding: 0px 0px 10px 10px;
  color: #5F5F5F;
  font-size: 16px;
  margin-top: 8px;
  font-weight: 500;
  line-height: 1.6em;
  text-align: center;
}

.card_column img {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.main_button{
    box-shadow: 0px 1px 15px -1px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #eb6329;
    border-radius: 100px 100px 100px 0px;
    padding: 10
    px 40px 12px 40px;
}

// form css
.dsform {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px #fff !important;
    max-width: 500px;
    margin: 10px auto;
  }
.dsform label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 30px;
  }
  .dsform label span {
    color: red;
  }
  .dsformi {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  
    box-sizing: border-box;
  }
  .dsform input[type="submit"] {
    width: 100%;
    background-color: #fe4a55;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .dsform input[type="submit"]:hover {
    background-color: #fe4a55;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
    .big_card_one{
      text-align: start;
      border: 1px solid gray;
      border-radius: 8px;
      width: 100%;
      height: 100%;
      align-items: start;
      display: flex;
      justify-content: center;
      background-image: url(../../../../assets/img//branch_images/bonus_1.png);
      background-repeat: no-repeat;
  }
  .big_card_two{
    text-align: start;
    border: 1px solid gray;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    align-items: start;
    display: flex;
    justify-content: center;
    background-image: url(../../../../assets/img//branch_images/bonus_2.png);
    background-repeat: no-repeat;
}
.big_card div{
  padding: 2rem;
}
  .big_card h6{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2em;
    color: #ffff;     
    margin: 0;
}
.big_card p{
    color: #fff;
    font-size: 16px;
    margin-top: 8px;
    font-weight: 500;
    line-height: 1.6em;
}
.mini_card_one{
  text-align: start;
  border: 1px solid gray;
  background-image: url(../../../../assets/img//branch_images/bonus_3.png);
  background-repeat: round;
  border-radius: 8px;
  height: 14em;
  padding:2em;
}
.mini_card_two{
  text-align: start;
  border: 1px solid gray;
  background-image: url(../../../../assets/img//branch_images/bonus_4.png);
  background-repeat: no-repeat;
  border-radius: 8px;
  height: 14em;
  padding:2em;
}
// ---------------
@media screen and (max-width: 1024px) {
  .card_column{
    height: 44em;
  }
}
@media screen and (max-width: 768px) {
  .mini_card_one{
    height: 16em;
  }
  .mini_card_two{
    height: 16em;
  }
  .card_column{
    height: 53em;
  }
}
@media screen and (max-width: 480px) {
  .card_column{
    height: 43em;
  }
.big_card div{
  padding: 0.6rem;
}
.mini_card_one{
  margin-top: 22px;
}
.big_card_two{
  margin-top: 22px;
}
.main_button{
  margin-bottom: 20px;
}

}