<div class="container-fluid p-0">
    <div class="franchise_banner">
        <div class="franhise_div">
            <div class="container">
                <div class="row franchise_space">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="">
                            <p class="franchise_welcome">Welcome To Teks Academy</p>
                            <h1 class="franchise_heading">
                                Join the TEKS Academy Franchise Program !
                            </h1>
                            <p class="franchise_sub_heading">
                                Teks Academy The best software training institute in India, a
                                premier wing of Kapil Knowledge Hub Pvt Ltd, where we provide
                                cutting-edge software and technical training to students
                                worldwide through both online and offline channels. We are
                                excited to announce our Franchise Partnership Program, and we
                                invite passionate individuals to join us in expanding our reach
                                and delivering world-class software education to new locations.
                            </p>
                            <div class="mt-3">
                                <button class="btn main_button cursor__pointer" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">
                                    Know More
                                </button>
                            </div>
                            <!-- <i class="fa fa-download me-2" aria-hidden="true"></i> -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-block d-sm-none">
                        <img src="../../../../assets/img/branch_images/franchise_banner_mobile.png" class="img-fluid"
                            alt="" class="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row franchise_space">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <img src="../../../../assets/img/branch_images/Key_Benefits.svg" width="100%" height="100%"
                    class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="">
                    <p class="franchise_welcome">Introducing</p>
                    <h1 class="franchise_heading">
                        Why Franchise Partner with TEKS Academy ?
                    </h1>
                    <p class="franchise_sub_heading">
                        TEKS Academy is renowned as the best software training institute in
                        Hyderabad, consistently ranked among the top 5 software training
                        institutes in Hyderabad- the Pearl City of India. Now, you can bring
                        our excellence to your locality by becoming a franchise partner.
                    </p>
                    <p class="franchise_sub_heading">
                        TEKS Academy is not a standalone entity; it is a subsidiary of the
                        Kapil Group, renowned for its dedication and provision of
                        high-quality, professional training. This solid foundation ensures
                        that your franchise will be linked with a reputable and trusted
                        brand. As a partner, you will have access to a wide range of
                        innovative, cutting-edge resources that will significantly enhance
                        business operations and student engagement, making it a strategic
                        choice for your business.
                    </p>
                </div>
            </div>
        </div>

        <div class="row franchise_space">
            <div class="text-center">
                <p class="franchise_welcome">Our Services</p>
                <h1 class="franchise_heading">Key Benefits</h1>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card_column">
                    <img src="../../../../assets/img/branch_images/key_1.png" class="" alt="" />
                    <h6>Branding Support from the Best Team</h6>
                    <p>
                        Leverage our strong brand reputation and get access to expert
                        guidance on branding and marketing strategies that will set your
                        franchise apart. Teks Academy never leaves its partners alone! At
                        every point, our technical support team will assist you and the
                        franchise.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card_column">
                    <img src="../../../../assets/img/branch_images/key_2.png" class="" alt="" />
                    <h6>Advanced LMS - Learning Management System</h6>
                    <p>
                        Utilize our cutting-edge LMS to provide students with an
                        interesting, dynamic, and seamless learning experience. It is aimed
                        to provide students with tutorials and advanced classes to assist
                        them improve their learning methods.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card_column">
                    <img src="../../../../assets/img/branch_images/key_3.jpg" class="" alt="" />
                    <h6>Customer Relationship Management (CRM Tool)</h6>
                    <p>
                        Sometimes it is very hectic to manage students and their essential
                        data. Don't worry! Manage student connections easily with our
                        innovative CRM tool, which is designed to boost communication and
                        retention rates.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card_column">
                    <img src="../../../../assets/img/branch_images/key_4.png" class="" alt="" />
                    <h6>Admission Management Tool</h6>
                    <p>
                        We are simplifying the admission process! streamline the process
                        with our advanced tool, ensuring a hassle-free experience for both
                        staff and students.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card_column">
                    <img src="../../../../assets/img/branch_images/key_5.png" class="" alt="" />
                    <h6>Fee Management Tool</h6>
                    <p>
                        Fee management and due details of the students are the most
                        important entity. You can handle fee collections and financial
                        transactions effortlessly with our secure and user-friendly fee
                        management system.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card_column">
                    <img src="../../../../assets/img/branch_images/key_6.png" class="" alt="" />
                    <h6>Website Landing Page</h6>
                    <p>
                        We always consciously focus on mutual growth! Get a professionally
                        created landing page that is personalized to your franchise, which
                        will help you attract more students and successfully present your
                        products.
                    </p>
                </div>
            </div>
        </div>


        <div class="row franchise_space mb-4">
            <div class="text-center">
                <h1 class="franchise_heading mb-3">Bonus Added for Franchises!</h1>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="big_card_one big_card">
                    <div class="">
                        <h6>Marketing Support</h6>
                        <p>
                            Receive comprehensive marketing support, including promotional
                            materials, digital marketing strategies, and social media
                            campaigns to boost your franchise’s visibility.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mini_card_one big_card">
                            <h6>Guidance for Franchise Setup</h6>
                            <p>
                                Benefit from our expert advice on setting up your franchise,
                                from choosing the right location to designing the perfect
                                learning environment.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                        <div class="mini_card_two big_card">
                            <h6>Training Support</h6>
                            <p>
                                Teks offer comprehensive training for franchise partners and their key
                                staff includes trainers and coordinators to deliver top-notch education
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="big_card_two big_card">
                    <div class="">
                        <h6>Job Assistance</h6>
                        <p>
                            We provide valuable job assistance, including resume building and soft
                            skills programs via CRT program to help students stand out in the job market. This support
                            enhances their employability and career prospects.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12 mt-4">
                <div class="mini_card_one big_card text_justify">
                    <h6>Certifications</h6>
                    <p class="mb-0">
                        Teks Academy offers four types of certifications that add value to students' credentials:   </p>
                    <ul class="text-white">
                        <li>NSDC Certification</li>
                        <li>Teks Academy Course Certification</li>
                        <li>Merit Certification</li>
                        <li>IES-Industry Exposure Study Program</li>
                    </ul>
                 
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
                <div class="mini_card_two big_card text_justify">
                    <h6>Internship</h6>
                    <p>
                        We offer internship opportunities that give students hands-on experience, enhancing
                        their practical knowledge and preparing them for successful careers.
                    </p>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="mt-5">
            <app-partner></app-partner>
        </div>

        <!-- awards section -->
        <div class="container">
            <div class="text-center mt-4 mb-5">
                <h1 class="franchise_heading ">Awards</h1>
            </div>
            <div class="awards_img">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner p-5">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-6 text-center">
                                    <img src="../../../../../assets/img/webinars/Certificate-Corporate%20Vision.jpg"
                                        class="" width="40%" alt="..." />
                                    <p class="text-white mt-3" style="font-size: 18px">
                                        Most Innovative Online Education Platform 2023 - South India
                                        <br />By Corporate Vision
                                    </p>
                                </div>
                                <div class="col-lg-6 text-center">
                                    <img src="../../../../../assets/img/webinars/Pride%20of%20India.jpg"
                                        class="" width="42%" alt="..." />
                                    <p class="text-white mt-4 pt-1" style="font-size: 18px">
                                        Best Emerging Real Time Training Academy Of The Year
                                        <br />By Brands Impact
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-6 text-center">
                                    <img src="../../../../../assets/img/webinars/Silicon%20India.jpg"
                                        class="" width="40%" alt="..." />
                                    <p class="text-white mt-3" style="font-size: 18px">
                                        Most Promising Data Science Training Institute 2023 <br />By
                                        Silicon India
                                    </p>
                                </div>
                                <div class="col-lg-6 text-center">
                                    <img src="../../../../../assets/img/webinars/Hybiz.jpg" class=""
                                        width="42%" alt="..." />
                                    <p class="text-white mt-4" style="font-size: 18px">
                                        Best Online Training Institute Of The Year <br />By Hybiz Tv
                                        Education Excellence Awards 2023
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

    <!-- futured icons start-->
<div style="background-color: #f1f5f9">
    <div class="container pb-5 header">
      <h2 id="featured" class="pt-4 header-styling">Featured In</h2>
  
      <div class="row text-center">
        <div class="col-lg-3">
          <img src="../../../../../assets/img/featured/1.png" class="img-fluid mt-3" alt="" />
        </div>
        <div class="col-lg-3">
          <img src="../../../../../assets/img/featured/2.png" class="img-fluid mt-3" alt="" />
        </div>
        <div class="col-lg-3">
          <img src="../../../../../assets/img/featured/8.png" class="img-fluid mt-3" alt="" />
        </div>
        <div class="col-lg-3">
          <img src="../../../../../assets/img/featured/9.png" class="img-fluid mt-3" alt="" />
        </div>
      </div>
      <div class="row text-center">
        <div class="col-lg-3">
          <img src="../../../../../assets/img/featured/11.png" class="img-fluid mt-3" alt="" />
        </div>
        <div class="col-lg-3">
          <img src="../../../../../assets/img/featured/13.png" class="img-fluid mt-3" alt="" />
        </div>
        <div class="col-lg-3">
          <img src="../../../../../assets/img/featured/14.png" class="img-fluid mt-3" alt="" />
        </div>
        <div class="col-lg-3">
          <img src="../../../../../assets/img/featured/15.png" class="img-fluid mt-3" alt="" />
        </div>
      </div>
  
      <div class="row text-center">
        <div class="col-lg-3">
          <img src="../../../../../assets/img/featured/16.png" class="img-fluid mt-3" alt="" />
        </div>
        <div class="col-lg-3">
          <img src="../../../../../assets/img/featured/12.png" class="img-fluid mt-3" alt="" />
        </div>
        <div class="col-lg-3">
          <img src="../../../../../assets/img/featured/4.png" class="img-fluid mt-3" alt="" />
        </div>
        <div class="col-lg-3">
          <img src="../../../../../assets/img/featured/5.png" class="img-fluid mt-3" alt="" />
        </div>
      </div>
  
      <div class="row text-center">
        <div class="col-lg-3">
          <img src="../../../../../assets/img/featured/6.png" class="img-fluid mt-3" alt="" />
        </div>
        <div class="col-lg-3">
          <img src="../../../../../assets/img/featured/7.png" class="img-fluid mt-3" alt="" />
        </div>
        <div class="col-lg-3">
          <img src="../../../../../assets/img/featured/3.png" class="img-fluid mt-3" alt="" />
        </div>
        <div class="col-lg-3">
          <img src="../../../../../assets/img/featured/10.png" class="img-fluid mt-3" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- futured icons end-->

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">
                            Submit Your Details
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="dsform">
                            <form (ngSubmit)="eformData()">
                                <label for="name">Name<span>*</span></label>
                                <input type="text" id="name" class="dsformi" name="name" placeholder="Enter Your Name"
                                    required [(ngModel)]="name" />
                                <label for="email" class="mt-2">Email<span>*</span></label>
                                <input type="email" id="email" class="dsformi" name="email"
                                    placeholder="Enter Your Email" required [(ngModel)]="email" />
                                <label for="phone" class="mt-2">Phone Number<span>*</span></label>
                                <input type="number" id="mnumber" class="dsformi user_number" name="efphone"
                                    placeholder="Mobile Number" required [(ngModel)]="phone" pattern="[0-9]*"
                                    maxlength="10" />
                                <label for="email" class="mt-2">Location<span>*</span></label>
                                <input type="location" id="location" class="dsformi" name="location"
                                    placeholder="Enter Your Location" required [(ngModel)]="location" />
                                <input type="submit" value="Submit" class="mt-4" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="position-relative">
          <img src="../../../../assets/img/branch_images/Mid_Banner.png" alt="Banner Image" class="img-fluid" />
          <div class="position-absolute">
              <h6>Book a Consultancy with our sales executive</h6>
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  <i class="fa fa-download me-2" aria-hidden="true"></i> Download Brochure
              </button>
          </div>
      </div>         -->
</div>