<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="header">
        <h2 id="photos" class="header-styling">About Us</h2>
        <!-- <div class="text-center">
                    <img src="https://nxtwave.imgix.net/ccbp-website/intensive/blue-under-line-Vector.svg?auto=format,compress&q=80"
                        class="why_teks" alt="" />
                </div> -->
      </div>
      <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
        <div class="inner-column">
          <div class="sec-title">
            <span class="title">About Teks</span>
            <h2>The Most Innovative Learning Platform!</h2>
          </div>
          <div class="text">
            TEKS Academy has assisted 8000+ students so far in gaining extensive
            knowledge and certification. Over 250+ highly qualified industry
            experts are onboard to provide immense knowledge and skills to the
            students. There are 150+ courses available both online and offline
            to bring about a change in the student's career.
          </div>
          <div class="text">
            TEKS Academy knows the value of certified skills that make students
            and learners move up in their careers very quickly. TEKS Academy
            offers a wide range of certified courses that are in high demand,
            such as Salesforce, Data Science, AWS+DevOps, Revit, Full Stack
            Development, Digital Marketing, and many more.
          </div>
          <div class="btn-box">
            <a routerLink="/enquiry-form" class="theme-btn btn-style-one"
              >Contact Us</a
            >
          </div>
        </div>
      </div>

      <!-- Image Column -->
      <div class="image-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column wow fadeInLeft">
          <!-- <div class="author-desc">
            <h2>Rahul Kumar Yadav</h2>
            <span>Web Developer</span>
          </div> -->
          <figure class="image-1">
            <a class="lightbox-image" data-fancybox="images"
              ><img
                title="Teks Academy"
                src="../../../../assets/img/about-teks.png"
                alt=""
            /></a>
          </figure>
        </div>
      </div>
    </div>
    <!-- <div class="sec-title">
            <span class="title">Our Future Goal</span>
            <h2>We want to lead in innovation & Technology</h2>
        </div>
        <div class="text">
            We works on UI/UX and functionality as well so that a plugins comes with proper stucture & stunning looks
            which suits to your web app & website.
        </div>
        <div class="text">
            We take a small toolkit here and ride it well so that it is fit for your use. One who performs well and
            looks even better.
        </div>
        <div class="text">
            Here we are trying to give you all kinds of technical content, whether it is related to designing or
            functionality. We are creating content on a lot of languages and will continue to make it free of cost even
            if you use it without any problem. Which is a very important thing.
        </div>
        <div class="text">
            Here you can also share the content you create, if our technical team likes it, then we will also share it
            on our blog.
        </div>
        <div class="text">
  
            In the end, I would say keep visiting our website and enjoy the quality content.
        </div> -->
  </div>
</section>
