<app-elearning-banner></app-elearning-banner>

<div class="partner-area pt-70 pb-70  pdng">
  <div class="container">
    <app-partner></app-partner>
  </div>
</div>

<div class="pt-70 pb-70  pdng">
  <app-popularcourses></app-popularcourses>
</div>

<!-- <div class="courses-area ptb-100">
    <app-courses></app-courses>
</div> -->

<div class="features-area pt-70 pb-70 pdng">
  <app-features-style-one></app-features-style-one>
</div>

<!-- -- -->
<!-- -- -->

<div class="student-data-area pt-30 pb-30 custom-stats d-flex justify-content-center align-items-center">
  <!-- Data Area -->

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="counter text-center mt-40 text-white d-flex flex-column gap-2">
          <img src="../../../../assets/img/count_icons/Courses.png" alt="" />
          <!-- <i class="fa fa-user fs-3"></i> -->
          <h3 class="fs-2" style="color: yellow; font-weight: bold">
            <span class="odometer" data-count="1260">50</span>+
          </h3>
          <p class="fs-4 text-white" style="margin-top: -18px">Courses</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="counter text-center mt-40 text-white d-flex flex-column gap-2">
          <!-- <i class="fa fa-user fs-3"></i> -->
          <img src="../../../../assets/img/count_icons/enrollment.png" alt="" />

          <h3 class="fs-2" style="color: yellow; font-weight: bold">
            <span class="odometer" data-count="1260">11000</span>+
          </h3>
          <p class="fs-4 text-white" style="margin-top: -18px">
            Students Enrolled
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="counter text-center mt-40 text-white d-flex flex-column gap-2">
          <!-- <i class="fa fa-user fs-3"></i> -->
          <img src="../../../../assets/img/count_icons/placements.png" alt="" />

          <h3 class="fs-2" style="color: yellow; font-weight: bold">
            <span class="odometer" data-count="1260">8000</span>+
          </h3>
          <p class="fs-4 text-white" style="margin-top: -18px">
            Students Placed
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="counter text-center mt-40 text-white d-flex flex-column gap-2">
          <img src="../../../../assets/img/count_icons/partners.png" alt="" />

          <!-- <i class="fa fa-user fs-3"></i> -->
          <h3 class="fs-2" style="color: yellow; font-weight: bold">
            <span class="odometer" data-count="1260">350</span>+
          </h3>
          <p class="fs-4 text-white" style="margin-top: -18px">
            Hiring Partners
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pt-70 pb-70  pdng">
  <app-students-video-testimonals></app-students-video-testimonals>
</div>

<!-- <div class="pt-70" pdng>
    <app-student-journey></app-student-journey>
</div> -->

<!-- <div class="pt-70 pb-70  pdng">
    <app-elearning-about></app-elearning-about>
</div> -->

<!-- <div class=" pdng">
    <app-funfacts-feedback></app-funfacts-feedback>
</div> -->

<!-- <div class="pt-70 pb-70  pdng">
    <app-top-course-categories></app-top-course-categories><br>
    <div class="text-center">
        <a routerLink="/categories" class="text-center callbtn">View All Categories</a>
    </div>
</div> -->

<div class="pt-10 pb-70  pdng">
  <app-placements></app-placements>
</div>

<div class="pt-70 pb-70  pdng">
  <app-our-gallery></app-our-gallery>
</div>

<!-- Awards Start -->

<div class="pt-70 pb-70  pdng">
  <div class="container border header custom-certificate-container">
    <h2 id="Awards" class="pt-3 text-center mb-3 hheading header-styling" style="color: #334155">
      Awards
    </h2>

    <!-- Mobile -->

    <div class="d-block d-sm-none">
      <div class="container">
        <div class="faq-accordion">
          <accordion>
            <accordion-group heading="Most Trusted Education Brand on Recognized of Outstanding Contribution Made by Teks Academy">
              <img src="../../../../assets/img/newaward.png"
                class="img-fluid box-shadow-card" width="100%" height="100%" alt="..." />
            </accordion-group>

            <accordion-group heading="Most Innovative Online Education Platform 2023 - South India
            in Education and Training Awards by Corporate Vision.">
              <img src="../../../../../assets/img/webinars/Certificate-Corporate%20Vision.jpg"
                class="img-fluid box-shadow-card" width="100%" height="100%" alt="..." />
            </accordion-group>
            <accordion-group heading="Best Emerging Real-Time Training Academy of the Year - PRIDE OF
            INDIAN EDUCATION Awards by Brands Impact.">
              <img src="../../../../../assets/img/webinars/Pride%20of%20India.jpg" class="img-fluid box-shadow-card"
                width="100%" height="100%" alt="..." />
            </accordion-group>
            <accordion-group heading="Best Online Training Institute of the Year - Hybiz TV Education
            Excellence Awards 2023">
              <img src="../../../../../assets/img/webinars/Hybiz.jpg" class="img-fluid box-shadow-card" width="100%"
                height="100%" alt="..." />
            </accordion-group>
            <accordion-group heading=" Most Promising Data Science Training Institutes - 2023 by
              Silicon India.">
              <img src="../../../../../assets/img/webinars/Silicon%20India.jpg" class="img-fluid box-shadow-card"
                width="100%" height="100%" alt="..." />
            </accordion-group>
          </accordion>
        </div>
      </div>
    </div>

    <!-- Mobile Ends -->
    <div class="d-none d-lg-block">
      <div class="row m-auto">
        <div class="col-lg-7 col-sm-12 m-auto">
          <ul class="nav nav-tabs d-flex flex-column align-items-center" id="myTab" role="tablist">
            <li class="nav-item d-flex align-items-center justify-content-center" role="presentation">
              <img src="../../../../assets/img/home_AWARDS/Excellence_award.png" class="" />
              <div>
                <button class="nav-link active w-100 custom-tab-fs mb-4" id="new-tab" data-bs-toggle="tab"
                  data-bs-target="#new" type="button" role="tab" aria-controls="new" aria-selected="true"
                  style="color: #183b56">
                  <div class="button-text">
                    Most Trusted Education Brand on Recognized of Outstanding Contribution Made by Teks Academy</div>
                  <!-- <span class="fs-6 text-left" style="color: #5a7184"
            >South India in Education and Training Awards by Corporate
            Vision.
          </span> -->
                </button>
              </div>
            </li>
            <li class="nav-item d-flex align-items-center justify-content-center" role="presentation">
              <img src="../../../../assets/img/home_AWARDS/Best_Award.png" class="" />
              <div>
                <button class="nav-link w-100 custom-tab-fs mb-4" id="home-tab" data-bs-toggle="tab"
                  data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"
                  style="color: #183b56">
                  <div class="button-text">
                    Most Innovative Online Education Platform 2023 - South India
                    in Education and Training Awards by Corporate Vision.
                  </div>
                  <!-- <span class="fs-6 text-left" style="color: #5a7184"
                  >South India in Education and Training Awards by Corporate
                  Vision.
                </span> -->
                </button>
              </div>
            </li>
            <li class="nav-item d-flex align-items-center justify-content-center" role="presentation">
              <img src="../../../../assets/img/home_AWARDS/Excellence_award.png" class="" />

              <button class="nav-link w-100 custom-tab-fs mb-4" id="profile-tab" data-bs-toggle="tab"
                data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false"
                style="color: #183b56">
                <div class="button-text">
                  Best Emerging Real-Time Training Academy of the Year - PRIDE
                  OF INDIAN EDUCATION Awards by Brands Impact.
                </div>
                <!-- <span class="fs-6 text-left" style="color: #5a7184"
                >PRIDE OF INDIAN EDUCATION Awards by Brands Impact.
              </span> -->
              </button>
            </li>

            <li class="nav-item d-flex align-items-center justify-content-center" role="presentation">
              <img src="../../../../assets/img/home_AWARDS/SILICON_IND_AWARD.png" class="" />

              <button class="nav-link w-100 custom-tab-fs mb-4" id="profile-tab" data-bs-toggle="tab"
                data-bs-target="#contact" type="button" role="tab" aria-controls="profile" aria-selected="false"
                style="color: #183b56">
                <div class="button-text">
                  Best Online Training Institute of the Year - Hybiz TV
                  Education Excellence Awards 2023
                </div>
                <!-- <span class="fs-6 text-left" style="color: #5a7184"
                >Hybiz TV Education Excellence Awards 2023.
              </span> -->
              </button>
            </li>

            <li class="nav-item d-flex align-items-center justify-content-center" role="presentation">
              <img src="../../../../assets/img/home_AWARDS/Crown_Award.png" class="" />

              <button class="nav-link w-100 custom-tab-fs mb-4" id="profile-tab" data-bs-toggle="tab"
                data-bs-target="#menu" type="button" role="tab" aria-controls="profile" aria-selected="false"
                style="color: #183b56">
                <div class="button-text">
                  Most Promising Data Science Training Institutes - 2023 by
                  Silicon India.
                </div>
                <!-- <span class="fs-6 text-left" style="color: #5a7184"
                >Add it to your LinkedIn, share it on Twitter & WhatsApp, or via
                Email. Make your profile stand out everywhere.
              </span> -->
              </button>
            </li>
          </ul>
        </div>
        <div class="col-lg-5 col-sm-12 text-center">
          <div class="tab-content d-flex justify-content-end align-items-end" id="myTabContent">
            <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
              <img src="../../../../assets/img/newaward.png" class="img-fluid mr-auto" width="80%" height="80%"
                alt="..." />
            </div>
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
              <img src="../../../../../assets/img/webinars/Certificate-Corporate%20Vision.jpg" class="img-fluid mr-auto"
                width="80%" height="80%" alt="..." />
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <img src="../../../../../assets/img/webinars/Pride%20of%20India.jpg" class="custom-image img-fluid"
                width="80%" height="80%" alt="..." />
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="profile-tab">
              <img src="../../../../../assets/img/webinars/Hybiz.jpg" class="custom-image img-fluid" width="80%"
                height="80%" alt="..." />
            </div>
            <div class="tab-pane fade" id="menu" role="tabpanel" aria-labelledby="profile-tab">
              <img src="../../../../../assets/img/webinars/Silicon%20India.jpg" class="custom-image img-fluid"
                width="80%" height="80%" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Awards End -->

<!-- <div
  class="pt-70 pb-70  pdng d-flex flex-column justify-content-center"
>
  <h2 class="text-center mb-3 custom-header">Awards</h2>
  <div class="container bg-gradient-light">
    <div class="row order-1">
      <div class="col-lg-6">
        <div class="d-flex align-items-center gap-2">
          <div class="img-container">
            <img
              src="https://nxtwave.imgix.net/ccbp-website/Home/award-section/award-image.png?auto=format,compress&q=80"
              alt=""
              width="60"
            />
          </div>
          <div class="text">
            <small class="font-weight-bold custom-small-text"
              >Recognized as</small
            >
            <h2 class="custom-h2-text">
              Best Tech Skilling EdTech Company of the year 2022
            </h2>
          </div>
        </div>

        <div class="bottom-img mt-2 mb-2">
          <img
            src="https://nxtwave.imgix.net/ccbp-website/Home/award-section/award-logo.png?auto=format,compress&q=80"
            alt=""
            width="319"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <img
          src="https://images.unsplash.com/photo-1594122230689-45899d9e6f69?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          class="custom-img"
        />
      </div>
    </div>
    <div class="row mt-5 order-2">
      <div class="col-lg-6">
        <img
          src="https://images.unsplash.com/photo-1594122230689-45899d9e6f69?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          class="custom-img"
        />
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center gap-2">
          <div class="img-container">
            <img
              src="https://nxtwave.imgix.net/ccbp-website/Home/award-section/award-image.png?auto=format,compress&q=80"
              alt=""
              width="60"
            />
          </div>
          <div class="text">
            <small class="custom-small-text">Recognized as</small>
            <h2 class="custom-h2-text">
              Best Tech Skilling EdTech Company of the year 2022
            </h2>
          </div>
        </div>

        <div class="bottom-img mt-2 mb-2">
          <img
            src="https://nxtwave.imgix.net/ccbp-website/Home/award-section/award-logo.png?auto=format,compress&q=80"
            alt=""
            width="319"
          />
        </div>
      </div>
    </div>
    <div class="row mt-5 order-1">
      <div class="col-lg-6">
        <div class="d-flex align-items-center gap-2">
          <div class="img-container">
            <img
              src="https://nxtwave.imgix.net/ccbp-website/Home/award-section/award-image.png?auto=format,compress&q=80"
              alt=""
              width="60"
            />
          </div>
          <div class="text">
            <small class="font-weight-bold custom-small-text"
              >Recognized as</small
            >
            <h2 class="custom-h2-text">
              Best Tech Skilling EdTech Company of the year 2022
            </h2>
          </div>
        </div>

        <div class="bottom-img mt-2 mb-2">
          <img
            src="https://nxtwave.imgix.net/ccbp-website/Home/award-section/award-logo.png?auto=format,compress&q=80"
            alt=""
            width="319"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <img
          src="https://images.unsplash.com/photo-1594122230689-45899d9e6f69?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          class="custom-img"
        />
      </div>
    </div>
    <div class="row mt-5 order-2">
      <div class="col-lg-6">
        <img
          src="https://images.unsplash.com/photo-1594122230689-45899d9e6f69?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          class="custom-img"
        />
      </div>
      <div class="col-lg-6">
        <div class="d-flex align-items-center gap-2">
          <div class="img-container">
            <img
              src="https://nxtwave.imgix.net/ccbp-website/Home/award-section/award-image.png?auto=format,compress&q=80"
              alt=""
              width="60"
            />
          </div>
          <div class="text">
            <small class="custom-small-text">Recognized as</small>
            <h2 class="custom-h2-text">
              Best Tech Skilling EdTech Company of the year 2022
            </h2>
          </div>
        </div>

        <div class="bottom-img mt-2 mb-2">
          <img
            src="https://nxtwave.imgix.net/ccbp-website/Home/award-section/award-logo.png?auto=format,compress&q=80"
            alt=""
            width="319"
          />
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Awards End -->

<!-- Students testimonials start -->
<!-- <app-testimonials-style-two></app-testimonials-style-two> -->

<!-- Carousel wrapper -->
<div class="container pt-30 pb-70">
  <div class="">
    <h2 id="Testimonials" class="pt-3 text-center hheading header-styling" style="color: #334155">
      Testimonial
    </h2>
  </div>

  <div class="d-block d-sm-none">
    <div class="testimonial-slider">
      <div class="testimonial-content">
        <div *ngFor="let testimonial of testimonialsSmall; let i = index" [class.active]="i === activeIndex">
          <div *ngIf="i === activeIndex">
            <p>{{ testimonial.content }}</p>
            <h3>{{ testimonial.name }}</h3>
            <span>{{ testimonial.course }}</span>
          </div>
        </div>
      </div>

      <div class="testimonial-images">
        <div class="navigation prev" (click)="prevTestimonialSmall()">
          <button class="arrow">&lt;</button>
        </div>
        <div *ngFor="let testimonial of testimonialsSmall; let i = index" (click)="showContent(i)"
          class="testimonial-image" [class.active]="i === activeIndex">
          <img src="{{ testimonial.image }}" alt="Testimonial Image" />
        </div>
        <div class="navigation next" (click)="nextTestimonialSmall()">
          <button class="arrow">&gt;</button>
        </div>
      </div>
    </div>
  </div>

  <div class="d-none d-lg-block">
    <div class="testimonial-slider">
      <div class="testimonial-content">
        <div *ngFor="let testimonial of testimonialsBig; let i = index" [class.active]="i === activeIndex">
          <div *ngIf="i === activeIndex">
            <p>{{ testimonial.content }}</p>
            <h3>{{ testimonial.name }}</h3>
            <span>{{ testimonial.course }}</span>
          </div>
        </div>
      </div>
      <div class="testimonial-images">
        <div class="navigation prev" (click)="prevTestimonial()">
          <button class="arrow">&lt;</button>
        </div>
        <div *ngFor="let testimonial of testimonialsBig; let i = index" (click)="showContent(i)"
          class="testimonial-image" [class.active]="i === activeIndex">
          <img src="{{ testimonial.image }}" alt="Testimonial Image" />
        </div>
        <div class="navigation next" (click)="nextTestimonial()">
          <button class="arrow">&gt;</button>
        </div>
      </div>
    </div>

    <!-- name: 'John Doe',
      content:
        'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation',
      image:
        'https://images.unsplash.com/photo-1633332755192-727a05c4013d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D',
      course: 'Courses', -->

    <!-- Bootstrap carousel -->
  </div>

  <!-- <div class="testimonial-wrapper">
    <div class="mt-3">
      <div
        class="d-flex justify-content-center align-items-stretch p-2 flex-wrap py-3"
      >
        <div class="mr-2">
          <div class="card">
            <div class="px-2 py-2">
              <div class="d-flex">
                <div>
                  <img
                    src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dXNlcnxlbnwwfHwwfHx8MA%3D%3D"
                    width="50"
                    class="rounded-circle"
                  />
                </div>
                <div class="ml-2">
                  <span class="name">Dan Spratling</span>
                  <p class="para">Company name</p>
                </div>
              </div>
              <span class="maintxt"
                >"Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore magna aliqua."</span
              >
            </div>
          </div>

          <div class="card mt-3">
            <div class="px-2 py-2">
              <div class="d-flex">
                <div>
                  <img
                    src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D"
                    width="50"
                    class="rounded-circle"
                  />
                </div>
                <div class="ml-2">
                  <span class="name">Dan Spratling</span>
                  <p class="para">Company name</p>
                </div>
              </div>
              <span class="maintxt"
                >"Lorem ipsum dolor sit amet,consectetur adipiscing elit."</span
              >
            </div>
          </div>
        </div>
        <div class="ml-2">
          <div class="card">
            <div class="px-2 py-2">
              <div class="d-flex">
                <div>
                  <img
                    src="https://images.unsplash.com/photo-1607990281513-2c110a25bd8c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDExfHx8ZW58MHx8fHx8"
                    width="50"
                    class="rounded-circle"
                  />
                </div>
                <div class="ml-2">
                  <span class="name">Dan Spratling</span>
                  <p class="para">Company name</p>
                </div>
              </div>
              <span class="maintxt"
                >"Lorem ipsum dolor sit amet,consectetur adipiscing elit."</span
              >
            </div>
          </div>

          <div class="card mt-3">
            <div class="px-2 py-2">
              <div class="d-flex">
                <div>
                  <img
                    src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDh8fHVzZXJ8ZW58MHx8MHx8fDA%3D"
                    width="50"
                    class="rounded-circle"
                  />
                </div>
                <div class="ml-2">
                  <span class="name">Dan Spratling</span>
                  <p class="para">Company name</p>
                </div>
              </div>
              <span class="maintxt"
                >"Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore magna aliqua."</span
              >
            </div>
          </div>
        </div>

        <div class="mr-2 ml-2">
          <div class="card">
            <div class="px-2 py-2">
              <div class="d-flex">
                <div>
                  <img
                    src="https://images.unsplash.com/photo-1628157588553-5eeea00af15c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTk1fHx1c2VyfGVufDB8fDB8fHww"
                    width="50"
                    height="auto"
                    class="rounded-circle"
                  />
                </div>
                <div class="ml-2">
                  <span class="name">Dan Spratling</span>
                  <p class="para">Company name</p>
                </div>
              </div>
              <span class="maintxt"
                >"Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore magna aliqua."</span
              >
            </div>
          </div>

          <div class="card mt-3">
            <div class="px-2 py-2">
              <div class="d-flex">
                <div>
                  <img
                    src="https://images.unsplash.com/photo-1640951613773-54706e06851d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTk5fHx1c2VyfGVufDB8fDB8fHww"
                    width="50"
                    class="rounded-circle"
                  />
                </div>
                <div class="ml-2">
                  <span class="name">Dan Spratling</span>
                  <p class="para">Company name</p>
                </div>
              </div>
              <span class="maintxt"
                >"Lorem ipsum dolor sit amet,consectetur adipiscing elit."</span
              >
            </div>
          </div>
        </div>
        <div class="ml-2">
          <div class="card">
            <div class="px-2 py-2">
              <div class="d-flex">
                <div>
                  <img
                    src="https://images.unsplash.com/photo-1640960543409-dbe56ccc30e2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fHw%3D"
                    width="50"
                    class="rounded-circle"
                  />
                </div>
                <div class="ml-2">
                  <span class="name">Dan Spratling</span>
                  <p class="para">Company name</p>
                </div>
              </div>
              <span class="maintxt"
                >"Lorem ipsum dolor sit amet,consectetur adipiscing elit."</span
              >
            </div>
          </div>

          <div class="card mt-3">
            <div class="px-2 py-2">
              <div class="d-flex">
                <div>
                  <img
                    src="https://images.unsplash.com/photo-1586297135537-94bc9ba060aa?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fHw%3D"
                    width="50"
                    class="rounded-circle"
                  />
                </div>
                <div class="ml-2">
                  <span class="name">Dan Spratling</span>
                  <p class="para">Company name</p>
                </div>
              </div>
              <span class="maintxt"
                >"Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore magna aliqua."</span
              >
            </div>
          </div>
        </div>

          <div class="card mt-3">
            <div class="px-2 py-2">
              <div class="d-flex">
                <div>
                  <img
                    src="https://images.unsplash.com/photo-1535931737580-a99567967ddc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fHx8"
                    width="50"
                    class="rounded-circle"
                  />
                </div>
                <div class="ml-2">
                  <span class="name">Dan Spratling</span>
                  <p class="para">Company name</p>
                </div>
              </div>
              <span class="maintxt"
                >"Lorem ipsum dolor sit amet,consectetur adipiscing elit."</span
              >
            </div>
          </div>
        </div>
        <div class="ml-2 mt-2">
          <div class="card">
            <div class="px-2 py-2">
              <div class="d-flex">
                <div>
                  <img
                    src="https://images.unsplash.com/photo-1523111343671-c0872e1ac556?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTQxfHx1c2VyJTIwcHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D"
                    width="50"
                    class="rounded-circle"
                  />
                </div>
                <div class="ml-2">
                  <span class="name">Dan Spratling</span>
                  <p class="para">Company name</p>
                </div>
              </div>
              <span class="maintxt"
                >"Lorem ipsum dolor sit amet,consectetur adipiscing elit."</span
              >
            </div>
          </div>

          <div class="card mt-3">
            <div class="px-2 py-2">
              <div class="d-flex">
                <div>
                  <img
                    src="https://i.imgur.com/hczKIze.jpg"
                    width="50"
                    class="rounded-circle"
                  />
                </div>
                <div class="ml-2">
                  <span class="name">Dan Spratling</span>
                  <p class="para">Company name</p>
                </div>
              </div>
              <span class="maintxt"
                >"Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore magna aliqua."</span
              >
            </div>
          </div>
        </div> 
      </div>
    </div> -->
  <div class="row m-auto d-flex justify-content-center align-items-center">
    <div class="col-lg-6 col-sm-12 text-center mt-5">
      <a routerLink="/testimonals" class="callbtn mr-3" style="background-color: #2a619d">View All Testimonials</a>
    </div>
  </div>
</div>

<!-- Carousel wrapper -->

<!-- Students testimonials end -->

<!-- futured icons start-->
<div style="background-color: #f1f5f9">
  <div class="container pb-5 header">
    <h2 id="featured" class="pt-4 header-styling">Featured In</h2>

    <div class="row text-center">
      <div class="col-lg-3">
        <img src="../../../../../assets/img/featured/1.png" class="img-fluid mt-3" alt="" />
      </div>
      <div class="col-lg-3">
        <img src="../../../../../assets/img/featured/2.png" class="img-fluid mt-3" alt="" />
      </div>
      <div class="col-lg-3">
        <img src="../../../../../assets/img/featured/8.png" class="img-fluid mt-3" alt="" />
      </div>
      <div class="col-lg-3">
        <img src="../../../../../assets/img/featured/9.png" class="img-fluid mt-3" alt="" />
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-3">
        <img src="../../../../../assets/img/featured/11.png" class="img-fluid mt-3" alt="" />
      </div>
      <div class="col-lg-3">
        <img src="../../../../../assets/img/featured/13.png" class="img-fluid mt-3" alt="" />
      </div>
      <div class="col-lg-3">
        <img src="../../../../../assets/img/featured/14.png" class="img-fluid mt-3" alt="" />
      </div>
      <div class="col-lg-3">
        <img src="../../../../../assets/img/featured/15.png" class="img-fluid mt-3" alt="" />
      </div>
    </div>

    <div class="row text-center">
      <div class="col-lg-3">
        <img src="../../../../../assets/img/featured/16.png" class="img-fluid mt-3" alt="" />
      </div>
      <div class="col-lg-3">
        <img src="../../../../../assets/img/featured/12.png" class="img-fluid mt-3" alt="" />
      </div>
      <div class="col-lg-3">
        <img src="../../../../../assets/img/featured/4.png" class="img-fluid mt-3" alt="" />
      </div>
      <div class="col-lg-3">
        <img src="../../../../../assets/img/featured/5.png" class="img-fluid mt-3" alt="" />
      </div>
    </div>

    <div class="row text-center">
      <div class="col-lg-3">
        <img src="../../../../../assets/img/featured/6.png" class="img-fluid mt-3" alt="" />
      </div>
      <div class="col-lg-3">
        <img src="../../../../../assets/img/featured/7.png" class="img-fluid mt-3" alt="" />
      </div>
      <div class="col-lg-3">
        <img src="../../../../../assets/img/featured/3.png" class="img-fluid mt-3" alt="" />
      </div>
      <div class="col-lg-3">
        <img src="../../../../../assets/img/featured/10.png" class="img-fluid mt-3" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- futured icons end-->

<div class="pt-70 pb-70  pdng">
  <app-updates></app-updates>
</div>
<div class="pt-50 pb-50">
  <div class="mb-5">
    <div class="container">
      <div class="pt-3 m-0 mb-2 text-center header">
        <h2 style="color: #000" class="header-styling">Most Searched Terms</h2>
      </div>
      <div class="d-flex flex-wrap most_searched">
        <span>Software training institute</span>
        <span>Best software training institute in Hyderabad</span>
        <span>Software training institutes in Hyderabad</span>
        <span>Software courses</span>
        <span>Software institutes in Hyderabad ameerpet</span>
        <span>software training institutes</span>
        <span>Software coaching centers in kphb</span>
        <span>Best Training Institute in Hyderabad </span>
        <span>Software training institutes near me</span>
        <span>IT Courses near me</span>
        <span>Job-Oriented IT Courses in Hyderabad</span>
        <span>Software training institutes in ameerpet</span>
        <span>Best Software Development Institute in Hyderabad</span>
        <span>software engineering course</span>
        <span>software development courses</span>
        <span>software development course</span>
        <span>software development classes</span>
        <span>software courses in hyderabad with 100 placement</span>
        <span>software testing institute in ameerpet</span>
        <span>software classes in hyderabad</span>
      </div>
    </div>
  </div>
</div>
<!-- <app-get-instant-courses></app-get-instant-courses> -->

<!-- <div class="blog-area ptb-100">
    <app-blog></app-blog>
</div> -->

<!-- <app-view-all-courses></app-view-all-courses> -->

<!-- <div class="premium-access-area ptb-100">
    <app-premium-access></app-premium-access>
    <div class="shape3"><img src="assets/img/shape3.png" alt="image"></div>
    <div class="shape4"><img src="assets/img/shape4.png" alt="image"></div>
    <div class="shape8"><img src="assets/img/shape7.png" alt="image"></div>
</div> -->

<!-- "name": "odemy-ng", -->