<form id="dsForm" (ngSubmit)="submitForm()">
    <input type="text" id="name" name="nname" required placeholder="Enter Your Full Name" [(ngModel)]="nname">
    <input type="email" id="email" name="nemail" required placeholder="Enter Your Email" [(ngModel)]="nemail">
    <input type="tel" id="phone" name="nphone" required placeholder="Enter Your Phone Number" [(ngModel)]="nphone">
    <input type="text" id="city" name="ncity" required placeholder="Enter Your City" [(ngModel)]="ncity">
    <button type="submit">Download Syllabus</button>
</form>
  