<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <!-- <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/">Development</a></li>
                <li>Python for Finance: Investment Fundamentals & Data Analytics</li>
            </ul> -->
      <h2>Revit</h2>
      <a class="scdownloadSyllabus" id="open-form">Download Syllabus</a>
      <!-- <div class="rating">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <div class="rating-count">
                    <span>4.0 (1 rating)</span>
                </div>
            </div> -->
    </div>
  </div>
  <div class="shape9"><img src="assets/img/shape8.svg" alt="image" /></div>
</div>

<div class="courses-details-area pb-100">
  <div class="courses-details-image">
    <!-- <img src="assets/img/courses/course-details.jpg" alt="image"> -->
    <img src="../../../../../assets/img/singlecourse-banner.jpg" alt="image" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="courses-details-desc">
          <div class="courses-overview">
            <p>
              Any professional working in the fields of architecture,
              engineering, and interior design must have Revit, which is
              standard software used for the modeling and documentation of civil
              construction projects. Revit offers a level of organization,
              accuracy, and agility to your project that CAD software is unable
              to match, thanks to its complete parameterized resources and
              alignment with the BIM (Building Information Modeling) idea.
            </p>
            <h3>Course Description</h3>
            <p>
              Revit offers the necessary tools to produce all the standard 2D
              documentation (plans, sections, views, elevations, etc.) and a 3D
              modeling environment that is essential for describing any kind of
              project in civil construction. Moreover, since all changes are
              reflected across the project, there is no need to manually make
              fixes, which considerably cuts down on the time spent on
              revisions.
            </p>
            <p>
              You will first be instructed through the installation procedure to
              make sure you have installed the right region and library
              templates. The UK Metric library and templates will be utilized,
              but if you prefer to use another, no problem. The procedures will
              all be the same, and if a component from the UK library is used
              but isn’t in your library, a replacement will always be given. You
              only work on one project, just like with BIM, thus the course is
              designed similarly.
            </p>
            <p>
              Don't worry if you've never used Revit or any other CAD-based
              software before as the course will start from basics and grow you
              up to the point where you will be capable of making your own Revit
              models. The course will begin with a quick explanation of the
              concepts of a building. What BIM is before going on to the
              essentials of Revit, including its terminology, tools, and user
              interface.
            </p>
            <p>
              The project will serve as the groundwork for the course as you
              move forward, adding additional tools and features. Including the
              datum components, such as the grids and levels. Structural
              elements, including the major and minor elements of the walls,
              windows, doors, floors, staircases, ceilings, curtain walls, and
              roofs. You need to learn how to generate 2D details, tag
              components, and construct schedules. Creating render images, and
              creating video walkthroughs is the next step.
            </p>
            <h3>Certification:</h3>
            <p>
              “You can demonstrate your skills, advance your career, increase
              your productivity. Gain a competitive advantage, and expand your
              professional network with a Revit certification.”
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="courses-details-info">
          <!-- <div class="image">
                        <img src="assets/img/courses/img1.jpg" alt="image">
                        <a href="https://www.youtube.com/watch?v=PWvPbGWVRrU" class="link-btn popup-youtube"></a>
                        <div class="content">
                            <i class="flaticon-play"></i>
                            <span>Course Preview</span>
                        </div>
                    </div> -->
          <app-single-course-sidebar></app-single-course-sidebar>

          <ul class="info">
            <li class="price">
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-tag"></i> Price</span>
                $49
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-teacher"></i> Instructor</span>
                Teksacademy
              </div>
            </li>
            <!-- <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-time"></i> Duration</span>
                                3 hourse
                            </div>
                        </li> -->
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-distance-learning"></i> Lessons</span>
                25
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-web"></i> Enrolled</span>
                255 students
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-lock"></i> Access</span>
                Lifetime
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-lock"></i> Languages</span>
                Tel,Eng,Hin
              </div>
            </li>

            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-lock"></i> Fee</span>
                10,000
              </div>
            </li>
          </ul>
          <!-- <div class="btn-box">
                        <a routerLink="/single-courses-1" class="default-btn"><i class="flaticon-shopping-cart"></i>Add to Cart<span></span></a>
                        <a routerLink="/single-courses-1" class="default-btn"><i class="flaticon-tag"></i>Buy Now<span></span></a>
                    </div> -->
          <div class="courses-share">
            <div class="share-info">
              <span>Share This Course <i class="flaticon-share"></i></span>
              <ul class="social-link">
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-linkedin"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="courses-area bg-f8f9f8 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>More Courses You Might Like</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="/single-courses-1" class="d-block image">
                            <img src="assets/img/courses/img1.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">$39</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                            <span>Alex Morgan</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">The Data Science Course 2020: Complete Data Science Bootcamp</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 15 Lessons</li>
                            <li><i class='flaticon-people'></i> 145 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="/single-courses-1" class="d-block image">
                            <img src="assets/img/courses/img2.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">$49</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user2.jpg" class="rounded-circle" alt="image">
                            <span>Sarah Taylor</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">Java Programming Masterclass for Software Developers</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 100 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="/single-courses-1" class="d-block image">
                            <img src="assets/img/courses/img3.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">$59</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user3.jpg" class="rounded-circle" alt="image">
                            <span>David Warner</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">Deep Learning A-Z™: Hands-On Artificial Neural Networks</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 150 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<app-popularcourses></app-popularcourses>
<app-dsform></app-dsform>
