<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <!-- <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/">Development</a></li>
                <li>Python for Finance: Investment Fundamentals & Data Analytics</li>
            </ul> -->
            <h2>Digital Marketing</h2>
            <!-- <div class="rating">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <div class="rating-count">
                    <span>4.0 (1 rating)</span>
                </div>
            </div> -->
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>

<div class="courses-details-area pb-100">
    <div class="courses-details-image">
        <img src="assets/img/singlecourse-banner.jpg" alt="image">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="courses-details-desc">
                    <ngx-tabset>
                        <ngx-tab tabTitle="Curriculum">
                            <div class="courses-curriculum">
                                <h3 class="course-heading" (click)="toggleCourseList1()">Digital Marketing-Demo-Introduction <i class="fa-solid fa-circle-chevron-down"></i></h3>
                                <ul class="cp" [class.show]="showCourseList1">
                                    <li>
                                        <a href="https://teksaacademy-intro.s3.ap-south-1.amazonaws.com/digital+marketing+intro.mp4" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">digital marketing Introduction</span>
                                        <div class="courses-meta">
                                            <!-- <span class="questions">5 questions</span>
                                            <span class="duration">01 Hour</span> -->
                                            <span class="status">Preview</span>
                                        </div>
                                        </a>
                                    </li>
                                </ul>

                                <h3 class="course-heading" (click)="toggleCourseList2()">Social Media Marketing <i class="fa-solid fa-circle-chevron-down"></i></h3>
                                <ul class="cp" [class.show]="showCourseList2">
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Personal Account Setup</span>
                                    <div class="courses-meta">
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Personal Account Overview</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Facebook Page Creation</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Facebook Page Types</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Facebook Page Setting</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Facebook Post Sizes</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">How to Improve Likes</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="v" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Facebook Groups</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Popular Facebook Ad campaign</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Opening Ads Manager</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Ads Panel Overview</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Facebook Ads Creation</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Facebook Content Strategy</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Instagram Marketing</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Instagram App Overview</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Instagram App Settings Explained</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">What Works on Instagram</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Instagram Profile Switching</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Instagram ads</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Post Design tools canva</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Twitter Marketing</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Twitter Ads</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">Twitter Ads Traffic</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                    <span class="courses-name">LinkedIn Marketing</span>
                                    <div class="courses-meta">
                                        
                                        <span class="status"><i class="fa-solid fa-lock"></i></span>
                                    </div>
                                    </a>
                                </li>
                                </ul>

                                <h3 class="course-heading" (click)="toggleCourseList3()">SEO <i class="fa-solid fa-circle-chevron-down"></i></h3>
                                <ul class="cp" [class.show]="showCourseList3">
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">SEO Introduction</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">Keyword Research</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">Keyword types , Content creation & ON Page SEO</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                </ul>
                                <h3 class="course-heading" (click)="toggleCourseList4()">Google Analytics <i class="fa-solid fa-circle-chevron-down"></i></h3>
                                <ul class="cp" [class.show]="showCourseList4">
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">Adsense and Admob</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">Analytics</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                </ul>
                                <h3 class="course-heading" (click)="toggleCourseList5()">WORDPRESS <i class="fa-solid fa-circle-chevron-down"></i></h3>
                                <ul class="cp" [class.show]="showCourseList5">
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">Web designing intro</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">Background ,Border, Shadow, CSS filters &Alignment</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">Header Footer</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">Text options</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">Image button slider video</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">Woocommerce simple product</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="popup-youtube d-flex justify-content-between align-items-center">
                                        <span class="courses-name">Variable products , payment gateway setup</span>
                                        <div class="courses-meta">
                                            
                                            <span class="status"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </ngx-tab>
                        <ngx-tab tabTitle="Overview">
                            <div class="courses-overview active">
                                <h3>Course Description:</h3>
                                <p>Digital marketing is a broad term that covers various methods, such as SEO, SEM, email marketing, social media marketing, inbound marketing, content marketing, web analytics, and so on.</p>
                                <p>Digital Marketing is one of the most in-demand fields in today’s industry. Our course will give you more clarity over the current trends and scenarios in Digital Marketing, which helps our learners get numerous job opportunities.</p>
                                <h3>What does this Digital Marketing course provide for you?</h3>
                                <p>The Digital Marketing course takes you to the course topics that gives you clarity about digital marketing and the basics. You will gain the following insights after the completion of this Digital Marketing course.</p>
                                <ul>
                                    <li>Difference between traditional marketing and digital marketing.</li>
                                    <li>How digital marketing increases sales of any business.</li>
                                    <li>Basics about Search Engine Optimization.</li>
                                    <li>How to create a website using WordPress platform.</li>
                                    <li>How to run ads and campaigns on various social media platforms.</li>
                                </ul>
                                <h3>Who can learn on our Digital Marketing course?</h3>
                                <p>This course is open to anyone who has completed a bachelor’s degree. Students with an interest in digital marketing are also welcome to enroll in the course.</p>
                                <h3>Upon completion of this course students should be able to:</h3>
                                <ul>
                                    <li>Understand the basic concepts of digital marketing.</li>
                                    <li>Execute effective digital marketing strategies.</li>
                                    <li>Evaluate digital marketing campaigns.</li>
                                    <li>Measure the appropriate metrics for the end results.</li>
                                    <li>Apply the best practices in SEO, social media marketing, PPC, and many others.</li>
                                    <li>Create a well-planned strategy to improve the business of an organization.</li>
                                </ul>
                                <h3>Course Syllabus</h3>
                                <p>Digital Marketing Introduction</p>
                                <h4>Social Media Marketing</h4>
                                <h4>Facebook Marketing</h4>
                                <ul>
                                    <li>Personal Account Setup</li>
                                    <li>Personal Account Overview</li>
                                    <li>Facebook Page Creation</li>
                                    <li>Facebook Page Types</li>
                                    <li>Facebook Page Setting</li>
                                    <li>Facebook Post Sizes</li>
                                    <li>How to Improve Likes</li>
                                    <li>Facebook Groups</li>
                                    <li>Popular Facebook Ad cam</li>
                                    <li>Opening Ads Manager</li>
                                    <li>Ads Pannel Overview</li>
                                    <li>Facebook Ads Creation</li>
                                    <li>Facebook Content Strategy</li>
                                </ul>
                                <h4>Instagram Marketing</h4>
                                <ul>
                                    <li>Instagram Marketing</li>
                                    <li>Instagram App Overview</li>
                                    <li>Instagram App Settings Explained</li>
                                    <li>What Works on Instagram</li>
                                    <li>Instagram Profile Switching</li>
                                    <li>Instagram ads</li>
                                    <li>Post Design tools Canva</li>
                                </ul>
                                <h4>Twitter Marketing</h4>
                                <ul>
                                    <li>Twitter Marketing</li>
                                    <li>Twitter Ads</li>
                                    <li>Twitter Ads Traffic</li>
                                </ul>
                                <h3>LinkedIn Marketing</h3>
                                <h4>SEO</h4>
                                <ul>
                                    <li>SEO Introduction</li>
                                    <li>Keyword Research</li>
                                    <li>Keyword types, Content creation & ON Page SEO</li>
                                </ul>
                                <h4>Google Analytics</h4>
                                <ul>
                                    <li>AdSense and Ad mob</li>
                                    <li>Analytics</li>
                                </ul>
                                <h4>WordPress</h4>
                                <ul>
                                    <li>Web designing intro</li>
                                    <li>Background, Border, Shadow, CSS filters &Alignment</li>
                                    <li>Header Footer</li>
                                    <li>Text options</li>
                                    <li>Image button slider video</li>
                                    <li>WooCommerce simple product</li>
                                    <li>Variable products, payment gateway setup</li>
                                </ul>
                            </div>
                        </ngx-tab>
                    </ngx-tabset>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="courses-details-info">
                    <div class="image">
                        <img src="assets/img/courses/img1.jpg" alt="image">
                        <a href="#" class="link-btn popup-youtube"></a>
                        <div class="content">
                            <i class="flaticon-play"></i>
                            <span>Course Preview</span>
                        </div>
                    </div>
                    <app-slp-overview-form></app-slp-overview-form>
                    <ul class="info">
                        <li class="price">
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-tag"></i> Price</span>
                                $49
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-teacher"></i> Instructor</span>
                                Mr. Kishore Raju
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-time"></i> Duration</span>
                                13 Hours
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-time"></i> Duration</span>
                                6 Hours
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-time"></i> Duration</span>
                                6 Hours
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-distance-learning"></i> Language</span>
                                English
                            </div>
                        </li>
                        <!-- <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-web"></i> Enrolled</span>
                                255 students
                            </div>
                        </li> -->
                        <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-lock"></i> Access</span>
                                Lifetime
                            </div>
                        </li>
                    </ul>
                    <div class="btn-box">
                        <!-- <a routerLink="/single-courses-1" class="default-btn"><i class="flaticon-shopping-cart"></i>Add to Cart<span></span></a> -->
                        <a href="https://www.teksacademy.live/courses/DIGITAL-MARKETING-TELUGU-64589c35e4b0fcd3e2f6a21a" class="default-btn"><i class="flaticon-tag"></i>Buy Now<span></span></a>
                    </div>
                    <div class="courses-share">
                        <div class="share-info">
                            <span>Share This Course <i class="flaticon-share"></i></span>
                            <ul class="social-link">
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


