<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2>Enquiry Form</h2>
    </div>
  </div>
  <div class="shape9"><img src="assets/img/shape8.svg" alt="image" /></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="dsform">
        <form (ngSubmit)="eformData()">
          <label for="name">Name<span>*</span></label>
          <input type="text" id="name" class="dsformi" name="efname" placeholder="Enter Your Name" required
            [(ngModel)]="efname" />

          <label for="email">Email<span>*</span></label>
          <input type="email" id="email" class="dsformi" name="efemail" placeholder="Email" required
            [(ngModel)]="efemail" />

          <label for="phone">Phone Number<span>*</span></label>
          <input type="number" id="mnumber" class="dsformi user_number" name="efphone" placeholder="Mobile Number"
            required [(ngModel)]="efphone" pattern="[0-9]*" maxlength="10" />

          <label for="course">Course<span>*</span></label>
          <input type="text" id="course" class="dsformi" name="efcourse" placeholder="Course" required
            [(ngModel)]="efcourse" />

          <!-- Dropdown for Branches -->
          <label for="branch">Branch<span>*</span></label>
          <select id="branch" class="dsformi" name="efbranch" required [(ngModel)]="efbranch">
            <option value="" disabled selected>Select Branch</option>
            <option value="Ameerpet">Ameerpet</option>
            <option value="Dilsukhnagar">Dilsukhnagar</option>
            <option value="Hitech">Hitech</option>
            <option value="Kukatpally">Kukatpally</option>
            <option value="Secunderabad">Secunderabad</option>
            <option value="Visakhapatnam">Visakhapatnam</option>
          </select>

          <label for="city">City<span>*</span></label>
          <input type="text" id="city" class="dsformi" placeholder="City" name="efcity" required [(ngModel)]="efcity" />
          <input type="submit" value="Submit" class="mt-2" />
        </form>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="frimg">
        <img src="../../../../assets/img/frimg.png" alt="" />
      </div>
    </div>
  </div>
</div>