<hr />
<div class="container ourbranchescont">
  <div class="row">
    <div class="col-lg-12">
      <div class="header">
        <h2 class="text-center header-styling">Our Branches</h2>
        <!-- <div class="text-center mt-0">
          <img
            src="https://nxtwave.imgix.net/ccbp-website/intensive/blue-under-line-Vector.svg?auto=format,compress&q=80"
            class="why_teks"
            alt=""
          />
        </div> -->
      </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="ourbranches">
      <div id="first" class="element">
        <p>
          Hitech City <br />
          6281159905
        </p>
      </div>
      <div id="second" class="element">
        <p>
          Ameerpet <br />
          6305459989
        </p>
      </div>
      <div id="third" class="element">
        <p>
          Dilshuknagar <br />
          6305481131
        </p>
      </div>
      <div id="fourth" class="element">
        <p>
          Kukatpally <br />
          9182278093
        </p>
      </div>
      <div id="fifth" class="element">
        <p>
          Secunderabad <br />
          6281159905
        </p>
      </div>
    </div>
  </div>
</div>
<hr />
