<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <!-- <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Courses Grid 01</li>
            </ul> -->
      <h2>SLP Courses</h2>
    </div>
  </div>
  <div class="shape9"><img src="assets/img/shape8.svg" alt="image" /></div>
</div>

<div class="courses-area ptb-100">
  <div class="container">
    <div class="odemy-grid-sorting row align-items-center">
      <div class="col-lg-6 col-md-6 result-count">
        <p>We found <span class="count">12</span> courses available for you</p>
      </div>
      <!-- <div class="col-lg-6 col-md-6 ordering">
                <div class="select-box">
                    <label>Sort By:</label>
                    <select>
                        <option>Default</option>
                        <option>Popularity</option>
                        <option>Latest</option>
                        <option>Price: low to high</option>
                        <option>Price: high to low</option>
                    </select>
                </div>
            </div> -->
    </div>
    <div class="row">
      <!-- slp start -->
      <div class="col-lg-4 col-md-6">
        <div
          class="single-courses-box"
          routerLink="/courses/core-python-self-learning-program"
        >
          <div class="courses-image">
            <a
              routerLink="/courses/core-python-self-learning-program"
              class="d-block image"
            >
              <img src="assets/img/slp/corepython.png" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <!-- <img
                src="assets/img/user4.jpg"
                class="rounded-circle"
                alt="image"
              /> -->
              <span>CORE PYTHON</span>
            </div>
            <h3>
              <a routerLink="/courses/core-python-self-learning-program"
                >CORE PYTHON</a
              >
            </h3>
            <p>
              Course Description: Python is a language that is primarily used by
              programmers. Python is a general purpose, high level
            </p>
            <ul
              class="courses-box-footer d-flex justify-content-between align-items-center"
            >
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="single-courses-box"
          routerLink="/courses/post-graduate-diploma-in-computer-application-pgdca-self-learning-program"
        >
          <div class="courses-image">
            <a
              routerLink="/courses/post-graduate-diploma-in-computer-application-pgdca-self-learning-program"
              class="d-block image"
            >
              <img src="assets/img/slp/PGDCA.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <!-- <img
                src="assets/img/user4.jpg"
                class="rounded-circle"
                alt="image"
              /> -->
              <span>James Anderson</span>
            </div>
            <h3>
              <a
                routerLink="/courses/post-graduate-diploma-in-computer-application-pgdca-self-learning-program"
                >PGDCA</a
              >
            </h3>
            <p>
              Course Description: PGDCA (Post Graduate Diploma in Computer
              Application) is designed to give students a clear understanding
              about computer applications.
            </p>
            <ul
              class="courses-box-footer d-flex justify-content-between align-items-center"
            >
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="single-courses-box"
          routerLink="/courses/c-language-self-learning-program"
        >
          <div class="courses-image">
            <a
              routerLink="/courses/c-language-self-learning-program"
              class="d-block image"
            >
              <img src="assets/img/slp/C-Language.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <!-- <img
                src="assets/img/user4.jpg"
                class="rounded-circle"
                alt="image"
              /> -->
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/c-language-self-learning-program"
                >C Language</a
              >
            </h3>
            <p>
              Course Description: The C language is one of the high-level
              programming languages that is used to develop application
              software.
            </p>
            <ul
              class="courses-box-footer d-flex justify-content-between align-items-center"
            >
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="single-courses-box"
          routerLink="/courses/bim-self-learning-program"
        >
          <div class="courses-image">
            <a
              routerLink="/courses/bim-self-learning-program"
              class="d-block image"
            >
              <img src="assets/img/slp/BIM.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <!-- <img
                src="assets/img/user4.jpg"
                class="rounded-circle"
                alt="image"
              /> -->
              <span>James Anderson</span>
            </div>
            <h3><a routerLink="/courses/bim-self-learning-program">BIM</a></h3>
            <p>
              Course Description: Building Information Modelling (BIM) is a
              digitized approach for the planning, modeling, and construction of
              any infrastructure project.
            </p>
            <ul
              class="courses-box-footer d-flex justify-content-between align-items-center"
            >
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="single-courses-box"
          routerLink="/courses/spoken-english-self-learning-program"
        >
          <div class="courses-image">
            <a
              routerLink="/courses/spoken-english-self-learning-program"
              class="d-block image"
            >
              <img src="assets/img/slp/Spoken-English.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <!-- <img
                src="assets/img/user4.jpg"
                class="rounded-circle"
                alt="image"
              /> -->
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/spoken-english-self-learning-program"
                >Spoken English</a
              >
            </h3>
            <p>
              Course Description: The Spoken English course is designed to help
              the learners improve their English-speaking skills in every
              aspect. The
            </p>
            <ul
              class="courses-box-footer d-flex justify-content-between align-items-center"
            >
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="single-courses-box"
          routerLink="/courses/autocad-self-learning-program"
        >
          <div class="courses-image">
            <a
              routerLink="/courses/autocad-self-learning-program"
              class="d-block image"
            >
              <img src="assets/img/slp/autocad.png" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <!-- <img
                src="assets/img/user4.jpg"
                class="rounded-circle"
                alt="image"
              /> -->
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/autocad-self-learning-program">AutoCAD</a>
            </h3>
            <p>
              Course Description: AutoCAD is a Computer Aided Design and
              Drafting software developed by Autodesk. AutoCAD is used in
              various fields
            </p>
            <ul
              class="courses-box-footer d-flex justify-content-between align-items-center"
            >
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="single-courses-box"
          routerLink="/courses/3ds-max-self-learning-program"
        >
          <div class="courses-image">
            <a
              routerLink="/courses/3ds-max-self-learning-program"
              class="d-block image"
            >
              <img src="assets/img/slp/3dsmax.png" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <!-- <img
                src="assets/img/user4.jpg"
                class="rounded-circle"
                alt="image"
              /> -->
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/3ds-max-self-learning-program">3DS MAX</a>
            </h3>
            <p>
              Course Description: 3DS Max is software used to create graphics
              from 3D models and digital images. It is the most
            </p>
            <ul
              class="courses-box-footer d-flex justify-content-between align-items-center"
            >
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="single-courses-box"
          routerLink="/courses/ielts-international-english-language-testing-system-self-learning-program"
        >
          <div class="courses-image">
            <a
              routerLink="/courses/ielts-international-english-language-testing-system-self-learning-program"
              class="d-block image"
            >
              <img src="assets/img/slp/IELTS.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <!-- <img
                src="assets/img/user4.jpg"
                class="rounded-circle"
                alt="image"
              /> -->
              <span>James Anderson</span>
            </div>
            <h3>
              <a
                routerLink="/courses/ielts-international-english-language-testing-system-self-learning-program"
                >IELTS</a
              >
            </h3>
            <p>
              Course Description: IELTS (International English Language Testing
              System) assesses the language proficiency of non-native speakers.
              Our IELTS course is designed
            </p>
            <ul
              class="courses-box-footer d-flex justify-content-between align-items-center"
            >
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="single-courses-box"
          routerLink="/courses/revit-mep-self-learning-program"
        >
          <div class="courses-image">
            <a
              routerLink="/courses/revit-mep-self-learning-program"
              class="d-block image"
            >
              <img src="assets/img/slp/Revit-MEP.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <!-- <img
                src="assets/img/user4.jpg"
                class="rounded-circle"
                alt="image"
              /> -->
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/revit-mep-self-learning-program"
                >Revit MEP</a
              >
            </h3>
            <p>
              Course Description: Revit MEP is the product of Autodesk which is
              one of the Building Information Modelling (BIM) software developed
            </p>
            <ul
              class="courses-box-footer d-flex justify-content-between align-items-center"
            >
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="single-courses-box"
          routerLink="/courses/front-end-development-self-learning-program"
        >
          <div class="courses-image">
            <a
              routerLink="/courses/front-end-development-self-learning-program"
              class="d-block image"
            >
              <img src="assets/img/slp/front-end-development.png" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <!-- <img
                src="assets/img/user4.jpg"
                class="rounded-circle"
                alt="image"
              /> -->
              <span>James Anderson</span>
            </div>
            <h3>
              <a
                routerLink="/courses/front-end-development-self-learning-program"
                >Front End Development</a
              >
            </h3>
            <p>
              Course Description: Front End development refers to the
              development of an entire application, involving the front end and
              the back
            </p>
            <ul
              class="courses-box-footer d-flex justify-content-between align-items-center"
            >
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="single-courses-box"
          routerLink="/courses/data-science-self-learning-program"
        >
          <div class="courses-image">
            <a
              routerLink="/courses/data-science-self-learning-program"
              class="d-block image"
            >
              <img src="assets/img/slp/Data-Science.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <!-- <img
                src="assets/img/user4.jpg"
                class="rounded-circle"
                alt="image"
              /> -->
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/data-science-self-learning-program"
                >Data Science</a
              >
            </h3>
            <p>
              Course Description: Data science is a multidisciplinary approach
              that combines the principles of mathematics, AI, and statistics.
              The course teaches
            </p>
            <ul
              class="courses-box-footer d-flex justify-content-between align-items-center"
            >
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="single-courses-box"
          routerLink="/courses/digital-marketing-self-learning-program"
        >
          <div class="courses-image">
            <a
              routerLink="/courses/digital-marketing-self-learning-program"
              class="d-block image"
            >
              <img src="assets/img/slp/Digital-Marketing.jpg" alt="image" />
            </a>
            <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
            <!-- <div class="price shadow">$99</div> -->
          </div>
          <div class="courses-content">
            <div class="course-author d-flex align-items-center">
              <!-- <img
                src="assets/img/user4.jpg"
                class="rounded-circle"
                alt="image"
              /> -->
              <span>James Anderson</span>
            </div>
            <h3>
              <a routerLink="/courses/digital-marketing-self-learning-program"
                >Digital Marketing</a
              >
            </h3>
            <p>
              Course Description: Digital marketing is a broad term that covers
              various methods, such as SEO, SEM, email marketing, social media
            </p>
            <ul
              class="courses-box-footer d-flex justify-content-between align-items-center"
            >
              <li><i class="flaticon-agenda"></i> 44 Lessons</li>
              <li><i class="flaticon-people"></i> 440 Students</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-12 col-md-12">
                <div class="pagination-area text-center">
                    <a routerLink="/courses-1" class="prev page-numbers"><i class='bx bx-chevrons-left'></i></a>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a routerLink="/courses-1" class="page-numbers">2</a>
                    <a routerLink="/courses-1" class="page-numbers">3</a>
                    <a routerLink="/courses-1" class="page-numbers">4</a>
                    <a routerLink="/courses-1" class="next page-numbers"><i class='bx bx-chevrons-right'></i></a>
                </div>
            </div> -->
    </div>
  </div>
</div>
