<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <!-- <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Courses Grid 01</li>
            </ul> -->
            <h2>In-demand Courses</h2>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>

<div class="courses-area ptb-100">
    <div class="container">
        <div class="odemy-grid-sorting row align-items-center">
            <div class="col-lg-6 col-md-6 result-count">
                <p>We found <span class="count">33</span> courses available for you</p>
            </div>
            <div class="col-lg-6 col-md-6 ordering">
                <div class="select-box">
                    <label>Sort By:</label>
                    <select>
                        <option>Default</option>
                        <option>Popularity</option>
                        <option>Latest</option>
                        <option>Price: low to high</option>
                        <option>Price: high to low</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/nodejs">
                    <div class="courses-image">
                        <a routerLink="/courses/nodejs" class="d-block image">
                            <img src="assets/img/allcourses/nodejs.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$39</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user1.jpg" class="rounded-circle" alt="image"> -->
                            <span>Alex Morgan</span>
                        </div>
                        <h3><a routerLink="/courses/nodejs">NodeJS</a></h3>
                        <p>An open-source, cross-platform runtime atmosphere and library for JavaScript are called Node.js, and it is
                            used to run web applications
                
                        </p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 15 Lessons</li>
                            <li><i class='flaticon-people'></i> 145 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/hvac/">
                    <div class="courses-image">
                        <a routerLink="/courses/hvac/"  class="d-block image">
                            <img src="assets/img/allcourses/hvac.png" alt="hvac">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$49</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user2.jpg" class="rounded-circle" alt="image"> -->
                            <span>Sarah Taylor</span>
                        </div>
                        <h3><a routerLink="/courses/hvac/">HVAC</a></h3>
                        <p>Heating, ventilation, and air conditioning are usually referred to as HVAC. This is the system in the structure that deals</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 100 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/3ds-max-2/">
                    <div class="courses-image">
                        <a routerLink="/courses/3ds-max-2/" class="d-block image">
                            <img src="assets/img/allcourses/3dsmax.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$59</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user3.jpg" class="rounded-circle" alt="image"> -->
                            <span>David Warner</span>
                        </div>
                        <h3><a routerLink="/courses/3ds-max-2/">3ds max</a></h3>
                        <p>A computer graphics tool called 3ds Max is designed to create 3D models and digital photographs and animations. One of</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 150 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/full-stack-python/">
                    <div class="courses-image">
                        <a routerLink="/courses/full-stack-python/" class="d-block image">
                            <img src="assets/img/allcourses/fullstackpython.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$39</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user6.jpg" class="rounded-circle" alt="image">
                            <span>Alex Morgan</span>
                        </div>
                        <h3><a routerLink="/courses/full-stack-python/">Full Stack python</a></h3>
                        <p>Three steps make up full-stack development, write code that will decide the website’s design Write code to get user input</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 15 Lessons</li>
                            <li><i class='flaticon-people'></i> 145 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/ms-office/">
                    <div class="courses-image">
                        <a routerLink="/courses/ms-office/" class="d-block image">
                            <img src="assets/img/allcourses/msoffice.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$49</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user5.jpg" class="rounded-circle" alt="image"> -->
                            <span>Sarah Taylor</span>
                        </div>
                        <h3><a routerLink="/courses/ms-office/">MS Office</a></h3>
                        <p>Microsoft Word is used in Writing books, letters resume, applications, and other types of documents. The data specification is presented</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 100 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="courses/staad-pro/">
                    <div class="courses-image">
                        <a routerLink="/courses/staad-pro/" class="d-block image">
                            <img src="assets/img/allcourses/staadpro.png" alt="staad.pro">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/staad-pro/">STAAD.PRO</a></h3>
                        <p>Structural Analysis and Designing Program are mentioned by its full name, STAAD Pro. A computer tool for structural analysis and</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/primavera/">
                    <div class="courses-image">
                        <a routerLink="/courses/primavera/" class="d-block image">
                            <img src="assets/img/allcourses/primavera.png" alt="primavera">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$39</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user1.jpg" class="rounded-circle" alt="image"> -->
                            <span>Alex Morgan</span>
                        </div>
                        <h3><a routerLink="/courses/primavera/">primavera</a></h3>
                        <p>Projects and programs can be scheduled, controlled, and organized using the Primavera software package. It enables industries that prioritize projects</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 15 Lessons</li>
                            <li><i class='flaticon-people'></i> 145 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/angular/">
                    <div class="courses-image">
                        <a routerLink="/courses/angular/" class="d-block image">
                            <img src="assets/img/allcourses/angular.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$49</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user2.jpg" class="rounded-circle" alt="image"> -->
                            <span>Sarah Taylor</span>
                        </div>
                        <h3><a routerLink="/courses/angular/">Angular</a></h3>
                        <p>Angular Training Angular is a JavaScript framework that is open-source and it is developed in TypeScript. It is maintained by</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 100 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/full-stack-java/">
                    <div class="courses-image">
                        <a routerLink="/courses/full-stack-java/" class="d-block image">
                            <img src="assets/img/allcourses/fullstackjava.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$59</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user3.jpg" class="rounded-circle" alt="image"> -->
                            <span>David Warner</span>
                        </div>
                        <h3><a routerLink="/courses/full-stack-java/">Full Stack JAVA</a></h3>
                        <p>This course is designed in order to make your learning enjoyable and to build an effective online application. The course</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 150 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/revit-structure/">
                    <div class="courses-image">
                        <a routerLink="/courses/revit-structure/" class="d-block image">
                            <img src="assets/img/allcourses/revit-structure.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/revit-structure/">REVIT STRUCTURE</a></h3>
                        <p>Autodesk’s Revit Structure is a BIM software solution designed for structural engineering companies and engineers. Its feature-rich toolset enables efficient</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/c-2/">
                    <div class="courses-image">
                        <a routerLink="/courses/c-2/" class="d-block image">
                            <img src="assets/img/allcourses/c.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/c-2/">C#</a></h3>
                        <p>C#  (pronounced C sharp) is a modern, object-oriented programming language that was developed by Microsoft. It is widely used for</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/vbamacros/">
                    <div class="courses-image">
                        <a routerLink="/courses/vbamacros/" class="d-block image">
                            <img src="assets/img/allcourses/vbamacros.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/vbamacros/">VBAMACROS</a></h3>
                        <p>VBA macros are written in the Visual Basic for Applications programming language, which is used to automate tasks and create</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/pte/">
                    <div class="courses-image">
                        <a routerLink="/courses/pte/" class="d-block image">
                            <img src="assets/img/allcourses/pte.png" alt="pte">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$39</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user6.jpg" class="rounded-circle" alt="image">
                            <span>Alex Morgan</span>
                        </div>
                        <h3><a routerLink="/courses/pte/">PTE</a></h3>
                        <p>PTE (Pearson Test of English) is a computer-based English language proficiency test designed for non-native English speakers who want to</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 15 Lessons</li>
                            <li><i class='flaticon-people'></i> 145 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/manual-testing/">
                    <div class="courses-image">
                        <a routerLink="/courses/manual-testing/" class="d-block image">
                            <img src="assets/img/allcourses/manualtesting.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$49</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user5.jpg" class="rounded-circle" alt="image"> -->
                            <span>Sarah Taylor</span>
                        </div>
                        <h3><a routerLink="/courses/manual-testing/">Manual Testing</a></h3>
                        <p>Manual testing refers to the process of manually examining software applications for defects or errors. This type of testing involves</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 100 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/html-css/">
                    <div class="courses-image">
                        <a routerLink="/courses/html-css/" class="d-block image">
                            <img src="assets/img/allcourses/html&css.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/html-css/">HTML & CSS</a></h3>
                        <p>HTML and CSS are essential languages for anyone interested in web development. HTML provides the structure for web pages, while</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/artificial-intelligence/">
                    <div class="courses-image">
                        <a routerLink="/courses/artificial-intelligence/" class="d-block image">
                            <img src="assets/img/allcourses/artificial-intelligence.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/artificial-intelligence/">ARTIFICIAL INTELLIGENCE</a></h3>
                        <p>Artificial Intelligence program that enables you to explore cutting-edge AI technologies. Through this top-rated AI training, you’ll gain expertise in</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/automation-testing/">
                    <div class="courses-image">
                        <a routerLink="/courses/automation-testing/" class="d-block image">
                            <img src="assets/img/allcourses/automation-testing.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/automation-testing/">AUTOMATION TESTING</a></h3>
                        <p>this course is designed to provide students with an understanding of the fundamentals of automation testing. Students will learn about</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/bim-course/">
                    <div class="courses-image">
                        <a routerLink="/courses/bim-course/" class="d-block image">
                            <img src="assets/img/allcourses/bim.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/bim-course/">BIM</a></h3>
                        <p>The architectural, engineering, and construction (AEC) sector is experiencing a digital transition, and BIM Course is its keystone. Autodesk,Industry pioneer</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/sketching/">
                    <div class="courses-image">
                        <a routerLink="/courses/sketching/" class="d-block image">
                            <img src="assets/img/allcourses/sketching.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/sketching/">SKETCHING</a></h3>
                        <p>A Sketch/Sketching is a quickly drawn, sketchy image that is typically not meant to be a complete piece of art.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/devops/">
                    <div class="courses-image">
                        <a routerLink="/courses/devops/" class="d-block image">
                            <img src="assets/img/allcourses/devops.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/devops">Devops</a></h3>
                        <p>DevOps course is designed to provide students with a comprehensive understanding of the principles and best practices, as well as</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/c/">
                    <div class="courses-image">
                        <a routerLink="/courses/c/" class="d-block image">
                            <img src="assets/img/allcourses/C++.jpg" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/c/">C ++</a></h3>
                        <p>C++ is a powerful programming language used for developing a wide range of applications including system software, game development, desktop</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/c-language/">
                    <div class="courses-image">
                        <a routerLink="/courses/c-language/" class="d-block image">
                            <img src="assets/img/allcourses/C-Program.jpg" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/c-language/">C language</a></h3>
                        <p>C Language is a broadly used, upfront, and flexible general-purpose computer language that people consider. Developers widely use it to</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/python-developer/">
                    <div class="courses-image">
                        <a routerLink="/courses/python-developer/" class="d-block image">
                            <img src="assets/img/allcourses/Python.jpg" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/python-developer/">Python</a></h3>
                        <p>As a high-level, object-oriented programming language, Python has become very popular. Developers use it to develop a variety of desktop</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/sql/">
                    <div class="courses-image">
                        <a routerLink="/courses/sql/" class="d-block image">
                            <img src="assets/img/allcourses/SQL.jpg" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/sql/">SQL</a></h3>
                        <p>Students will gain knowledge on how to model, aggregate, and analyze data using SQL Analytic capabilities. Students will gain knowledge</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/power-bi/">
                    <div class="courses-image">
                        <a routerLink="/courses/power-bi/" class="d-block image">
                            <img src="assets/img/allcourses/Power-Bi.jpg" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/power-bi/">Power BI</a></h3>
                        <p>Students will learn Power BI to create compelling reports and visualizations, derive real-time insights, and deploy them on demand. You</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/tableau/">
                    <div class="courses-image">
                        <a routerLink="/courses/tableau/" class="d-block image">
                            <img src="assets/img/allcourses/Tableau.jpg" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/tableau/">Tableau</a></h3>
                        <p>Tableau aims to help people see and comprehend data that informs everything is done, which is why our solutions are</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/business-analytics/">
                    <div class="courses-image">
                        <a routerLink="/courses/business-analytics/" class="d-block image">
                            <img src="assets/img/allcourses/Business-Analytics.jpg" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/business-analytics/">Business Analytics</a></h3>
                        <p>This course will establish the groundwork for your brilliant Business Analytics abilities, which will help you in a long way.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/microsoft-azure/">
                    <div class="courses-image">
                        <a routerLink="/courses/microsoft-azure/" class="d-block image">
                            <img src="assets/img/allcourses/MS-Azure.jpg" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/microsoft-azure/">AZURE</a></h3>
                        <p>Microsoft Azure will teach you Azure Queues, visibility timeouts, Peek & De-Queue, App services, and Cloud services. You will also learn</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/pgdca/">
                    <div class="courses-image">
                        <a routerLink="/courses/pgdca/" class="d-block image">
                            <img src="assets/img/allcourses/PGDCA.jpg" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/pgdca/">PGDCA</a></h3>
                        <p>A one-year professional post-graduate degree called the Post Graduate Diploma in Computer Applications (PGDCA). It is available to those who</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/salesforce-course/">
                    <div class="courses-image">
                        <a routerLink="/courses/salesforce-course/" class="d-block image">
                            <img src="assets/img/allcourses/Salesforce.jpg" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/salesforce-course/">Salesforce</a></h3>
                        <p>In this Salesforce course you will learn how to use this in-demand software to cut expenses and boost profitability during</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/aws/">
                    <div class="courses-image">
                        <a routerLink="/courses/aws/" class="d-block image">
                            <img src="assets/img/allcourses/AWS.jpg" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/aws/">AWS</a></h3>
                        <p>In AWS you will learn how to develop and deploy highly scalable and fault-tolerant apps, implement AWS security and testing,</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/data-analytics/">
                    <div class="courses-image">
                        <a routerLink="/courses/data-analytics/" class="d-block image">
                            <img src="assets/img/allcourses/Data-Analytics.jpg" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/data-analytics/">Data Analytics</a></h3>
                        <p>Data analytics courses will make the students ready to help business make better decisions and assess consumer preferences and satisfaction.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/data-science/">
                    <div class="courses-image">
                        <a routerLink="/courses/data-science/" class="d-block image">
                            <img src="assets/img/allcourses/Data-Science.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/data-science/">Data Science</a></h3>
                        <p>Data science course may be summed up as a mixture of mathematics, business knowledge, tools, algorithms, and machine learning tactics.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-12 col-md-12">
                <div class="pagination-area text-center">
                    <a routerLink="/courses-1" class="prev page-numbers"><i class='bx bx-chevrons-left'></i></a>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a routerLink="/courses-1" class="page-numbers">2</a>
                    <a routerLink="/courses-1" class="page-numbers">3</a>
                    <a routerLink="/courses-1" class="page-numbers">4</a>
                    <a routerLink="/courses-1" class="next page-numbers"><i class='bx bx-chevrons-right'></i></a>
                </div>
            </div> -->
        </div>
    </div>
</div>