<!-- Start Navbar Area -->
<!-- <div class="navbar-area ledu-area">
    <div class="mobile-responsive-nav">
        <div class="container">
           <div class="mobile-responsive-menu">
                <div class="logo">
                    <a href="index.html">
                        <img src="../../../../assets/img/images/logos/logo-small.png" class="logo-one" alt="logo">
                        <img src="../../../../assets/img/images/logos/logo-small-white.png" class="logo-two" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="side-nav-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="circle-inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            
            <div class="container">
                <div class="side-nav-inner">
                    <div class="side-nav justify-content-center align-items-center">
                        <div class="side-item">
                            <form class="search-form">
                                <input type="search" class="form-control" placeholder="Search courses">
                                <button type="submit">
                                    <i class="ri-search-line"></i>
                                </button>
                            </form>
                        </div>

                        <div class="side-item">
                            <a href="signup.html" class="default-btn two">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End Navbar Area -->

<!-- Banner Area -->
<!-- <div class="banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-content">
                    <span data-aos="fade-up" data-aos-delay="900" data-aos-duration="1000" data-aos-once="true">FOR A BETTER FUTURE</span>
                    <h1 data-aos="fade-down" data-aos-delay="900" data-aos-duration="1000" data-aos-once="true">Discover the most exciting online courses</h1>
                    <p data-aos="fade-up" data-aos-delay="900" data-aos-duration="1000" data-aos-once="true">Flexible easy to access learning opportunities can bring a significant change in how individuals prefer to learn! The Ellen can offer you to enjoy the beauty of eLearning!</p>
                    <div class="banner-form-area" data-aos="fade-down" data-aos-delay="900" data-aos-duration="1000" data-aos-once="true">
                        <form class="banner-form" data-toggle="validator" method="POST">
                            <input type="email" class="form-control" placeholder="Search your courses" name="EMAIL" required autocomplete="off">
                            <button class="default-btn" type="submit">
                                <i class="ri-search-line"></i> Search now
                            </button>
                        </form>
                    </div>
                    <ul class="banner-popular-tag" data-aos="fade-up" data-aos-delay="900" data-aos-duration="1000" data-aos-once="true">
                        <li class="title">Popular search:</li>
                        <li><a href="courses.html">Design,</a></li>
                        <li><a href="courses.html">Development,</a></li>
                        <li><a href="courses.html">Marketing,</a></li>
                        <li><a href="courses.html">Affiliate</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="banner-img" data-speed="0.05" data-revert="true">
                    <img src="../../../../assets/img/images/home-one/man.png" data-aos="fade-up" data-aos-delay="900" data-aos-duration="1000" data-aos-once="true" alt="Man" />
                    <div class="bg-shape">
                        <img src="../../../../assets/img/images/home-one/home-one-shape.png" data-aos="fade-down" data-aos-delay="900" data-aos-duration="1000" data-aos-once="true" alt="Shape" />
                    </div>
                    <div class="top-content" data-aos="fade-up" data-aos-delay="900" data-aos-duration="1000" data-aos-once="true">
                        <i class="flaticon-student"></i>
                        <div class="content">
                            <h3>250K</h3>
                            <p>Assisted student</p>
                        </div>
                    </div>
                    <div class="right-content" data-aos="fade-down" data-aos-delay="900" data-aos-duration="1000" data-aos-once="true">
                        <i class="flaticon-checked"></i>
                        <div class="content">
                            <h3>Congratulations</h3>
                            <p>Your admission completed</p>
                        </div>
                    </div>

                    <div class="left-content" data-aos="fade-up" data-aos-delay="900" data-aos-duration="1000" data-aos-once="true">
                        <div class="content">
                            <img src="../../../../assets/img/images/home-one/user-img.jpg" alt="User" />
                            <h3>User experience class</h3>
                            <p>Today at 12.00 PM</p>
                        </div>
                        <a href="signup.html" class="join-btn">Join now</a>
                    </div>
                    <div class="banner-img-shape" >
                        <div class="shape1" data-aos="fade-up" data-aos-delay="900" data-aos-duration="1000" data-aos-once="true">
                            <img src="../../../../assets/img/images/home-one/shape3.png" alt="Shape" />
                        </div>
                        <div class="shape2" data-aos="fade-down" data-aos-delay="900" data-aos-duration="1000" data-aos-once="true">
                            <img src="../../../../assets/img/images/home-one/shape2.png" alt="Shape" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape">
        <div class="banner-shape1">
            <img src="../../../../assets/img/images/home-one/shape1.png" alt="Shape" />
        </div>
    </div>
</div> -->
<!-- Banner Area End -->


<!-- Enrolled Area -->
<div class="enrolled-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="enrolled-content">
                    <div class="section-title">
                        <h2>India’s #1 Post Graduate Program</h2>
                        <p style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                            Higher education is not just about obtaining a degree. It is all about gathering knowledge, and creating real-world possibilities that make you stand out as a professional.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-6">
                            <ul class="enrolled-list">
                                <li><i class="fas fa-award mt-1"></i> 1000+ successful career changes.</li>
                                <li><i class="fas fa-video mt-1"></i> 6500 + live sessions</li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-6">
                            <ul class="enrolled-list">
                                <li><i class="fas fa-graduation-cap mt-1"></i> Professional certificates recognized by world-class universities.</li>
                                <li><i class="fas fa-book-open mt-1"></i> 15+ courses offered</li>
                            </ul>
                        </div>
                    </div>
                    <a href="courses.html" class="default-btn">Enrolled today</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="enrolled-img" data-speed="0.05" data-revert="true">
                    <img src="../../../../assets/img/pgp/bannr.png" alt="Enrolled" />
                    <div class="bg-shape">
                        <img src="../../../../assets/img/images/enrolled/enrolled-shape.png" alt="Shape" />
                    </div>
                    <div class="top-content">
                        <div class="enrolled-img-content">
                            <!-- <i class="flaticon-mail-inbox-app"></i> -->
                            <i class="fas fa-inbox"></i>
                            <div class="content">
                                <h3>Inbox</h3>
                                <p>Work with us!</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-content">
                        <div class="enrolled-img-content">
                            <!-- <i class="flaticon-discount"></i> -->
                            <i class="fas fa-graduation-cap"></i>
                            <div class="content">
                                <h3>Get 40% off</h3>
                                <p>Every course</p>
                            </div>
                        </div>
                    </div>

                    <div class="left-content">
                        <div class="enrolled-img-content">
                            <!-- <i class="flaticon-reading-book active"></i> -->
                            <i class="fas fa-users"></i>
                            <div class="content">
                                <h3>110k+ students</h3>
                                <p>Learn daily</p>
                            </div>
                        </div>
                    </div>
                    <div class="enrolled-img-shape">
                        <div class="shape1">
                            <img src="../../../../assets/img/images/enrolled/enrolled-shape2.png" alt="Shape" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Enrolled Area End -->



<!-- logos -->
<div class="container">
    <div class="row align-items-center pt-70 pb-70">

        <h2 class="text-center hheading">Certificate Recognitions</h2>

        <div class="col-lg-2 col-6 col-sm-3 col-md-3">
            <div class="single-partner-item">
                <img src="assets/img/partner/nsc.png" alt="image">
            </div>
        </div>
        <div class="col-lg-2 col-6 col-sm-3 col-md-3">
            <div class="single-partner-item">
                <img src="assets/img/partner/si.png" alt="image">
            </div>
        </div>
        <div class="col-lg-2 col-6 col-sm-3 col-md-3">
            <div class="single-partner-item">
                <img src="assets/img/partner/nasscom.png" alt="image">
            </div>
        </div>
        <div class="col-lg-2 col-6 col-sm-3 col-md-3">
            <div class="single-partner-item">
                <img src="assets/img/partner/ic.png" alt="image">
            </div>
        </div>
        <div class="col-lg-2 col-6 col-sm-3 col-md-3">
            <div class="single-partner-item">
                <img src="assets/img/partner/sa.png" alt="image">
            </div>
        </div>
        <div class="col-lg-2 col-6 col-sm-3 col-md-3">
            <div class="single-partner-item">
                <img src="assets/img/partner/dg.png" alt="image">
            </div>
        </div>
    </div>
</div>
<!-- logos -->


<!-- Courses Area -->
<div class="courses-area pt-70" style="background-color: #f5f5f5">
    <div class="container">
        <div class="section-title text-center mb-45">
            <h2>Our Exclusive Post Graduate Programs</h2>
            <p>
                Get recognized globally with our industry focused training program and expert trainers
            </p>
        </div>
        <div class="row">
            

            <div class="col-lg-4 col-md-6">
                <div class="courses-item">
                    <a href="courses-details.html">
                        <img src="../../../../assets/img/pgp/img1.png" alt="Courses" />
                    </a>
                    <div class="content">
                        <!-- <a href="courses.html" class="tag-btn">Data Science</a>
                        <div class="price-text">$129</div> -->
                        <h3><a href="courses-details.html">Post Graduate Program in Data Science</a></h3>
                        <ul class="course-list">
                            <li><strong>Ratings:</strong> (5565) Total </li>
                            <li><strong>Total Enrollments: </strong> 1500+</li>
                            <li><strong>Duration: </strong> 6 Months</li>
                        </ul>
                        <div class="bottom-content ">
                            <a href="instructors-details.html" class="user-area" style="margin: auto;">
                                <!-- <img src="../../../../assets/img/images/courses/courses-instructors2.jpg" alt="Instructors">
                                <h3>David malan</h3> -->
                                <span style="border: 1px solid #1565d8; background-color: #1565d8; padding: 10px 20px; border-radius: 5px; color: white; font-weight: 700;">Download Broucher</span>
                            </a>
                            <!-- <div class="rating">
                                <i class="ri-star-fill"></i>2k+ rating
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="courses-item">
                    <a href="courses-details.html">
                        <img src="../../../../assets/img/pgp/img2.png" alt="Courses" />
                    </a>
                    <div class="content">
                        <!-- <a href="courses.html" class="tag-btn">Data Science</a>
                        <div class="price-text">$100</div> -->
                        <h3><a href="courses-details.html">Post Graduate Program in Digital Marketing</a></h3>
                        <ul class="course-list">
                            <li><strong>Ratings:</strong> (4484) Total </li>
                            <li><strong>Total Enrollments: </strong> 1780+</li>
                            <li><strong>Duration: </strong> 6 Months</li>
                        </ul>
                        <div class="bottom-content">
                            <a href="instructors-details.html" class="user-area" style="margin: auto;">
                                <!-- <img src="../../../../assets/img/images/courses/courses-instructors3.jpg" alt="Instructors">
                                <h3>Emma jhonson</h3> -->
                                <span style="border: 1px solid #1565d8; background-color: #1565d8; padding: 10px 20px; border-radius: 5px; color: white; font-weight: 700;">Download Broucher</span>
                            </a>
                            <!-- <div class="rating">
                                <i class="ri-star-fill"></i>1k+ rating
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="courses-item">
                    <a href="courses-details.html">
                        <img src="../../../../assets/img/pgp/img3.png" alt="Courses" />
                    </a>
                    <div class="content">
                        <!-- <a href="courses.html" class="tag-btn">Data Science</a>
                        <div class="price-text">$140</div> -->
                        <h3><a href="courses-details.html">Post Graduate Program in Full stack Development</a></h3>
                        <ul class="course-list">
                            <li><strong>Ratings:</strong> (3521) Total </li>
                            <li><strong>Total Enrollments: </strong> 1452+</li>
                            <li><strong>Duration: </strong> 6 Months</li>
                        </ul>
                        <div class="bottom-content">
                            <a href="instructors-details.html" class="user-area" style="margin: auto;">
                                <!-- <img src="../../../../assets/img/images/courses/courses-instructors4.jpg" alt="Instructors">
                                <h3>Jesse joslin</h3> -->
                                <span style="border: 1px solid #1565d8; background-color: #1565d8; padding: 10px 20px; border-radius: 5px; color: white; font-weight: 700;">Download Broucher</span>
                            </a>
                            <!-- <div class="rating">
                                <i class="ri-star-fill"></i>7k+ rating
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Courses Area End -->




<!-- Counter Area -->
<div class="counter-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-6 col-md-3">
                <div class="counter-content">
                    <!-- <i class="flaticon-student"></i> -->
                    <h3><span class="odometer" data-count="1260">1260</span>+</h3>
                    <p>Students enrolled</p>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-md-3">
                <div class="counter-content">
                    <!-- <i class="flaticon-online-course-1"></i> -->
                    <h3><span class="odometer" data-count="150">150</span>+</h3>
                    <p>Expert trainers</p>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-md-3">
                <div class="counter-content">
                    <!-- <i class="flaticon-online-course"></i> -->
                    <h3><span class="odometer" data-count="240">240</span>+</h3>
                    <p>Placements</p>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-md-3">
                <div class="counter-content">
                    <!-- <i class="flaticon-customer-satisfaction"></i> -->
                    <h3><span class="odometer" data-count="100">100</span>%</h3>
                    <p>Satisfaction rate</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter Area End -->


<!-- why teks start-->
<div class="container">
    <div class="row">
        <div class="whyteks pt-70 pb-50">
            <h2 class="text-center">Why TEKS Academy Post Graduate Program?</h2>
            <mat-tab-group>

                <mat-tab label="Real-time learning experience">
                    <div class="tab1" style="width: 70%; margin: 50px auto; display: flex;align-items: center; justify-content: center; flex-direction: row; gap: 40px">
                        <img src="../../../../assets/img/pgp/Real-time learning experience.png" alt="" width="400" height="400">
                    <p> TEKS Academy has a wide network of industry experts who provide professional growth to the students by
                        giving them real-time learning experiences. Learners will go through 20+ projects along with capstone
                        projects during their learning process.</p>
                    
                    </div>
                </mat-tab>
                <mat-tab label="Career Guidance" class="mat-tab-label">
                    <div class="tab1" style="width: 70%; margin: 30px auto;  display: flex; align-items: center; justify-content: center;  flex-direction: row; gap: 40px">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <img src="../../../../assets/img/pgp/Career Guidance.png" alt="" width="400" height="400">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                        <p>TEKS Academy has a separate team of industry experts who are well-versed in analyzing a candidate's
                            skills, identifying their weaknesses, and preparing them for interviews so they can land their dream
                            jobs.</p>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Advanced Learning Management System">
                    <div class="tab1" style="width: 70%; margin: 30px auto;  display: flex; align-items: center; justify-content: center;  flex-direction: row; gap: 40px">
                        <img src="../../../../assets/img/pgp/Advanced Learning Management System.png" alt="" width="400" height="400">
                    <p>TEKS Academy has an in-built Learning Management System that is created especially for the students to
                        access error free learning sessions and downloadable learning materials.</p>
                    </div>
                </mat-tab>
                <mat-tab label="Wide Alumni Network">
                    <div class="tab1" style="width: 70%; margin: 30px auto;  display: flex; align-items: center; justify-content: center;  flex-direction: row; gap: 40px">
                        <img src="../../../../assets/img/pgp/Wide Alumni Network.png" alt="" width="400" height="400">
                    <p>TEKS Academy has a 1000+ alumni network who are working in various reputed organizations that help
                        learners connect with them to learn and explore more about the industry.</p>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
<!-- why teks end-->



<!-- Enrolled Area -->
<div class="enrolled-area" >
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="enrolled-content">
                    <div class="section-title" style="text-align: left;">
                        <h2 >We are happy to assist you!</h2>
                        <p>
                            If you have any queries, raise a ticket. Our expert team will connect with you shortly.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-6">
                            <ul class="enrolled-list">
                                <li><i  class="fa fa-phone mt-1"></i> 24/7 query assistance</li>
                                <li><i class="fas fa-clock mt-1"></i> Response within 24 hours</li>
                                <li><i class="fas fa-check-circle mt-1"></i> Immediate query resolution</li>
                                <li><i class="fas fa-comments mt-1"></i>Chat with our experts directly</li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-6">
                            <ul class="enrolled-list">
                                <li><i class="fas fa-user-check mt-1"></i> Query handled by our expert team</li>
                                <li><i class="fas fa-smile mt-1"></i> 100% Satisfaction</li>
                                <li><i class="fas fa-hands-helping mt-1"></i> Complete support assistance on your PG Program</li>
                            </ul>
                        </div>

                    </div>
                    <!-- <a href="courses.html" class="default-btn">Enrolled today</a> -->
                </div>
            </div>
            <div class="col-lg-1">

            </div>
            <div class="col-lg-4">
                <div class="form-wrapper">
                    <h2 class="form-heading">Enroll Now</h2>
                    <form (ngSubmit)="cformSubmit()">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="tel" id="phone" name="phone" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" id="city" name="city" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" name="course" class="form-control">
                                <option value="">Select a course</option>
                                <option value="full-stack-development">Full Stack Development</option>
                                <option value="digital-marketing">Digital Marketing</option>
                                <option value="data-science">Data Science</option>
                            </select>
                        </div>
                        <div class="col-lg-12">
                            <ngx-recaptcha2
                            [(ngModel)]="recaptchaValue"
                            [siteKey]="siteKey"
                            name="recaptchaValue"
                            required
                            >

                            </ngx-recaptcha2>
                        </div>
                        <button type="submit" class="default-btn">Submit</button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- admistion-->
<div class="container">
    <div class="row">
        <div class="whyteks pt-70 pb-50">
            <h2 class="text-center">Admission procedure to enroll in our TEKS Academy Post Graduate Program?</h2>
            <mat-tab-group>

                <mat-tab label="1 Eligibility check:">
                    <div class="tab1" style="width: 70%; margin: 50px auto; display: flex;align-items: center; justify-content: center; flex-direction: row; gap: 40px">
                        <img src="../../../../assets/img/pgp/Eligibility check.png" alt="" width="400" height="400">
                    <p> TEKS Academy has a wide network of industry experts who provide professional growth to the students by
                        giving them real-time learning experiences. Learners will go through 20+ projects along with capstone
                        projects during their learning process.</p>
                    
                    </div>
                </mat-tab>
                <mat-tab label="2 Submission of Application:" class="mat-tab-label">
                    <div class="tab1" style="width: 70%; margin: 30px auto;  display: flex; align-items: center; justify-content: center;  flex-direction: row; gap: 40px">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <img src="../../../../assets/img/pgp/Submission of Application.png" alt="" width="400" height="400">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                        <p>TEKS Academy has a separate team of industry experts who are well-versed in analyzing a candidate's
                            skills, identifying their weaknesses, and preparing them for interviews so they can land their dream
                            jobs.</p>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="3 Application review:">
                    <div class="tab1" style="width: 70%; margin: 30px auto;  display: flex; align-items: center; justify-content: center;  flex-direction: row; gap: 40px">
                        <img src="../../../../assets/img/pgp/Application review.png" alt="" width="400" height="400">
                    <p>TEKS Academy has an in-built Learning Management System that is created especially for the students to
                        access error free learning sessions and downloadable learning materials.</p>
                    </div>
                </mat-tab>
                <mat-tab label="4 Confirmation of your admission:">
                    <div class="tab1" style="width: 70%; margin: 30px auto;  display: flex; align-items: center; justify-content: center;  flex-direction: row; gap: 40px">
                        <img src="../../../../assets/img/pgp/Confirmation of your admission.png" alt="" width="400" height="400">
                    <p>TEKS Academy has a 1000+ alumni network who are working in various reputed organizations that help
                        learners connect with them to learn and explore more about the industry.</p>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
<!-- admistion-->


<!-- 
    <div class="container pt-70">
    
        <h2 class="text-center">Admission procedure to enroll in our TEKS Academy Post Graduate Program?</h2>
        <mat-horizontal-stepper>
            <mat-step label="Step 1">
    
            <ng-template matStepLabel>Eligibility check:</ng-template>
                <p>A Bachelor's degree or any equivalent qualification in the relevant field from an accredited university, with a minimum score of 60%.<br></p>

                OR
                
                <p>Students appearing for the final year of the examination are also eligible to apply for the Post Graduate Program.</p>
            <button mat-button matStepperNext>Next</button>
            </mat-step>
        
            <mat-step label="Submission of Application:">
    
            <ng-template matStepLabel>Submission of Application:</ng-template>
            <p>Our Post Graduate Program counselor will connect with you to provide more detail about the course you are going to take. Once you are ready to enroll in our programme, you should fill out a detailed application form.</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
            </mat-step>
        
            <mat-step label="Step 3">
    
            <ng-template matStepLabel>Application review</ng-template>
            <p>Our team of experts thoroughly analyze your application and check for eligibility by verifying the documents submitted. After the approval of your application, you will be provided with the course module agenda and the payment option details</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
            </mat-step>

            <mat-step label="Confirmation of your admission:">
    
                <ng-template matStepLabel>Confirmation of your admission:</ng-template>
                <p>Once we get confirmation of your payment details, you will receive a welcome email along with a link to login into our TEKS Academy Post Graduation program along with the dates of our live training sessions.</p>
                <button mat-button matStepperPrevious>Back</button>
            </mat-step>
        </mat-horizontal-stepper>
        
    </div> -->


<!-- list of companies -->
<div style="background-color: #fff">
    <div class="container pt-70 pb-70" >
        <h2 class="text-center hheading">Our TEKS alumni works at</h2>
        <h2 class="text-center"><span class="text-danger">500+</span>&nbsp; Companies have hired Teks academy Learners</h2>
        <div class="row justify-content-center">
            <img src="../../../../assets/img/pgp/company.png" alt="teks academy placements">
            <span class="text-center">And more...</span><br>
            <a routerLink="/enquiry-form" class="callbtn"><i class="fa fa-phone"></i>&nbsp; Request Callback</a>
        </div>
    </div>
</div>
<!-- list of companies -->