<div class="container-fluid p-0">
    <div class="banner_img">
        <div class="container">
            <div class="heading_space d-none d-sm-block">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h1 class="main_heading">
                            Best Software Training Institute In Ameerpet
                        </h1>
                        <p class="learn_more paragraph_text" routerLink="/course">
                            Learn IT Courses<span class="mt-1 ms-2 arrow">
                                <i class="fa-solid fa-arrow-right"></i>
                            </span>
                        </p>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <p class="paragraph_text">
                            Ameerpet - “Locality of the Rich”- Now became home to Teks
                            Academy, the best software training institute in Hyderabad. The
                            name Ameerpet is commonly used to refer to a wealthy area. It is
                            popular due to its geographical location as the hub of the twin
                            cities-Hyderabad and Secunderabad. After the IT boom started, it
                            became a software training hub. A lot of training institutes came
                            here. Students flock to the area to learn not just programming
                            languages but also other IT technologies and trending software
                            courses.
                        </p>
                        <div class="my-2">
                            <button routerLink="/enquiry-form" class="btn btn-primary btn_color fw-bold">
                                Enquiry Now <i class="fa fa-angle-double-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="div">
            <div class="row">
                <div class="col-lg-2">
                    <img src="" class="" alt="" />
                </div>
            </div>
        </div>
        <div class="heading_space mobile_bg_color d-block d-sm-none">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h1 class="main_heading">
                        Best Software Training Institute In Ameerpet
                    </h1>
                    <p class="learn_more paragraph_text" routerLink="/course">
                        Learn IT Courses<span class="mt-1 ms-2 arrow">
                            <i class="fa-solid fa-arrow-right"></i>
                        </span>
                    </p>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <p class="paragraph_text">
                        Ameerpet - “Locality of the Rich”- Now became home to Teks Academy,
                        the best software training institute in Hyderabad. The name Ameerpet
                        is commonly used to refer to a wealthy area. It is popular due to its
                        geographical location as the hub of the twin cities-Hyderabad and
                        Secunderabad. After the IT boom started, it became a software training
                        hub. A lot of training institutes came here. Students flock to the
                        area to learn not just programming languages but also other IT
                        technologies and trending software courses.
                    </p>
                    <button routerLink="/enquiry-form" class="btn btn-primary btn_color fw-bold">
                        Enquiry Now <i class="fa fa-angle-double-right"></i>
                    </button>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-12">
                    <img src="../../../../../assets/img/branch_images/ammerpet_mobile_banner.png" width="100%"
                        height="100%" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-center">
            <p class="main_heading">Explore Teks Academy!</p>
            <p class="paragraph_text">
                Teks Academy, the best software training institute in Ameerpet, has a
                decade of experience in teaching advanced software courses. Committed to
                TEKS-Philosophy (Transfer the Experts Knowledge To Students), we offer
                job-oriented IT courses with India's best faculty, world-class
                infrastructure, and modern teaching methods. Our well-researched
                curriculum meets current industry standards.
            </p>
            <p class="paragraph_text">
                Join Teks Academy in Ameerpet, Hyderabad, the hub for software course
                training with a top-notch technical team. Dive into your passion with
                our visionary trainers and embrace your future with the industry's best!
            </p>
        </div>
        <!-- <img src="../../../../../assets/img/branch_images/New_Banners_2.jpg" class="mt-5 mb-5" alt="" /> -->

        <div class="">
            <div class="text-center">
                <p class="main_heading">Courses Offered</p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mt-3">

                    <div class="card text-center">
                        <div class="course_box">
                            <img src="../../../../../assets/img/branch_images/python.png" class="img-fluid" width="20%"
                                height="20%" alt="sap" />
                            <p class="course_name mt-3">Full stack Python</p>
                            <p class="course_description">
                                This advanced Python full stack developer course in Ameerpet will take you through the fundamentals of Python, web frameworks like Django and Flask, database management, and client-side technologies. Python course in Ameerpet is one of the most advanced IT courses chosen in 2024.
                            </p>
                            <a routerLink="/courses/best-full-stack-python-development-course-training-institute"
                                class="">
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card text-center">
                        <div class="course_box">
                            <img src="../../../../../assets/img/branch_images/java.png" class="img-fluid" width="20%"
                                height="20%" />
                            <p class="course_name">Full Stack Java</p>
                            <p class="course_description">
                                This intensive Java full stack developer course in Ameerpet program covers both front-end and back-end development, equipping you with skills in Java, Spring, Hibernate, Angular, React, and more. Our best Trainers are always at the forefront to provide Java classes in Ameerpet.
                            </p>
                            <a routerLink="/courses/best-full-stack-java-development-course-training-institute"
                                class="">
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card text-center">
                        <div class="course_box">
                            <img src="../../../../../assets/img/branch_images/data_science.png" class="img-fluid"
                                width="20%" height="20%" />
                            <p class="course_name mt-3">Data Science</p>
                            <p class="course_description">
                                Data science course in Ameerpet, designed to equip you with essential skills in data analysis, machine learning, and statistical modeling, this course offers hands-on experience with real-world datasets.
                            </p>
                            <a routerLink="/courses/best-data-science-course-training-institute" class="">
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card text-center">
                        <div class="course_box">
                            <img src="../../../../../assets/img/branch_images/dataanalist.png" class="img-fluid"
                                width="20%" height="20%" alt="sap" />
                            <p class="course_name mt-3">Data Analytics</p>
                            <p class="course_description">
                                Our course covers data visualization, statistical analysis, and data mining techniques
                                using industry-leading tools and software, making it the best data analytics course in
                                ameerpet.
                            </p>
                            <a routerLink="/courses/best-data-analytics-course-training-institute" class="">
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card text-center">
                        <div class="course_box">
                            <img src="../../../../../assets/img/branch_images/bim.png" class="img-fluid" width="20%"
                                height="20%" alt="sap" />
                            <p class="course_name mt-3">B.I.M</p>
                            <p class="course_description">
                                The Best BIM training institute in Hyderabad, Ameerpet is designed to revolutionize your approach to architecture, engineering, and construction by empowering you to create efficient and innovative building designs.
                            </p>
                            <a routerLink="/courses/best-bim-building-information-modeling-course-training-institute"
                                class="">
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card text-center">
                        <div class="course_box">
                            <img src="../../../../../assets/img/branch_images/revit.png" class="img-fluid" width="20%"
                                height="20%" alt="sap" />
                            <p class="course_name mt-3">Revit MEP</p>
                            <p class="course_description">
                                This ultramodern course covers everything from basic concepts to advanced functionalities, ensuring you are well-equipped to handle real-world architectural and construction projects.
                            </p>
                            <a routerLink="/courses/best-revit-mep-course-training-institute" class="">
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card text-center">
                        <div class="course_box">
                            <img src="../../../../../assets/img/branch_images/autocad.png" class="img-fluid" width="20%"
                                height="20%" alt="sap" />
                            <p class="course_name mt-3">Auto cad</p>
                            <p class="course_description">
                                The AutoCAD training in Ameerpet is meticulously crafted to provide you with a comprehensive understanding of computer-aided design. This AutoCAD course in Ameerpet also guides you through the intricacies of 2D and 3D drafting, modeling, and rendering.
                            </p>
                            <a routerLink="/courses/best-autocad-course-training-institute" class="">
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card text-center">
                        <div class="course_box">
                            <img src="../../../../../assets/img/branch_images/aws.png" class="img-fluid" width="25%"
                                height="25%" alt="java" />
                            <p class="course_name">AWS DevOps</p>
                            <p class="course_description">
                                This program equips you with the skills to deploy, manage and scale applications on the AWS platform. The AWS training in Ameerpet provides an opportunity for experiential learning from industry experts and CI/CD pipelines and infrastructure.
                            </p>
                            <a routerLink="/courses/best-awsplusdevops-course-training-institute">
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card text-center">
                        <div class="course_box">
                            <img src="../../../../../assets/img/branch_images/3ds.png" class="img-fluid" width="20%"
                                height="20%" alt="sap" />
                            <p class="course_name mt-3">3DS Max</p>
                            <p class="course_description">
                                This course is tailored to help you master the art of 3D modeling, rendering, and animation. 3ds max training institute in Ameerpet, Hyderabad offers an in-depth understanding of the tools and techniques needed to create stunning visual effects and professional-grade animations.
                            </p>
                            <a routerLink="/courses/best-3ds-max-course-training-institute">
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="text-center">
                <p class="main_heading mb-4">Why Teks</p>
            </div>
            <app-whytekssample></app-whytekssample>
        </div>
        <!-- <div class="mt-5">
                <div class="text-center">
                    <p class="main_heading mb-4">Why Teks</p>
                    <p class="course_description">
                        TEKS Academy is committed to providing our students with the best
                        learning experience that leads to a fulfilling career.
                    </p>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5 col-12">
                            <ul class="list-unstyled text-start">
                                <li class="course_description"><span class="mt-1 ms-2 me-4 arrow"> <i class="fa-solid fa-arrow-right"></i></span>100% placement assistance.</li>
                                <li class="course_description"><span class="mt-1 ms-2 me-4 arrow"> <i class="fa-solid fa-arrow-right"></i></span>Extensive trainings for our students.</li>
                                <li class="course_description"><span class="mt-1 ms-2 me-4 arrow"> <i class="fa-solid fa-arrow-right"></i></span>Industry professionals with 10+ years of experience</li>
                                <li class="course_description"><span class="mt-1 ms-2 me-4 arrow"> <i class="fa-solid fa-arrow-right"></i></span>No cost EMI option</li>
                            </ul>
                        </div>
                        <div class="col-lg-5 col-12">
                            <ul class="list-unstyled text-start">
                                <li class="course_description"><span class="mt-1 ms-2 me-4 arrow"> <i class="fa-solid fa-arrow-right"></i></span>24/7 support assistance</li>
                                <li class="course_description"><span class="mt-1 ms-2 me-4 arrow"> <i class="fa-solid fa-arrow-right"></i></span>Globally recognized certification</li>
                                <li class="course_description"><span class="mt-1 ms-2 me-4 arrow"> <i class="fa-solid fa-arrow-right"></i></span>Access to advanced LMS</li>
                                <li class="course_description"><span class="mt-1 ms-2 me-4 arrow"> <i class="fa-solid fa-arrow-right"></i></span>Assistance to crack job interviews</li>
                            </ul>
                        </div>
                       
                    </div>
                </div>

            </div> -->
        <div class="">
            <div class="text-center">
                <p class="main_heading mb-4">Testimonials</p>
            </div>
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner pb-5">
                    <div class="carousel-item active">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_1.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        I have learned AWS+DEVOPS course I have an amazing
                                        experience with trainers and faculty the gud skills, gud
                                        communications , and gud soft skill class have I learned
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Lipika
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_2.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        I completed the Digital Marketing course at Teks Academy,
                                        and it exceeded my expectations. The trainers are highly
                                        knowledgeable, and the hands-on experience was invaluable!"
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Prasana Kumar
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_3.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        I learn revit bim course... It's a excellent training
                                        centre... The teacher are will train then give bast
                                        performance...
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">- Sai Ram</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_4.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        I recently completed data analytics course from teks
                                        academy. The course was good and the instructors were
                                        knowledgeable and friendly. But the placement assistance is
                                        limited. It would have been great if they could improve
                                        this.
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Raj Doddamoni
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_5.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        Very Good Academy Special thanks to our Trainer "Kajal
                                        Mam"(Salesforce Trainer). Thanks for being so Supportive and
                                        Helping us in Each and Every Aspect. I am So Happy for Being
                                        trained under you and gaining Knowledge. Thanks for Every
                                        time you Take Class To us
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Raj Mohan Reddy
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_6.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        At Teks Academy Ameerpet, AWS and DevOps training was
                                        game-changing. Instructors were exceptional, making
                                        complicated ideas simple to understand. Hands-on practice
                                        was essential in preparing me for real-world situations. The
                                        positive spirit and engaging setting made learning
                                        enjoyable. "Highly recommended!
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Krishnaprasad Chintapalli
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_7.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        I have learn lot of things during this time which was I
                                        don't know really I' I'm happy with teks academy and STAFF
                                        and also especialy with Prem sir sir class was very nice and
                                        I ll enjoy the class
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Danny
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_8.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        I have learn lot of things during this time which was I
                                        don't know really I' I'm happy with teks academy and STAFF
                                        and also especialy with Prem sir sir class was very nice and
                                        I ll enjoy the class
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Vaibhav
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="">
            <div class="mb-5">
                <div class="container text-center">
                    <div class="m-0 mb-4 text-center">
                        <p class="main_heading">Most Searched Terms</p>
                    </div>
                    <div class="d-flex flex-wrap most_searched">
                        <span>Python training in ameerpet</span>
                        <span>Python course in ameerpet</span>
                        <span>Ameerpet coaching centers for python</span>
                        <span>Python full stack developer course in ameerpet</span>
                        <span>Python classes in ameerpet</span>
                        <span>Best python institute in ameerpet</span>
                        <span>Java course in ameerpet</span>
                        <span>Java full stack developer course in ameerpet</span>
                        <span>Ameerpet java coaching centers</span>
                        <span>Ameerpet java training institutes</span>
                        <span>Java classes in ameerpet</span>
                        <span>Data science course in ameerpet</span>
                        <span>Data science institute in ameerpet</span>
                        <span>Data science courses in ameerpet</span>
                        <span>Data science training in ameerpet</span>
                        <span>Data science coaching in ameerpet</span>
                        <span>Data analytics course in Ameerpet</span>
                        <span>Data analyst course in Ameerpet </span>
                        <span>Data analytics courses in Ameerpet</span>
                        <span>Data analyst course Ameerpet</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>