<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <!-- <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/">Development</a></li>
                <li>Python for Finance: Investment Fundamentals & Data Analytics</li>
            </ul> -->
      <h2>Data Analytics</h2>
      <a class="scdownloadSyllabus" id="open-form">Download Syllabus</a>
      <!-- <div class="rating">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <div class="rating-count">
                    <span>4.0 (1 rating)</span>
                </div>
            </div> -->
    </div>
  </div>
  <div class="shape9"><img src="assets/img/shape8.svg" alt="image" /></div>
</div>

<div class="courses-details-area pb-100">
  <div class="courses-details-image">
    <!-- <img src="assets/img/courses/course-details.jpg" alt="image"> -->
    <img src="../../../../../assets/img/singlecourse-banner.jpg" alt="image" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="courses-details-desc">
          <div class="courses-overview">
            <p>
              Data analytics courses will make the students ready to help
              business make better decisions and assess consumer preferences and
              satisfaction. Which will result in the formation of improved goods
              and services. The course syllabus is specially created to assist
              students in developing the capabilities required to set realistic
              goals in the corporate world. Qualified trainers conduct
              interactive training sessions that allow businesses to learn about
              sales, marketing, finance, and product creation.
            </p>
            <h3>Course Description</h3>
            <p>
              This course is designed to provide an in-depth understanding of
              data analytics and its applications in various industries.
              Students will learn the essential techniques used to extract,
              clean, analyze, and interpret data. The course will cover the
              entire data analysis process from data collection to visualization
              and presentation of findings.
            </p>
            <p>
              The course will start with an introduction to data analytics and
              its role in the modern world. Students will learn about the
              different types of data, data sources, and the tools and
              technologies used to manage and analyze data. They will also gain
              an understanding of the importance of data quality and how to
              ensure data accuracy and completeness.
            </p>
            <p>
              The course will then focus on data cleaning and preprocessing
              techniques. Students will learn how to identify and handle missing
              or corrupted data, remove duplicates, and transform data into a
              format suitable for analysis.
            </p>
            <p>
              The next part of the course will cover various data analysis
              techniques, including descriptive statistics, inferential
              statistics, and data mining. Students will learn how to use these
              techniques to gain insights from data and make data-driven
              decisions.
            </p>
            <p>
              The course will also cover data visualization techniques and
              tools, including graphs, charts, and dashboards. Students will
              learn how to create compelling visualizations that effectively
              communicate their findings.
            </p>
            <p>
              Finally, the course will explore some advanced topics in data
              analytics, including machine learning, predictive analytics, and
              big data analytics. Students will learn how to apply these
              techniques to real-world problems and use data to develop
              predictive models.
            </p>
            <p>
              This course is designed to provide students with a solid
              foundation in data analytics and prepare them for careers in data
              science, business intelligence, and other data-driven fields.
            </p>
            <h3>Course Description</h3>
            <p>
              Certification in Data Analytics offers a multitude of benefits,
              from enhanced job opportunities and increased earning potential to
              professional development and networking opportunities. It is a
              valuable investment in your career and can help you achieve your
              professional goals.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="courses-details-info">
          <!-- <div class="image">
                        <img src="assets/img/courses/img1.jpg" alt="image">
                        <a href="https://www.youtube.com/watch?v=PWvPbGWVRrU" class="link-btn popup-youtube"></a>
                        <div class="content">
                            <i class="flaticon-play"></i>
                            <span>Course Preview</span>
                        </div>
                    </div> -->
          <app-single-course-sidebar></app-single-course-sidebar>

          <ul class="info">
            <li class="price">
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-tag"></i> Price</span>
                $49
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-teacher"></i> Instructor</span>
                Teksacademy
              </div>
            </li>
            <!-- <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-time"></i> Duration</span>
                                3 hourse
                            </div>
                        </li> -->
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-distance-learning"></i> Lessons</span>
                25
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-web"></i> Enrolled</span>
                255 students
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-lock"></i> Access</span>
                Lifetime
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-lock"></i> Languages</span>
                Tel,Eng,Hin
              </div>
            </li>

            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-lock"></i> Fee</span>
                25,000
              </div>
            </li>
          </ul>
          <!-- <div class="btn-box">
                        <a routerLink="/single-courses-1" class="default-btn"><i class="flaticon-shopping-cart"></i>Add to Cart<span></span></a>
                        <a routerLink="/single-courses-1" class="default-btn"><i class="flaticon-tag"></i>Buy Now<span></span></a>
                    </div> -->
          <div class="courses-share">
            <div class="share-info">
              <span>Share This Course <i class="flaticon-share"></i></span>
              <ul class="social-link">
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-linkedin"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="courses-area bg-f8f9f8 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>More Courses You Might Like</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="/single-courses-1" class="d-block image">
                            <img src="assets/img/courses/img1.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">$39</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                            <span>Alex Morgan</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">The Data Science Course 2020: Complete Data Science Bootcamp</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 15 Lessons</li>
                            <li><i class='flaticon-people'></i> 145 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="/single-courses-1" class="d-block image">
                            <img src="assets/img/courses/img2.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">$49</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user2.jpg" class="rounded-circle" alt="image">
                            <span>Sarah Taylor</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">Java Programming Masterclass for Software Developers</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 100 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="/single-courses-1" class="d-block image">
                            <img src="assets/img/courses/img3.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">$59</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user3.jpg" class="rounded-circle" alt="image">
                            <span>David Warner</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">Deep Learning A-Z™: Hands-On Artificial Neural Networks</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 150 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<app-popularcourses></app-popularcourses>
<app-dsform></app-dsform>
