<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <!-- <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Gallery</li>
            </ul> -->
            <h2>Student Testimonials</h2>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
    <div class="shape3"><img src="assets/img/shape8.svg" alt="image"></div>
</div>

<div class="tab-buttons pt-50">
    <!-- <span class="tab-button" (click)="activeTab = 'images'">Images</span>
  <span class="tab-button" (click)="activeTab = 'videos'">Videos</span> -->

            <div class="col-lg-12" style="display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 30px auto;">
                <span class="tab-button" (click)="activeTab = 'fullstactdevelopment'">Full Stack Developement</span>
                <span class="tab-button" (click)="activeTab = 'autocad'">AutoCad</span>
                <span class="tab-button" (click)="activeTab = 'aws'">AWS</span>
                <span class="tab-button" (click)="activeTab = 'dataanalytics'">Data Analytics</span>
                <span class="tab-button" (click)="activeTab = 'datascience'">Data Science</span>
            </div>
            <div class="col-lg-12" style="display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 30px auto;">
                <span class="tab-button" (click)="activeTab = 'digitalmarketing'">Digital Marketing</span>
                <span class="tab-button" (click)="activeTab = 'fullstackjava'">Full Stack Java</span>
                <span class="tab-button" (click)="activeTab = 'fullstackpython'">Full Stack Python</span>
                <span class="tab-button" (click)="activeTab = 'iso'">ISO Programming</span>
        </div>    
        <div class="col-lg-12" style="display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 30px auto;">
            <span class="tab-button" (click)="activeTab = 'pgdca'">PGDCA</span>
            <span class="tab-button" (click)="activeTab = 'python'">Python</span>
            <span class="tab-button" (click)="activeTab = 'revitbim'">Revit BIM</span>
            <span class="tab-button" (click)="activeTab = 'salesforce'">Salesforce</span>
            <span class="tab-button" (click)="activeTab = 'spokenenglish'">Spoken English</span>
        </div>
</div>

<!-- full stack development start-->
    <div class="gallery-area pt-30 pb-70" *ngIf="activeTab === 'fullstactdevelopment'" >
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>Our Students Experience Gallery</h3>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let image of _album; let i=index;">
                    <div class="single-gallery-item">
                        <img [src]="image.thumb" (click)="open(i)" />
                    </div>
                </div>

                <div class="col-12 text-center">
                    <h3>What Our Students Say</h3>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/testimonials/fullstackdevelopment/fullstackvideo1.png" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/shorts/fhr4zBMi0gM" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/testimonials/fullstackdevelopment/fullstackvideo2.png" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/shorts/Ur7Wrc_38bg" class="video-btn popup-youtube" target="_blank"><i
                                class="flaticon-play" ></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/testimonials/fullstackdevelopment/fullstackvideo3.png" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/watch?v=Yt9VmoTQ5oI" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
    
                </div>
            </div>
        </div>
    </div>
<!-- full stack development end -->
<!-- autocad start -->
    <div class="gallery-area pt-30 pb-70" *ngIf="activeTab === 'autocad'" >
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>Our Students Experience Gallery</h3>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let image of _autocad; let i=index;">
                    <div class="single-gallery-item">
                        <img [src]="image.thumb" (click)="autocadopen(i)" />
                    </div>
                </div>

                <div class="col-12 text-center">
                    <h3>What Our Students Say</h3>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/testimonials/autocad/autocadvideo1.png" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/shorts/1J8UY_duY24" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- autocad end -->
<!-- AWS start-->
<div class="gallery-area pt-30 pb-70" *ngIf="activeTab === 'aws'" >
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Our Students Experience Gallery</h3>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let image of _aws; let i=index;">
                <div class="single-gallery-item">
                    <img [src]="image.thumb" (click)="awsopen(i)" />
                </div>
            </div>

            <div class="col-12 text-center">
                <h3>What Our Students Say</h3>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/aws/awsvideo1.png" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/shorts/Zm_aiVAyXMQ" target="_blank"
                        class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- AWS end -->
<!-- data analytics start-->
<div class="gallery-area pt-30 pb-70" *ngIf="activeTab === 'dataanalytics'" >
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Our Students Experience Gallery</h3>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let image of _dataanalytics; let i=index;">
                <div class="single-gallery-item">
                    <img [src]="image.thumb" (click)="dataanalyticsopen(i)" />
                </div>
            </div>

            <div class="col-12 text-center">
                <h3>What Our Students Say</h3>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/Data Analytics/dataanalyticsvideo1.jpg" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/shorts/ORQiZX4Y7Mg" target="_blank"
                        class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/Data Analytics/dataanalyticsvideo2.jpg" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/shorts/CQDRYd0nBsA" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- data analytics end -->
<!-- data science start-->
<div class="gallery-area pt-30 pb-70" *ngIf="activeTab === 'datascience'" >
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Our Students Experience Gallery</h3>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let image of _datascience; let i=index;">
                <div class="single-gallery-item">
                    <img [src]="image.thumb" (click)="datascienceopen(i)" />
                </div>
            </div>

            <div class="col-12 text-center">
                <h3>What Our Students Say</h3>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/Data Science/datasciencevideo1.jpg" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/shorts/oMRsZ43q8ZE" target="_blank"
                        class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/Data Science/datasciencevideo2.jpg" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/shorts/4GAqn8Mermo" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/Data Science/datasciencevideo3.jpg" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/shorts/jkAXZrJOhS4" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>

            </div>
        </div>
    </div>
</div>
<!-- data science end -->
<!-- digital marketing start-->
<div class="gallery-area pt-30 pb-70" *ngIf="activeTab === 'digitalmarketing'" >
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                
                <h3>Our Students Experience Gallery</h3>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let image of _digitalmarketing; let i=index;">
                <div class="single-gallery-item">
                    <img [src]="image.thumb" (click)="digitalmarketingopen(i)" />
                </div>
            </div>

            <div class="col-12 text-center">
                <h3>What Our Students Say</h3>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/Digital Marketing/digitalmarketingvideo1.jpg" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/shorts/ZpnU3Kz-HzU" target="_blank"
                        class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- digital marketing end -->
<!-- full stack java start-->
<div class="gallery-area pt-30 pb-70" *ngIf="activeTab === 'fullstackjava'" >
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Our Students Experience Gallery</h3>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let image of _fullstackjava; let i=index;">
                <div class="single-gallery-item">
                    <img [src]="image.thumb" (click)="fullstackjavaopen(i)" />
                </div>
            </div>

            <div class="col-12 text-center">
                <h3>What Our Students Say</h3>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/Full Stack Java/fullstackjavavideo1.jpg" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/shorts/NAcbO34IPJ8" target="_blank"
                        class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/Full Stack Java/fullstackjavavideo2.jpg" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/shorts/nh9Ur4IF69Y" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/Full Stack Java/fullstackjavavideo3.jpg" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/shorts/NDFYrC-AXDU" class="video-btn popup-youtube" target="_blank"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>

            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/Full Stack Java/fullstackjavavideo4.jpg" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/shorts/KwTZw1JjfQg" class="video-btn popup-youtube" target="_blank"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>

            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/Full Stack Java/fullstackjavavideo5.jpg" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/shorts/fTyRPOuCgVA" class="video-btn popup-youtube" target="_blank"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>

            </div>
        </div>
    </div>
</div>
<!-- full stack java end -->
<!-- full stack python start-->
<div class="gallery-area pt-30 pb-70" *ngIf="activeTab === 'fullstackpython'" >
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Our Students Experience Gallery</h3>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let image of _fullstackpython; let i=index;">
                <div class="single-gallery-item">
                    <img [src]="image.thumb" (click)="fullstackpythonopen(i)" />
                </div>
            </div>

            <div class="col-12 text-center">
                <h3>What Our Students Say</h3>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/Full Stack Python/fullstackpythonvideo1.jpg" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/watch?v=QSSXiv882s8" target="_blank"
                        class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- full stack python end -->
<!-- iso start-->
<div class="gallery-area pt-30 pb-70" *ngIf="activeTab === 'iso'" >
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <!-- <h3>Our Students Experience Gallery</h3> -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let image of _iso; let i=index;">
                <div class="single-gallery-item">
                    <img [src]="image.thumb" (click)="isoopen(i)" />
                </div>
            </div>

            <div class="col-12 text-center">
                <h3>What Our Students Say</h3>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/ISO Programming/isovideo1.jpg" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/shorts/qzZxi1TWfaI" target="_blank"
                        class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- iso end -->
<!-- pgdca start-->
<div class="gallery-area pt-30 pb-70" *ngIf="activeTab === 'pgdca'" >
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Our Students Experience Gallery</h3>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let image of _pgdca; let i=index;">
                <div class="single-gallery-item">
                    <img [src]="image.thumb" (click)="pgdcaopen(i)" />
                </div>
            </div>

            <!-- <div class="col-12 text-center">
                <h3>What Our Students Say</h3>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/fullstackdevelopment/fullstackvideo1.png" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/watch?v=A66kf2ck_dU&t=6s" target="_blank"
                        class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- pgdca end -->
<!-- python start-->
<div class="gallery-area pt-30 pb-70" *ngIf="activeTab === 'python'" >
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <!-- <h3>Our Students Experience Gallery</h3> -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let image of _python; let i=index;">
                <div class="single-gallery-item">
                    <img [src]="image.thumb" (click)="pythonopen(i)" />
                </div>
            </div>

            <div class="col-12 text-center">
                <h3>What Our Students Say</h3>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/Python/pythonvideo1.jpg" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/shorts/GWUFZWz9noc" target="_blank"
                        class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- python end -->
<!-- revitbim start-->
<div class="gallery-area pt-30 pb-70" *ngIf="activeTab === 'revitbim'" >
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Our Students Experience Gallery</h3>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let image of _revitbim; let i=index;">
                <div class="single-gallery-item">
                    <img [src]="image.thumb" (click)="revitbimopen(i)" />
                </div>
            </div>

            <div class="col-12 text-center">
                <h3>What Our Students Say</h3>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/Revit BIM/revitbimvideo1.jpg" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/shorts/yMMJ3KSX1eo" target="_blank"
                        class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- revitbim end -->
<!-- salesforce start-->
<div class="gallery-area pt-30 pb-70" *ngIf="activeTab === 'salesforce'" >
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <!-- <h3>Our Students Experience Gallery</h3> -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let image of _salesforce; let i=index;">
                <div class="single-gallery-item">
                    <img [src]="image.thumb" (click)="salesforceopen(i)" />
                </div>
            </div>

            <div class="col-12 text-center">
                <h3>What Our Students Say</h3>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/Salesforce/salesforcevideo1.jpg" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/shorts/L-LucrgAdjo" target="_blank"
                        class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/Salesforce/salesforcevideo2.jpg" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/shorts/Et72FDV6EaE" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/Salesforce/salesforcevideo3.jpg" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/shorts/_DCb6tV9vY4" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- salesforce end -->
<!-- spokenenglish start-->
<div class="gallery-area pt-30 pb-70" *ngIf="activeTab === 'spokenenglish'" >
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Our Students Experience Gallery</h3>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let image of _spokenenglish; let i=index;">
                <div class="single-gallery-item">
                    <img [src]="image.thumb" (click)="spokenenglishopen(i)" />
                </div>
            </div>

            <!-- <div class="col-12 text-center">
                <h3>What Our Students Say</h3>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/fullstackdevelopment/fullstackvideo1.png" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/watch?v=A66kf2ck_dU&t=6s" target="_blank"
                        class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div>
                </div>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/fullstackdevelopment/fullstackvideo2.png" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/watch?v=u9upGI3F4z4" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div>
                </div>
            </div>
            <div class="col-3">
                <div class="video-box">
                    <div class="image">
                        <img src="assets/img/testimonials/fullstackdevelopment/fullstackvideo3.png" class="shadow" alt="image">
                    </div>
                    <a href="https://www.youtube.com/watch?v=Yt9VmoTQ5oI" class="video-btn popup-youtube"><i
                            class="flaticon-play"></i></a>
                    <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div>
                </div>

            </div> -->
        </div>
    </div>
</div>
<!-- spokenenglish end -->






    <!-- <div class="gallery-area pt-30" *ngIf="activeTab === 'images'" >
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let image of _album; let i=index;">
                    <div class="single-gallery-item">
                        <img [src]="image.thumb" (click)="open(i)" />
                    </div>
                </div>
            </div>
        </div>
    </div> -->



    <div class="courses-curriculum" *ngIf="activeTab === 'videos'">
        <div class="container video-container">
            <div class="row">
                <!-- <span class="text-center hheading"> Students Video Testimonals </span> -->
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/svt1.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/watch?v=A66kf2ck_dU&t=6s" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/svt2.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/watch?v=u9upGI3F4z4" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/svt3.png" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/watch?v=Yt9VmoTQ5oI" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
    
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/svt4.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/watch?v=QSSXiv882s8" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/svt1.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/watch?v=A66kf2ck_dU&t=6s" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/svt2.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/watch?v=u9upGI3F4z4" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/svt3.png" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/watch?v=Yt9VmoTQ5oI" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
    
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/svt4.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/watch?v=QSSXiv882s8" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/svt1.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/watch?v=A66kf2ck_dU&t=6s" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/svt2.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/watch?v=u9upGI3F4z4" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/svt3.png" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/watch?v=Yt9VmoTQ5oI" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
    
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/svt4.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/watch?v=QSSXiv882s8" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/svt1.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/watch?v=A66kf2ck_dU&t=6s" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/svt2.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/watch?v=u9upGI3F4z4" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/svt3.png" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/watch?v=Yt9VmoTQ5oI" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
    
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/svt4.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.youtube.com/watch?v=QSSXiv882s8" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>



<!-- <div class="tab-content">
    <ngx-tabset>
        <ngx-tab tabTitle="Images" id="imgs" class="tab-button">
            <div class="gallery-area pt-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let image of _album; let i=index;">
                            <div class="single-gallery-item">
                                <img [src]="image.thumb" (click)="open(i)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ngx-tab>
        <ngx-tab tabTitle="Videos" class="tab-button">
            <div class="courses-curriculum">
                <h3>videos Description</h3>
            </div>
        </ngx-tab>
    </ngx-tabset>
</div> -->