<div class="container-fuild">
  <!-- <h2 class="text-center hheading" style="color: #334155">
    Our Alumni works at
  </h2>
  <h2 class="text-center">
    <span class="text-danger">500+</span>&nbsp; Companies have hired Teks
    academy Learners
  </h2> -->
  <app-why-teks></app-why-teks>

  <!-- <div class="card-deck d-flex gap-2 flex-wrap pt-2 m-auto">
    <div class="card" style="max-width: 18rem; margin: auto">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTF8fHVzZXJ8ZW58MHx8MHx8fDA%3D"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5
          class="card-title mb-2"
          style="color: #183b56 !important; font-weight: bold"
        >
          Vaibhav Kumar
        </h5>
        <div class="d-flex align-items-center gap-2">
          <img
            src="https://nxtwave.imgix.net/ccbp-website/Home/bag-image.png?auto=format,compress&q=80"
            style="width: 10%"
          />
          <p class="card-text">Machine Learning Scientist, Apple</p>
        </div>
        <div class="d-flex align-items-center gap-2 mt-2">
          <img
            src="https://nxtwave.imgix.net/ccbp-website/Home/graduation-image.png?auto=format,compress&q=80"
            style="width: 10%"
          />
          <p class="card-text">Carnegie Mellon University, IIT Kharagpur</p>
        </div>
      </div>
    </div>

    <div class="card" style="max-width: 18rem; margin: auto">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTF8fHVzZXJ8ZW58MHx8MHx8fDA%3D"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5
          class="card-title mb-2"
          style="color: #183b56 !important; font-weight: bold"
        >
          Vaibhav Kumar
        </h5>
        <div class="d-flex align-items-center gap-2">
          <img
            src="https://nxtwave.imgix.net/ccbp-website/Home/bag-image.png?auto=format,compress&q=80"
            style="width: 10%"
          />
          <p class="card-text">Machine Learning Scientist, Apple</p>
        </div>
        <div class="d-flex align-items-center gap-2 mt-2">
          <img
            src="https://nxtwave.imgix.net/ccbp-website/Home/graduation-image.png?auto=format,compress&q=80"
            style="width: 10%"
          />
          <p class="card-text">Carnegie Mellon University, IIT Kharagpur</p>
        </div>
      </div>
    </div>

    <div class="card" style="max-width: 18rem; margin: auto">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTF8fHVzZXJ8ZW58MHx8MHx8fDA%3D"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5
          class="card-title mb-2"
          style="color: #183b56 !important; font-weight: bold"
        >
          Vaibhav Kumar
        </h5>
        <div class="d-flex align-items-center gap-2">
          <img
            src="https://nxtwave.imgix.net/ccbp-website/Home/bag-image.png?auto=format,compress&q=80"
            style="width: 10%"
          />
          <p class="card-text">Machine Learning Scientist, Apple</p>
        </div>
        <div class="d-flex align-items-center gap-2 mt-2">
          <img
            src="https://nxtwave.imgix.net/ccbp-website/Home/graduation-image.png?auto=format,compress&q=80"
            style="width: 10%"
          />
          <p class="card-text">Carnegie Mellon University, IIT Kharagpur</p>
        </div>
      </div>
    </div>

    <div class="card" style="max-width: 18rem; margin: auto">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTF8fHVzZXJ8ZW58MHx8MHx8fDA%3D"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5
          class="card-title mb-2"
          style="color: #183b56 !important; font-weight: bold"
        >
          Vaibhav Kumar
        </h5>
        <div class="d-flex align-items-center gap-2">
          <img
            src="https://nxtwave.imgix.net/ccbp-website/Home/bag-image.png?auto=format,compress&q=80"
            style="width: 10%"
          />
          <p class="card-text">Machine Learning Scientist, Apple</p>
        </div>
        <div class="d-flex align-items-center gap-2 mt-2">
          <img
            src="https://nxtwave.imgix.net/ccbp-website/Home/graduation-image.png?auto=format,compress&q=80"
            style="width: 10%"
          />
          <p class="card-text">Carnegie Mellon University, IIT Kharagpur</p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="row justify-content-center">
    <img
      src="../../../../assets/img/placements.jpg"
      alt="teks academy placements"
    />
    <span class="text-center">And more...</span><br />
    <a routerLink="/enquiry-form" class="callbtn"
      ><i class="fa fa-phone"></i>&nbsp; Request Callback</a
    >
  </div> -->
</div>
