<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <!-- <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/">Development</a></li>
                <li>Python for Finance: Investment Fundamentals & Data Analytics</li>
            </ul> -->
      <h2>Node Js</h2>
      <a class="scdownloadSyllabus" id="open-form">Download Syllabus</a>
      <!-- <div class="rating">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <div class="rating-count">
                    <span>4.0 (1 rating)</span>
                </div>
            </div> -->
    </div>
  </div>
  <div class="shape9"><img src="assets/img/shape8.svg" alt="image" /></div>
</div>

<div class="courses-details-area pb-100">
  <div class="courses-details-image">
    <!-- <img src="assets/img/courses/course-details.jpg" alt="image"> -->
    <img src="../../../../../assets/img/singlecourse-banner.jpg" alt="image" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="courses-details-desc">
          <div class="courses-overview">
            <p>
              An open-source, cross-platform runtime atmosphere and library for
              JavaScript are called Node.js, and it is used to run web
              applications outside of the user’s browser. It was produced in
              2009 by Ryan Dahl, and version 15.14 of it was made available in
              April 2021. Node.js is used by developers to make server-side web
              applications, and because it employs an asynchronous, event-driven
              approach, it is ideal for data-intensive applications.
            </p>
            <h3>Course Description</h3>
            <p>
              NodeJS is a swiftly growing web server technology, and Node
              developers are among the highest-paid in the industry. Knowing
              NodeJS well will get you a job or develop your current one by
              allowing you to build high-quality, robust web applications. In
              this course, you will gain a complete understanding of Node, learn
              how NodeJS works under the hood, and how that knowledge helps you
              avoid common pitfalls and enormously improve your ability to debug
              problems.
            </p>
            <p>
              In this course, you will inspect the operation of the C++-written
              V8 JavaScript engine and how NodeJS makes use of it to enhance its
              functionality. By using modules and comprehending their operation,
              you will know how to structure your code for reuse and to make it
              simpler to comprehend, manage, and expand. You will know how
              Node’s asynchronous code operates, as well as how to use the event
              emitter, streams, buffers, pipes, and files. We’ll explore how
              that relates to creating a Node web server.
            </p>
            <p>
              You will explore webpages, web applications, and APIs with Express
              and see how Express can help Node developers work more quickly.
              Additionally, you’ll learn about npm, connecting to databases, and
              the MEAN. You’ll develop a thorough understanding of the
              Javascript ideas and other computer science concepts that underpin
              Node during the entire process.
            </p>
            <p>
              Learning NodeJS doesn't have to be difficult. The greatest method
              to learn is to first comprehend how a tool functions and what it
              can accomplish for you, then look at examples before using the
              tool on your own. This course is designed to do just that—to
              assist you in learning and comprehending NodeJS.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="courses-details-info">
          <!-- <div class="image">
                        <img src="assets/img/courses/img1.jpg" alt="image">
                        <a href="https://www.youtube.com/watch?v=PWvPbGWVRrU" class="link-btn popup-youtube"></a>
                        <div class="content">
                            <i class="flaticon-play"></i>
                            <span>Course Preview</span>
                        </div>
                    </div> -->
          <app-single-course-sidebar></app-single-course-sidebar>
          <ul class="info">
            <li class="price">
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-tag"></i> Price</span>
                $49
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-teacher"></i> Instructor</span>
                Teksacademy
              </div>
            </li>
            <!-- <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-time"></i> Duration</span>
                                3 hourse
                            </div>
                        </li> -->
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-distance-learning"></i> Lessons</span>
                25
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-web"></i> Enrolled</span>
                255 students
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-lock"></i> Access</span>
                Lifetime
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-lock"></i> Languages</span>
                Tel,Eng,Hin
              </div>
            </li>
          </ul>
          <!-- <div class="btn-box">
                        <a routerLink="/single-courses-1" class="default-btn"><i class="flaticon-shopping-cart"></i>Add to Cart<span></span></a>
                        <a routerLink="/single-courses-1" class="default-btn"><i class="flaticon-tag"></i>Buy Now<span></span></a>
                    </div> -->
          <div class="courses-share">
            <div class="share-info">
              <span>Share This Course <i class="flaticon-share"></i></span>
              <ul class="social-link">
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-linkedin"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="courses-area bg-f8f9f8 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>More Courses You Might Like</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="/single-courses-1" class="d-block image">
                            <img src="assets/img/courses/img1.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">$39</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                            <span>Alex Morgan</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">The Data Science Course 2020: Complete Data Science Bootcamp</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 15 Lessons</li>
                            <li><i class='flaticon-people'></i> 145 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="/single-courses-1" class="d-block image">
                            <img src="assets/img/courses/img2.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">$49</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user2.jpg" class="rounded-circle" alt="image">
                            <span>Sarah Taylor</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">Java Programming Masterclass for Software Developers</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 100 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="/single-courses-1" class="d-block image">
                            <img src="assets/img/courses/img3.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">$59</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user3.jpg" class="rounded-circle" alt="image">
                            <span>David Warner</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">Deep Learning A-Z™: Hands-On Artificial Neural Networks</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 150 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<app-popularcourses></app-popularcourses>

<app-dsform></app-dsform>
