<div
  id="trusted-by-thousands-to-become-it"
  class="section-2665 intensive-page--2-0"
  style="background-color: #f1f5f9"
>
  <div class="div-block-21067" id="placedstudent">
    <div class="div-block-1831980521410">
      <h2 class="heading-sathosi-font width font-size-24-copy">
        We have Created Thousands of Professionals
      </h2>
      <div class="trusted-by-under-line w-embed">
        <img
          src="https://nxtwave.imgix.net/ccbp-website/intensive/thousands-underline.svg?auto=format,compress&amp;q=80"
          alt=""
          loading="lazy"
        />
      </div>
    </div>
    <div>
      <div class="div-block-21072 div1290">
        <div class="div-block-21068 div-width">
          <div class="w-layout-grid grid-8644 intensive--20">
            <div
              id="w-node-_3c0fab3a-dc57-ab48-ea16-da47c19497c4-c19497ba"
              class="div-block-21070"
            >
              <div class="div-block-21071">
                <div class="text-block-909">
                  <p class="">Recruited by 300+ companies</p>
                </div>
              </div>
            </div>
            <div
              id="w-node-_3c0fab3a-dc57-ab48-ea16-da47c19497cb-c19497ba"
              class="div-block-21070"
            >
              <div class="w-embed">
                <img
                  src="../nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/ccbp-website/Reviews/package-icon.png"
                  width="48"
                  alt=""
                  loading=""
                />
              </div>
              <div class="div-block-21071">
                <div class="text-block-909">₹28 LPA</div>
                <div class="text-block-910">Highest package<br /></div>
              </div>
            </div>
          </div>
          <div>
            <div class="collection-list-wrapper-4 show w-dyn-list">
              <div role="list" class="w-dyn-items">
                <div role="listitem" class="w-dyn-item">
                  <div
                    class="date-changes-cms-collection-container-intensive left-aligin"
                  >
                    <div class="intensive-batch-details-div-copy">
                      <div class="w-embed">
                        <style>
                          .blue-dot {
                            height: 24px;
                            width: 24px;
                          }
                        </style>
                        <img
                          class="blue-dot"
                          src="https://nxtwave.imgix.net/ccbp-website/nxtwave-intensive-2.0/pricing-section/pricing-section-blue-icon.svg?auto=format,compress&amp;q=80"
                        />
                      </div>
                      <div class="int -batch-txt-copy">
                        Next batch coming soon
                      </div>
                    </div>
                    <div class="embed-btn w-embed">
                      <div class="dates-changing-ctas">
                        <div class="row gap-2">
                          <a
                            class="book-a-free-demo-main-btn track-class w-button mb-2 mr-2"
                            data-toggle="modal"
                            data-target="#exampleModalCenter"
                            style="color: white; cursor: pointer"
                            >Enroll Now</a
                          >

                          <!-- MODAL FORM -- ENROLL NOW -->

                          <div
                            class="modal fade"
                            id="exampleModalCenter"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="exampleModalCenterTitle"
                            aria-hidden="true"
                          >
                            <div
                              class="modal-dialog modal-dialog-centered"
                              role="document"
                            >
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h2
                                    class="modal-title"
                                    id="exampleModalLongTitle"
                                  >
                                    Enroll now
                                  </h2>
                                  <img
                                    src="../../../../../assets/img/Teks_Website/Teks_Website/Form_imgs_100x72.72/checklist.png"
                                    alt=""
                                    style="
                                      width: 100px;
                                      height: auto;
                                      object-fit: cover;
                                    "
                                  />
                                </div>
                                <div class="modal-body">
                                  <app-enrollnowform></app-enrollnowform>
                                </div>
                                <!-- <div class="modal-footer">
                                  <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                                  >
                                    Close
                                  </button>
                                  <button
                                    type="button"
                                    class="btn btn-primary"
                                    style="background-color: #2a619d !important"
                                  >
                                    Submit
                                  </button>
                                  
                                </div> -->
                              </div>
                            </div>
                          </div>

                          <!-- Modal Form Ends -->

                          <a
                            style="display: block"
                            class="book-a-free-demo-main-btn secondary-cta-btn highlight-btn track-class w-button mb-2"
                            data-toggle="modal"
                            data-target="#exampleModalCenters"
                            style="cursor: pointer"
                            >Book a Free Demo</a
                          >
                        </div>
                      </div>
                    </div>

                    <!-- MODAL FORM -->

                    <div
                      class="modal fade"
                      id="exampleModalCenters"
                      tabindex="-1"
                      role="dialog"
                      aria-labelledby="exampleModalCenterTitle"
                      aria-hidden="true"
                    >
                      <div
                        class="modal-dialog modal-dialog-centered"
                        role="document"
                      >
                        <div class="modal-content">
                          <div class="modal-header">
                            <h2 class="modal-title" id="exampleModalLongTitle">
                              Book A Free Demo Now
                            </h2>
                            <img
                              src="../../../../../assets/img/Teks_Website/Teks_Website/Form_imgs_100x72.72/checklist.png"
                              alt=""
                              style="
                                width: 100px;
                                height: auto;
                                object-fit: cover;
                              "
                            />
                            <!-- <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                              aria-label="Close"
                            >
                              <span aria-hidden="true">&times;</span>
                            </button> -->
                          </div>
                          <div class="modal-body">
                            <app-bookafreedemoform></app-bookafreedemoform>
                          </div>
                          <!-- <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-dismiss="modal"
                            >
                              Close
                            </button>
                            <button
                              type="button"
                              class="btn btn-primary"
                              style="background-color: #2a619d !important"
                            >
                              Submit
                            </button>
                          </div> -->
                        </div>
                      </div>
                    </div>

                    <!-- Modal Form Ends -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-block-21073">
          <div class="div-block-183198052126 intensive-2-0"></div>
          <div class="logo-row-wrapper">
            <div class="logo-row-left-div">
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Ayyapa.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Ayyappa</div>
                  <div class="text-block-912">BIM Design</div>
                  <div class="text-block-912">Suresh Bilgum Pvt Ltd.</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Bhavana.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Bhavana</div>
                  <div class="text-block-912">BIM Design</div>
                  <div class="text-block-912">Vedhik Systems</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Chandana.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Chandana</div>
                  <div class="text-block-912">Python</div>
                  <div class="text-block-912">CYE Technologies</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Hansika.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Hansika</div>
                  <div class="text-block-912">BIM Design</div>
                  <div class="text-block-912">Active Green Window Sol.</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Hema latha.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Hemalatha</div>
                  <div class="text-block-912">BIM Design</div>
                  <div class="text-block-912">Active Green Window Sol.</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Jai Rishanth.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Jai Risthanath</div>
                  <div class="text-block-912">Digital Marketing</div>
                  <div class="text-block-912">DRK Solutions</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Kishore.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Kishore</div>
                  <div class="text-block-912">BIM, Revit</div>
                  <div class="text-block-912">Sustainable Solutions</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Krishna.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Krishna</div>
                  <div class="text-block-912">BIM Design</div>
                  <div class="text-block-912">Intern</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Leela Prasad.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Leela Prasad</div>
                  <div class="text-block-912">BIM Design</div>
                  <div class="text-block-912">Urban Herb Developers</div>
                </div>
              </div>
            </div>
            <div class="logo-row-right-div">
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Lokesh.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Lokesh</div>
                  <div class="text-block-912">BIM Design</div>
                  <div class="text-block-912">Intern</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Mohitha.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Mohitha</div>
                  <div class="text-block-912">Testing</div>
                  <div class="text-block-912">Temino</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Shiva Shankar.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Shiva Shankar</div>
                  <div class="text-block-912">Digital Marketing</div>
                  <div class="text-block-912">Honey Groups</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Navya.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Navya</div>
                  <div class="text-block-912">Digital Marketing</div>
                  <div class="text-block-912">Darpan Jewellers</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Pooja.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Pooja</div>
                  <div class="text-block-912">Full Stack Python</div>
                  <div class="text-block-912">CYE Technologies</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/prasad.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Prasad</div>
                  <div class="text-block-912">Full Stack Python</div>
                  <div class="text-block-912">CYE Technologies</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Priyanka.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Priyanka</div>
                  <div class="text-block-912">BIM, AutoCad</div>
                  <div class="text-block-912">Vedhik Systems</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Ruchita.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Ruchita</div>
                  <div class="text-block-912">Full Stack Python</div>
                  <div class="text-block-912">CYE Technologies</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Sai kiran.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Sai Kiran</div>
                  <div class="text-block-912">Full Stack Developer</div>
                  <div class="text-block-912">CYE Technologies</div>
                </div>
              </div>
            </div>
            <div class="logo-row-left-div">
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Santosha.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Santhosha</div>
                  <div class="text-block-912">Full Stack Python</div>
                  <div class="text-block-912">CYE Technologies</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Swathi.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Swathi</div>
                  <div class="text-block-912">Auto CAD</div>
                  <div class="text-block-912">Vedhik Systems</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Vennela.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Vennela</div>
                  <div class="text-block-912">Frontend Development</div>
                  <div class="text-block-912">CYE Technologies</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Vignesh.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Vignesh</div>
                  <div class="text-block-912">Full Stack java</div>
                  <div class="text-block-912">Kapil Technologies</div>
                </div>
              </div>

              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Alekhya.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Alekhya</div>
                  <div class="text-block-912">Full Stack Python</div>
                  <div class="text-block-912">CYE Technologies</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Tej.png"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">Tej Likitha</div>
                  <div class="text-block-912">Digital Marketing</div>
                  <div class="text-block-912">Sand Brince</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Praveen.jpg"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">
                    <strong>J. Praveen Naik</strong>
                  </div>
                  <div class="text-block-912">AWS</div>
                  <div class="text-block-912">HCL</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Praveen.jpg"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">
                    <strong>J. Praveen Naik</strong>
                  </div>
                  <div class="text-block-912">AWS</div>
                  <div class="text-block-912">HCL</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="../../../../assets/img/students/Praveen.jpg"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">
                    <strong>J. Praveen Naik</strong>
                  </div>
                  <div class="text-block-912">AWS</div>
                  <div class="text-block-912">HCL</div>
                </div>
              </div>
              <!-- Remaining ones -->
              <!-- <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911"><strong>Balla Divya</strong></div>
                  <div class="text-block-912">Software Engineer</div>
                  <div class="text-block-912">Google</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911"><strong>Surya Satya</strong></div>
                  <div class="text-block-912">Associate Engineer</div>
                  <div class="text-block-912">Google</div>
                </div>
              </div> -->
            </div>
            <!-- <div class="logo-row-right-div">
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">
                    <strong>Yashi Agarwal</strong>
                  </div>
                  <div class="text-block-912">Software engineer</div>
                  <div class="text-block-912">Google</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">
                    <strong>Gulshan Mohiddin</strong>
                  </div>
                  <div class="text-block-912">Associate Process Analyst</div>
                  <div class="text-block-912">Google</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">
                    <strong>Soumya Ranjan Mishra</strong>
                  </div>
                  <div class="text-block-912">Technical Analyst</div>
                  <div class="text-block-912">Google</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">
                    <strong>Milinda Reddy</strong>
                  </div>
                  <div class="text-block-912">Software Engineer (Intern)</div>
                  <div class="text-block-912">Google</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">
                    <strong>Jayant Mathur</strong>
                  </div>
                  <div class="text-block-912">Software Developer</div>
                  <div class="text-block-912">Google</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">
                    <strong>Jayakar Reddy</strong>
                  </div>
                  <div class="text-block-912">Software Engineer</div>
                  <div class="text-block-912">Google</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">
                    <strong>Krishna Murthy</strong>
                  </div>
                  <div class="text-block-912">Software engineer</div>
                  <div class="text-block-912">Google</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911">
                    <strong>Dheeraj Meena</strong>
                  </div>
                  <div class="text-block-912">Assoc. Software Engineer</div>
                  <div class="text-block-912">Google</div>
                </div>
              </div>
              <div
                class="div-block-183198052117 d-flex align-items-center gap-2"
              >
                <div class="w-embed">
                  <img
                    src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D"
                    alt=""
                    style="
                      border-radius: 100%;
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      margin: auto;
                    "
                  />
                </div>
                <div class="div-block-183198052092">
                  <div class="text-block-911"><strong>Divya</strong></div>
                  <div class="text-block-912">Associate consultant</div>
                  <div class="text-block-912">Google</div>
                </div>
              </div>
            </div> -->
          </div>
          <div class="marquee-css-2 w-embed">
            <style>
              .logo-row-left-div {
                white-space: nowrap;
                will-change: transform;
                animation: marquee-right 40s linear infinite;
                /*manipulate the speed of the marquee by changing "40s" line above*/
              }

              .logo-row-right-div {
                white-space: nowrap;
                will-change: transform;
                animation: marquee-left 40s linear infinite;
                /* manipulate the speed of the marquee by changing "40s" line above*/
              }

              /*.left combo class*/
              .logo-row-left-div.left {
                animation: marquee-left 40s linear infinite;
              }

              .logo-row-right-div.right {
                animation: marquee-right 40s linear infinite;
              }

              @keyframes marquee-right {
                from {
                  transform: translateX(-50%);
                }

                to {
                  transform: translateX(0%);
                }
              }

              @keyframes marquee-left {
                from {
                  transform: translateX(0);
                }

                to {
                  transform: translateX(-50%);
                }
              }
            </style>
          </div>
          <div class="div-block-183198052126-copy intensive-2-0-right"></div>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>
<section id="hiring-companies-intensive" data-sectionid="sections">
  <div
    class="hiring-companies-scroll-section"
    style="background-color: #f1f5f9"
    id="companies"
  >
    <div class="">
      <div>
        <div class="div-block-1996 pt-4 pb-4">
          <div class="div-block-1557">
            <div class="div-block-867-copy-2 div234">
              <h2
                class="heading-sathosi-font font-size-48 mb-3 header-styling custom-small-font"
                style="font-size: 40px; line-height: 40px"
              >
                Our TEKS Learners Work Here!
              </h2>
            </div>
          </div>
        </div>
        <div class="div-block-1831980521408">
          <div class="w-embed">
            <style>
              .companies-img {
                height: 52px;
              }

              @media screen and (max-width: 478px) {
                .companies-img {
                  height: 32px;
                  object-fit: cover;
                }
              }

              .marquee1 {
                display: flex;
                overflow: hidden;
                user-select: none;
                gap: 24px;
              }

              .marquee__group1 {
                flex-shrink: 0;
                display: flex;
                align-items: center;
                gap: 24px;
                min-width: 100%;
                animation: scroll 40s linear infinite;
                white-space: nowrap;
                overflow: hidden;
                overflow-x: -webkit-marquee;
                -webkit-marquee-direction: backwards;
                -webkit-marquee-style: alternate;
                -webkit-marquee-speed: normal;
                -webkit-marquee-increment: small;
                -webkit-marquee-repetition: 4;
              }

              @keyframes scroll {
                0% {
                  transform: translateX(0);
                }

                100% {
                  transform: translateX(calc(-100% - 24px));
                }
              }
            </style>
            <div class="marquee1">
              <div class="marquee__group1">
                <img
                  class="companies-img"
                  src="../../../../assets/img/Company/company-1.png"
                  loading="lazy"
                />
              </div>

              <div aria-hidden="true" class="marquee__group1">
                <img
                  class="companies-img"
                  src="../../../../assets/img/Company/company-1.png"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
          <div class="w-embed">
            <style>
              .companies-img2 {
                height: 52px;
              }

              @media screen and (max-width: 478px) {
                .companies-img2 {
                  height: 32px;
                  object-fit: cover;
                }
              }

              .marquee2 {
                display: flex;
                overflow: hidden;
                user-select: none;
                gap: 24px;
              }

              .marquee__group2 {
                flex-shrink: 0;
                display: flex;
                align-items: center;
                gap: 24px;
                min-width: 100%;
                animation: scroll 40s linear infinite;
                white-space: nowrap;
                overflow: hidden;
                overflow-x: -webkit-marquee;
                -webkit-marquee-direction: backwards;
                -webkit-marquee-style: alternate;
                -webkit-marquee-speed: normal;
                -webkit-marquee-increment: small;
                -webkit-marquee-repetition: 4;
              }
            </style>
            <div class="marquee2">
              <div class="marquee__group1">
                <img
                  class="companies-img"
                  src="../../../../assets/img/Company/company-2.png"
                  loading="lazy"
                />
              </div>

              <div aria-hidden="true" class="marquee__group1">
                <img
                  class="companies-img"
                  src="../../../../assets/img/Company/company-2.png"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
          <div class="w-embed">
            <style>
              .companies-img {
                height: 52px;
              }

              @media screen and (max-width: 478px) {
                .companies-img {
                  height: 32px;
                  object-fit: cover;
                }
              }

              .marquee3 {
                display: flex;
                overflow: hidden;
                user-select: none;
                gap: 24px;
              }

              .marquee__group3 {
                flex-shrink: 0;
                display: flex;
                align-items: center;
                gap: 24px;
                min-width: 100%;
                animation: scroll 40s linear infinite;
                white-space: nowrap;
                overflow: hidden;
                overflow-x: -webkit-marquee;
                -webkit-marquee-direction: backwards;
                -webkit-marquee-style: alternate;
                -webkit-marquee-speed: normal;
                -webkit-marquee-increment: small;
                -webkit-marquee-repetition: 4;
              }
            </style>
            <div class="marquee3">
              <div class="marquee__group1">
                <img
                  class="companies-img"
                  src="../../../../assets/img/Company/company-3.png"
                  loading="lazy"
                />
              </div>

              <div aria-hidden="true" class="marquee__group1">
                <img
                  class="companies-img"
                  src="../../../../assets/img/Company/company-3.png"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-dyn-list">
      <div role="list" class="w-dyn-items">
        <div role="listitem" class="w-dyn-item">
          <div class="date-changes-cms-collection-container-intensive plr-16">
            <div class="intensive-batch-details-div-copy">
              <div class="w-embed">
                <style>
                  .blue-dot {
                    height: 24px;
                    width: 24px;
                  }
                </style>
                <img
                  class="blue-dot"
                  src="https://nxtwave.imgix.net/ccbp-website/nxtwave-intensive-2.0/pricing-section/pricing-section-blue-icon.svg?auto=format,compress&amp;q=80"
                />
              </div>
              <div class="int-batch-txt-copy">Next batch coming soon</div>
            </div>
            <div class="dates-changing-ctas">
              <div class="embed-btn w-embed">
                <div class="row gap-2">
                  <a
                    id="enroll-now-trusted-by-thousands-desktop"
                    routerLink="/enquiry-form"
                    class="book-a-free-demo-main-btn track-class w-button mb-2 mr-2"
                    style="cursor: pointer"
                    >Enquiry Now</a
                  >

                  <a
                    style="display: block"
                    class="book-a-free-demo-main-btn secondary-cta-btn highlight-btn track-class w-button mb-2"
                    data-toggle="modal"
                    data-target="#exampleModalCenters"
                    style="cursor: pointer"
                    >Book a Free Demo</a
                  >
                </div>
              </div>
            </div>

            <!-- MODAL FORM -->

            <div
              class="modal fade"
              id="exampleModalCenters"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">
                      Book A Free Demo Now
                    </h2>
                    <img
                      src="../../../../../assets/img/Teks_Website/Teks_Website/Form_imgs_100x72.72/checklist.png"
                      alt=""
                      style="width: 100px; height: auto; object-fit: cover"
                    />
                  </div>
                  <div class="modal-body">
                    <app-bookafreedemoform></app-bookafreedemoform>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      style="background-color: #2a619d !important"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal Form Ends -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
