<div class="blog-details-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="blog-details-desc">
          <div class="blog-posts-container">
            <!-- <div class="article-image" *ngIf="currentPost">
              <img
                [src]="currentPost.image_url ? 'https://teksacademy.s3.ap-south-1.amazonaws.com/website/blogs/' + currentPost.image_url : 'assets/placeholder.jpg'"
                width="100%" height="auto" alt="{{ currentPost.title }}" />

            </div> -->
          </div>
          <div class="article-content">
            description
          </div>
          <!-- comments -->
          <div class="comments-area">
            <h3 class="comments-title">{{ comments.length }} Comment(s):</h3>
            <ul class="comment-list">
              <li class="comment" *ngFor="let comment of comments">
                <article class="comment-body">
                  <footer class="comment-meta">
                    <div class="comment-author vcard">
                      <b class="fn">{{ comment.author }}</b>
                      <span class="says">says:</span>
                    </div>
                    <div class="comment-metadata">
                      <span>{{ comment.date }}</span>
                    </div>
                  </footer>
                  <div class="comment-content">
                    <p>{{ comment.comment }}</p>
                  </div>
                </article>
              </li>
            </ul>
            <!-- Comment form -->
            <div class="comment-respond">
              <h3 class="comment-reply-title">Leave a Reply</h3>
              <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                <p class="comment-notes">
                  <span id="email-notes">Your email address will not be published.</span>
                  Required fields are marked <span class="required">*</span>
                </p>
                <p class="comment-form-author">
                  <label>Name <span class="required">*</span></label>
                  <input type="text" formControlName="author" placeholder="Your Name*" required>
                </p>
                <p class="comment-form-email">
                  <label>Email <span class="required">*</span></label>
                  <input type="email" formControlName="email" placeholder="Your Email*" required>
                </p>
                <p class="comment-form-comment">
                  <label>Comment</label>
                  <textarea formControlName="comment" cols="45" placeholder="Your Comment..." rows="5" maxlength="65525"
                    required></textarea>
                </p>
                <p class="form-submit">
                  <button type="submit" class="submit default-btn">Post A Comment</button>
                </p>
              </form>
            </div>
          </div>

        </div>
      </div>
      <!-- search -->
      <div class="col-lg-4 col-md-12">
        <aside class="widget-area">
          <div class="widget widget_search">
            <h3 class="widget-title">Search</h3>
            <form class="search-form">
              <label>
                <span class="screen-reader-text">Search for:</span>
                <input type="search" class="search-field" placeholder="Search...">
              </label>
              <button type="submit"><i class="bx bx-search-alt"></i></button>
            </form>
          </div>
          <div class="widget widget_odemy_posts_thumb">
            <h3 class="widget-title">Related Posts</h3>
            <article class="item" *ngFor="let post of relatedPosts">
              <a [routerLink]="['/single-blog', post.id]" class="thumb">
                <div class="article-image">
                  <img
                    [src]="post.image_url ? 'https://teksacademy.s3.ap-south-1.amazonaws.com/website/blogs/' + post.image_url : 'assets/placeholder.jpg'"
                    width="100%" height="auto" alt="{{ post.title }}" />
                </div>
              </a>
              <div class="info">
                <span>{{ post.createdAt | date: 'mediumDate' }}</span>
                <h4 class="title usmall"><a [routerLink]="['/single-blog', post.id]">{{ post.title }}</a></h4>
              </div>
              <div class="clear"></div>
            </article>
          </div>
          <div class="widget widget_categories">
            <h3 class="widget-title">Categories</h3>
            <ul>
              <li><a routerLink="/blog-4">blog name lakshmi <span class="post-count">(03)</span></a>
              </li>
            </ul>
          </div>
          <div class="widget widget_tag_cloud">
            <h3 class="widget-title">Popular Tags</h3>
            <div class="tagcloud">
              <a routerLink="/blog-4">Business <span class="tag-link-count"> (3)</span></a>
              <a routerLink="/blog-4">Design <span class="tag-link-count"> (3)</span></a>
              <a routerLink="/blog-4">Braike <span class="tag-link-count"> (2)</span></a>
              <a routerLink="/blog-4">Fashion <span class="tag-link-count"> (2)</span></a>
              <a routerLink="/blog-4">Travel <span class="tag-link-count"> (1)</span></a>
              <a routerLink="/blog-4">Smart <span class="tag-link-count"> (1)</span></a>
              <a routerLink="/blog-4">Marketing <span class="tag-link-count"> (1)</span></a>
              <a routerLink="/blog-4">Tips <span class="tag-link-count"> (2)</span></a>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>