<div class="container-fluid p-0">
    <div class="banner_img">
        <div class="container">
            <div class="heading_space d-none d-sm-block">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h1 class="main_heading">
                            Best Software Training Institute in Dilsukhnagar
                        </h1>
                        <p class="learn_more paragraph_text" routerLink="/course">
                            Learn IT Courses<span class="mt-1 ms-2 arrow">
                                <i class="fa-solid fa-arrow-right"></i>
                            </span>
                        </p>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <p class="paragraph_text">
                            Dilsukhnagar – “Educational Hub of Hyderabad” – is now home to Teks Academy, the leading
                            software training institute in Dilsukhnagar, Hyderabad. Known for its bustling student
                            community and educational institutions, Dilsukhnagar has become a hotspot for learners
                            seeking quality education and training. With the influx of IT companies and the demand for
                            skilled professionals, Teks Academy stands out by offering comprehensive software training
                            programs.
                        </p>
                        <div class="my-2">
                            <button routerLink="/enquiry-form" class="btn btn-primary btn_color fw-bold">
                                Enquiry Now <i class="fa fa-angle-double-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="heading_space mobile_bg_color d-block d-sm-none">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h1 class="main_heading">
                        Best Software Training Institute in Dilsukhnagar
                    </h1>
                    <p class="learn_more paragraph_text" routerLink="/course">
                        Learn IT Courses<span class="mt-1 ms-2 arrow">
                            <i class="fa-solid fa-arrow-right"></i>
                        </span>
                    </p>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <p class="paragraph_text">
                        Dilsukhnagar – “Educational Hub of Hyderabad” – is now home to Teks Academy, the leading
                        software training institute in Dilsukhnagar, Hyderabad. Known for its bustling student community
                        and educational institutions, Dilsukhnagar has become a hotspot for learners seeking quality
                        education and training. With the influx of IT companies and the demand for skilled
                        professionals, Teks Academy stands out by offering comprehensive software training programs.
                    </p>
                    <button routerLink="/enquiry-form" class="btn btn-primary btn_color fw-bold">
                        Enquiry Now <i class="fa fa-angle-double-right"></i>
                    </button>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-12">
                    <img src="../../../../../assets/img/branch_images/new_banner_dilsukhnagar_mobile.png" width="100%"
                        height="100%" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p class="main_heading">Explore Teks Academy!</p>
                <p class="paragraph_text">
                    Teks Academy, No.1 software training institute in Dilsukhnagar, boasts a decade of experience in
                    delivering cutting-edge software courses. Our commitment to the TEKS-Philosophy – Transfer the
                    Expert's
                    Knowledge to Students – ensures that you receive top–tier software training. We provide job-oriented
                    IT
                    courses with the finest training faculty, state-of-the-art technological infrastructure, and modern
                    teaching methodologies. Our well-researched and industry-standard curriculum prepares you to excel
                    in
                    the ever-evolving IT landscape.
                </p>
                <p class="paragraph_text">
                    Join Teks Academy in Dilsukhnagar, the nucleus of tech enthusiasts, and benefit from the visionary
                    guidance of our experienced trainers. Step into your future with the best in the industry!
                </p>
            </div>
            <div class="col-lg-6">
                <div class="dsform">
                    <form (ngSubmit)="eformData()">
                        <label for="name">Name<span>*</span></label>
                        <input type="text" id="name" class="dsformi" name="efname" placeholder="Enter Your Name"
                            required [(ngModel)]="efname" />

                        <label for="email">Email<span>*</span></label>
                        <input type="email" id="email" class="dsformi" name="efemail" placeholder="Email" required
                            [(ngModel)]="efemail" />

                        <label for="phone">Phone Number<span>*</span></label>
                        <input type="number" id="mnumber" class="dsformi user_number" name="efphone"
                            placeholder="Mobile Number" required [(ngModel)]="efphone" pattern="[0-9]*"
                            maxlength="10" />

                        <label for="course">Course<span>*</span></label>
                        <input type="text" id="course" class="dsformi" name="efcourse" placeholder="Course" required
                            [(ngModel)]="efcourse" />

                        <label for="branch">Branch<span>*</span></label>
                        <input type="text" id="branch" class="dsformi branch_disable_css" name="efbranch"
                            placeholder="Branch" [(ngModel)]="efbranch" readonly />

                        <label for="city">City<span>*</span></label>
                        <input type="text" id="city" class="dsformi" placeholder="City" name="efcity" required
                            [(ngModel)]="efcity" />

                        <br /><br />
                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
        <div class="">
            <div class="text-center">
                <p class="main_heading">Courses Offered</p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card text-center">
                        <div class="course_box">
                            <img src="../../../../../assets/img/branch_images/python.png" class="img-fluid" width="20%"
                                height="20%" alt="sap" />
                            <p class="course_name mt-3">Full stack Python</p>
                            <p class="course_description">
                                This advanced course from Teks Academy- the best python institute in Dilsukhnagar will
                                take you through the fundamentals of Python, web frameworks like Django and Flask,
                                database management, and client-side technologies.
                            </p>
                            <a routerLink="/courses/best-full-stack-python-development-course-training-institute"
                                class="">
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card text-center">
                        <div class="course_box">
                            <img src="../../../../../assets/img/branch_images/java.png" class="img-fluid" width="20%"
                                height="20%" />
                            <p class="course_name">Full Stack Java</p>
                            <p class="course_description">
                                This intensive Java training in Dilsukhnagar covers both front-end and back-end
                                development, equipping you with skills in Java, Spring, Hibernate, Angular, React, and
                                more. Teks Academy is one of the best Java coaching centers in Dilsukhnagar with 100%
                                placement support.
                            </p>
                            <a routerLink="/courses/best-full-stack-java-development-course-training-institute"
                                class="">
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card text-center">
                        <div class="course_box">
                            <img src="../../../../../assets/img/branch_images/data_science.png" class="img-fluid"
                                width="20%" height="20%" />
                            <p class="course_name mt-3">Data Science</p>
                            <p class="course_description">
                                Teks Academy’s data science training in Dilsukhnagar is designed to equip you with
                                essential skills in data analysis, machine learning, and statistical modeling. This
                                course offers hands-on experience with real-world datasets.
                            </p>
                            <a routerLink="/courses/best-data-science-course-training-institute" class="">
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card text-center">
                        <div class="course_box">
                            <img src="../../../../../assets/img/branch_images/dataanalist.png" class="img-fluid"
                                width="20%" height="20%" alt="sap" />
                            <p class="course_name mt-3">Data Analytics</p>
                            <p class="course_description">
                                This advanced course will cover data visualization, statistical analysis, and data
                                mining techniques using industry-leading tools and software. Teks provides the best data
                                analytics course in Disukhnagar with experienced trainers and advanced LMS.
                            </p>
                            <a routerLink="/courses/best-data-analytics-course-training-institute" class="">
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card text-center">
                        <div class="course_box">
                            <img src="../../../../../assets/img/branch_images/bim.png" class="img-fluid" width="20%"
                                height="20%" alt="sap" />
                            <p class="course_name mt-3">B.I.M</p>
                            <p class="course_description">
                                The BIM course in Dilsukhnagar is designed to revolutionize your approach to
                                architecture, engineering, and construction by empowering you to create efficient and
                                innovative building designs.
                            </p>
                            <a routerLink="/courses/best-bim-building-information-modeling-course-training-institute"
                                class="">
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card text-center">
                        <div class="course_box">
                            <img src="../../../../../assets/img/branch_images/revit.png" class="img-fluid" width="20%"
                                height="20%" alt="sap" />
                            <p class="course_name mt-3">Revit MEP</p>
                            <p class="course_description">
                                This ultramodern course covers everything from basic concepts to advanced
                                functionalities, ensuring you are well-equipped to handle real-world architectural and
                                construction projects.
                            </p>
                            <a routerLink="/courses/best-revit-mep-course-training-institute" class="">
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card text-center">
                        <div class="course_box">
                            <img src="../../../../../assets/img/branch_images/autocad.png" class="img-fluid" width="20%"
                                height="20%" alt="sap" />
                            <p class="course_name mt-3">Auto cad</p>
                            <p class="course_description">
                                The course is meticulously crafted to provide you with a comprehensive understanding of
                                computer-aided design. The best AutoCAD course in Disukhnagar also guides you through
                                the intricacies of 2D and 3D drafting, modeling, and rendering.
                            </p>
                            <a routerLink="/courses/best-autocad-course-training-institute" class="">
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <div class="card text-center">
                        <div class="course_box">
                            <img src="../../../../../assets/img/branch_images/aws.png" class="img-fluid" width="25%"
                                height="25%" alt="java" />
                            <p class="course_name">AWS DevOps</p>
                            <p class="course_description">
                                This program equips you with the skills to deploy, manage and scale applications on the
                                AWS platform. This best AWS DevOps Course in Dilsukhnagar creates the opportunity of
                                experiential Learn from industry experts and CI/CD pipelines and infrastructure.
                            </p>
                            <a routerLink="/courses/best-awsplusdevops-course-training-institute">
                                <p class="read_more cursor_pointer_branch">
                                    Read more <i class="fa fa-angle-double-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="text-center">
                <p class="main_heading mb-4">Why Teks</p>
            </div>
            <app-whytekssample></app-whytekssample>
        </div>
        <div class="">
            <div class="text-center">
                <p class="main_heading mb-4">Testimonials</p>
            </div>
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner pb-5">
                    <div class="carousel-item active">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_41.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        Teks Academy in Hyderabad is a leading SAP training facility. Their SAP FICO
                                        course is excellent, with competent professors and a thorough curriculum.
                                        Hands-on lessons and personalized guidance help students succeed. Teks Academy
                                        is the premier SAP training provider in Hyderabad!
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Srikanth
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_42.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        This is academy has well trained and experienced trainers...you have visit this
                                        academy if you want to get certified with highly recognised organisations in
                                        national level...The academy has lab sessions for practice...I am super
                                        satisfied with my course and my career growth in teks academy dilsukhnagar.
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Sanjana Goud
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_43.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        I have learned digital marketing course in teks academy the classes are very
                                        much interested and the faculity was experienced person and the course was very
                                        nice thanks for teksacademy.
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">- Naga Vaibhav</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_44.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        My experience with Teks academy's Full Stack Developer course has been positive
                                        overall. The instructors are knowledgeable, the curriculum is comprehensive, and
                                        the hands-on learning approach is commendable. While there is room for
                                        improvement in areas like keeping the curriculum up-to-date and enhancing job
                                        placement success, the institute provides a solid foundation for aspiring full
                                        stack developers.
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Irshad
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_45.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        I have learned Digital marketing in Teks academy.... I have had great experience
                                        while learning everything practically with real time experience and firsthand
                                        expert trainers.
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Vinay Kumar
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_46.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        It was good, very effective learning pedology.... trainers are well trained.
                                        Thank you teksacademy.
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Krishna
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_47.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        “I could be happier with my trainer and my course...very trustworthy. ...Very
                                        satisfied.
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Gnanendra Reddy
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_48.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        Hi this Aditya, I am a student from teksacademy. And it's good to gain
                                        knowledge. And I have learnt python fullstack course from this.
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Aditya Guturu
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_49.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        Very nice experience in this academy.good trainers and good counsellor and good
                                        class rooms too. I learnt Digital marketing course it's very using to me.
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Anil Kumar
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_50.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        I have enrolled in revit mep course … trainers are very highly experienced.
                                        Thank you, Teks Academy.
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Sai Yadav
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="">
            <div class="mb-5">
                <div class="container text-center">
                    <div class="m-0 mb-4 text-center">
                        <p class="main_heading">Most Searched Terms</p>
                    </div>
                    <div class="d-flex flex-wrap most_searched">
                        <span>Best full stack python course in dilsukhnagar</span>
                        <span>Best python institute in dilsukhnagar</span>
                        <span>Java coaching centers in dilsukhnagar</span>
                        <span>Java training in dilsukhnagar</span>
                        <span>Data science training in dilsukhnagar</span>
                        <span>Data science course in dilsukhnagar</span>
                        <span>Best data science course in disukhsnagar</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>