<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <!-- <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Terms of Service</li>
            </ul> -->
            <h2>Terms & Conditions</h2>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>

<div class="terms-of-service-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="terms-of-service-content">
                    <h3>Admission:</h3>
                    <ul>
                        <li>The eligibility criteria for each course will be clearly communicated to the students before admission, and students must provide all required documents and information during the admission process.</li>
                        <li>Admission will be confirmed only after the completion of all formalities and payment of full fees.</li>
                    </ul>
                    <h3>Fee:</h3>
                    <ul>
                        <li>Fees for each course will be clearly communicated to the students before admission, and they are non-refundable except in case of course cancellation by the center or extenuating circumstances that prevent the student from continuing the course, in both the cases payment will be refunded after deductions.</li>
                        <li>No course fee adjustment will be allowed from one course to another course.</li>
                        <li>No course fee adjustment will be allowed from one student to another student.</li>
                        <li>Any request for course fee adjustment will not be entertained by the coaching center under any circumstances.</li>
                        <li>All course fees are non-transferable and non-refundable.</li>
                        <li>Students are advised to choose their courses carefully and make sure that they are fully committed to the course before paying the course fee.</li>
                        <li>In case a student is unable to complete the course due to valid reasons, the course fee will not be refunded or adjusted against any other course.</li>
                        <li>Late payment of fees may attract additional charges as per the center’s policy.</li>
                    </ul>
                    <h3>Course Material:</h3>
                    <ul>
                        <li>The course material and digital goods provided by the coaching center is copyrighted and cannot be reproduced or used for commercial purposes without permission.</li>
                        <li>Any damage or loss of course material will be the responsibility of the student and may attract additional charges for extra material copy as per the center’s policy.</li>
                    </ul>
                    <h3>Attendance:</h3>
                    <ul>
                        <li>Regular attendance is essential for successfully completing the course and obtaining a certificate.</li>
                        <li>Students must inform the center in advance if they are unable to attend a class due to valid reasons such as illness or emergencies.</li>
                        <li>Make-up classes may be arranged at the discretion of the center and subject to availability of resources.</li>
                    </ul>
                    <h3>Conduct:</h3>
                    <ul>
                        <li>Students must conduct themselves respectfully towards the center staff, fellow students, and the center’s property.</li>
                        <li>Any form of harassment, discrimination, or bullying will not be tolerated and may lead to immediate expulsion from the center.</li>
                        <li>The use of drugs or alcohol within the center’s premises is strictly prohibited and may lead to immediate expulsion from the center.</li>
                    </ul>
                    <h3>Examinations:</h3>
                    <ul>
                        <li>The examination schedule and format will be communicated to the students in advance.</li>
                        <li>Students must adhere to the rules and regulations of the examination, and any deviation may lead to disqualification or cancellation of the examination.</li>
                        <li>Students must return all examination papers and materials to the center after the examination is over.</li>
                    </ul>
                    <h3>Certification:</h3>
                    <ul>
                        <li>The certificate will only be awarded to students who successfully complete the course as per the center’s criteria.</li>
                        <li>The certificate does not guarantee employment or acceptance into any institution.</li>
                    </ul>
                    <h3>Liability:</h3>
                    <ul>
                        <li>The center is not responsible for any injury, loss, or damage to the students or their belongings within the center’s premises or during any offsite activity.</li>
                        <li>Students must take responsibility for their personal safety and belongings while attending classes at the center or any other location.</li>
                    </ul>
                    <h3>Change in Policies:</h3>
                    <ul>
                        <li>The center may revise its policies, rules and regulations, course structure, fees, timings, or any other aspect of the coaching center from time to time without prior notice to the students.</li>
                        <li>The revised policies will be applicable to all existing and new students.</li>
                    </ul>
                    <h3>Dispute Resolution:</h3>
                    <ul>
                        <li>Any dispute arising out of or related to these terms and conditions shall be resolved amicably through mutual discussion and agreement between the coaching center and the student.</li>
                    </ul>
                    <h3>Termination of Admission:</h3>
                    <ul>
                        <li>The center reserves the right to terminate the admission of any student at any time, without assigning any reason.</li>
                        <li>In such cases, the center may refund a portion of the fees that completely depends on centers decision and on the duration of the course completed by the student and the center’s policy.</li>
                    </ul>
                    <h3>Placement Guarantee:</h3>
                    <ul>
                        <li>The center does not provide any placement guarantee to the students but may assist them in finding suitable job opportunities through guidance, counseling, and if any recommendations.</li>
                    </ul>
                    <h3>Using ID card:</h3>
                    <ul>
                        <li>Each student will be issued an identification card (ID card) by the coaching center, and it must be carried by the student at all times while attending classes or any other activities conducted by the center.</li>
                    </ul>
                    <h3>Copying Institute Content:</h3>
                    <ul>
                        <li>Copying or distributing any of the coaching center’s course material, including lectures, notes, presentations, or any other content, is strictly prohibited. Any violation of this rule may lead to immediate expulsion from the center and legal action may be taken against the student.</li>
                    </ul>
                    <h3>Absconding:</h3>
                    <ul>
                        <li>Absconding, or leaving the coaching center without informing the center authorities, is not permitted. In case a student wishes to discontinue the course, they must inform the center in writing and complete all formalities as required.</li>
                    </ul>
                    <h3>Attendance and Absence:</h3>
                    <ul>
                        <li>Regular attendance is important for the successful completion of the course.</li>
                        <li>Students must inform the center in advance if they are unable to attend a class due to valid reasons such as illness or emergencies.</li>
                        <li>If a student is absent for 3 consecutive days without intimation, their admission may be terminated without refund.</li>
                    </ul>
                    <h3>Teaching Staff:</h3>
                    <ul>
                        <li>While the center will endeavor to provide training with a specific teaching staff, there is no commitment to do so.</li>
                        <li>The center reserves the right to assign trainers on the basis of availability, and students cannot demand a specific trainer.</li>
                    </ul>
                    <h3>Course Fees:</h3>
                    <ul>
                        <li>The course fees may vary from student to student, based on their merit and other relevant factors as determined by the center.</li>
                        <li>The center reserves the right to change the course fees at any time without prior notice.</li>
                    </ul>
                    <h3>Course Curriculum:</h3>
                    <ul>
                        <li>The center reserves the right to update the course curriculum as per its requirements, without any prior notice to the students.</li>
                        <li>Students are expected to keep themselves updated with any changes in the course curriculum.</li>
                    </ul>
                    <h3>Course Duration:</h3>
                    <ul>
                        <li>The course duration may vary from batch to batch, depending on factors such as students’ attendance, training methodology, and other relevant factors as determined by the center.</li>
                        <li>The center reserves the right to change the course duration at any time without prior notice.</li>
                    </ul>
                    <h3>Paid Internship Support:</h3>
                    <ul>
                        <li>The coaching center may assist students in finding suitable paid internships based on their skills and interests.</li>
                        <li>The coaching center will not guarantee any specific internship or job placement.</li>
                        <li>The coaching center may charge a separate fee for providing internship support services.</li>
                        <li>The coaching center will not be liable for any issues or disputes that arise between the student and the internship provider</li>
                    </ul>
                    <h3>Project Assignment:</h3>
                    <ul>
                        <li>The coaching center will provide practice projects to the students for their learning and skill development.</li>
                        <li>The projects assigned may be either live or previous completed projects, depending on availability and suitability.</li>
                        <li>Students must complete the project within the given time frame and submit it to the center for evaluation.</li>
                    </ul>
                    <h3>Intellectual Property:</h3>
                    <ul>
                        <li>All intellectual property created by students during the live project or internship will belong to the student.</li>
                        <li>The coaching center may use such intellectual property for promotional or educational purposes with the student’s consent.</li>
                        <li>The coaching center will not claim any ownership rights over the student’s intellectual property.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>