<div class="container">
  <!-- <span class="sub-title">Learn At Your Own Pace</span> -->

  <!-- <p>Explore all of our courses and pick your suitable ones to enroll and start learning with us! We ensure that you will never regret it!</p> -->

  <div class="row justify-content-center">
    <h2 class="text-center hheading">Upcoming Workshops</h2>
    <br />

    <!-- <div class="col-lg-4 col-md-6">
      <div class="single-courses-box" routerLink="/workshop/medical-coding">
        <div class="courses-image">
          <a routerLink="/workshop/medical-coding" class="d-block image">
            <img
              src="../../../../assets/img/webinars/Medical-webinar.jpg"
              alt="medical-coding"
            />
          </a>
          <a routerLink="/courses/" class="fav"
            ><i class="flaticon-heart"></i
          ></a>
        </div>
        <div class="courses-content">
          <div class="course-author d-flex align-items-center">
            <img
              src="assets/img/user4.jpg"
              class="rounded-circle"
              alt="image"
            />
            <span>Miss Sebina</span>
          </div>
          <h3>
            <a routerLink="/workshop/aws-plus-devops"
              >Free Workshop on Medical Coding</a
            >
          </h3>
          <div style="margin-bottom: 20px">
            <span
              ><i class="fas fa-calendar"></i>&nbsp;<b>Date: </b>
              04/05/2024</span
            >&nbsp;
            <span
              ><i class="flaticon-time"></i>&nbsp;<b>Time: </b> 11:00 AM</span
            >
          </div>
          <div class="text-center">
            <span class="scdownloadSyllabus">Register Now</span>
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-lg-4 col-md-6">
      <div class="single-courses-box" routerLink="/workshop/data-science">
        <div class="courses-image">
          <a routerLink="/workshop/data-science" class="d-block image">
            <img src="../../../../assets/img/webinars/ds.jpg" alt="image" />
          </a>
          <a routerLink="/courses/" class="fav"
            ><i class="flaticon-heart"></i
          ></a>
        </div>
        <div class="courses-content">
          <div class="course-author d-flex align-items-center">
            <!-- <img
              src="assets/img/user4.jpg"
              class="rounded-circle"
              alt="image"
            /> -->
            <span>Mr. Lohith Kumar</span>
          </div>
          <h3>
            <a routerLink="/workshop/data-science"
              >Free Workshop on Data Science</a
            >
          </h3>
          <div style="margin-bottom: 20px">
            <span
              ><i class="fas fa-calendar"></i>&nbsp;<b>Date: </b>
              04/05/2024</span
            >&nbsp;
            <span
              ><i class="flaticon-time"></i>&nbsp;<b>Time: </b> 03:00 PM</span
            >
          </div>
          <div class="text-center">
            <span class="scdownloadSyllabus">Register Now</span>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-lg-4 col-md-6">
      <div class="single-courses-box" routerLink="/workshop/digital-marketing">
        <div class="courses-image">
          <a routerLink="/workshop/digital-marketing" class="d-block image">
            <img
              src="../../../../assets/img/webinars/digital-marketing-course-webinar.png"
              alt="image"
            />
          </a>
          <a routerLink="/courses/" class="fav"
            ><i class="flaticon-heart"></i
          ></a>
        </div>
        <div class="courses-content">
          <div class="course-author d-flex align-items-center">
            <img
              src="assets/img/user4.jpg"
              class="rounded-circle"
              alt="image"
            />
            <span>Madeswaran Mahalingam</span>
          </div>
          <h3>
            <a routerLink="/workshop/digital-marketing"
              >Free Workshop on Digital Marketing</a
            >
          </h3>
          <div style="margin-bottom: 20px">
            <span
              ><i class="fas fa-calendar"></i>&nbsp;<b>Date: </b>
              09/02/2024</span
            >&nbsp;
            <span
              ><i class="flaticon-time"></i>&nbsp;<b>Time: </b> 03:00 PM</span
            >
          </div>
          <div class="text-center">
            <span class="scdownloadSyllabus">Register Now</span>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-lg-4 col-md-6">
            <div class="single-courses-box" routerLink="/workshop/full-stack">
                <div class="courses-image">
                    <a routerLink="/workshop/full-stack" class="d-block image">
                        <img src="../../../../assets/img/webinars/full-stack-webinar.png" alt="image">
                    </a>
                </div>
                <div class="courses-content">
                    <div class="course-author d-flex align-items-center">
                        <img src="assets/img/user4.jpg" class="rounded-circle" alt="image">
                    
                    </div>
                    <h3><a routerLink="/workshop/full-stack">Free Workshop on Full Stack</a></h3>
                    <h3></h3>
                    
                    <div style="margin-bottom: 20px;">
                        <span><i class="fas fa-calendar"></i>&nbsp;<b>Date: </b> 20/01/2024</span>&nbsp;
                        <span><i class='flaticon-time'></i>&nbsp;<b>Time: </b> 03:00 PM</span>
                    </div>
                    <div class="text-center">
                        <span class="scdownloadSyllabus">Register Now</span>
                    </div>
                </div>
            </div>
        </div> -->

    <!-- <div class="col-lg-12 col-md-12">
        <div class="courses-info">
            <a routerLink="/course" class="text-center callbtn" style="margin-bottom: 5px;"><i class="fa fa-book"></i>&nbsp; View All Courses</a><br><br>
        </div>
    </div> -->
    <!-- <a routerLink="/enquiry-form" class="text-center callbtn" style="margin-bottom: 5px;"><i class="fas fa-calendar"></i>&nbsp; Upcoming Batches</a> -->
  </div>
</div>
