<div class="row align-items-center header">
    <h2 class="text-center mb-3 header-styling" style="color: #334155">
      Recognized by
    </h2>
  
    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
      <div class="single-partner-item">
        <img src="assets/img/partner/nsc.png" alt="image" />
      </div>
    </div>
    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
      <div class="single-partner-item">
        <img src="assets/img/partner/si.png" alt="image" />
      </div>
    </div>
    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
      <div class="single-partner-item">
        <img src="assets/img/partner/nasscom.png" alt="image" />
      </div>
    </div>
    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
      <div class="single-partner-item">
        <img src="assets/img/partner/ic.png" alt="image" />
      </div>
    </div>
    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
      <div class="single-partner-item">
        <img src="assets/img/partner/sa.png" alt="image" />
      </div>
    </div>
    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
      <div class="single-partner-item">
        <img src="assets/img/partner/dg.png" alt="image" />
      </div>
    </div>
  </div>
  