<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <!-- <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Courses Grid 01</li>
            </ul> -->
            <h2>Courses</h2>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>

<div class="courses-area ptb-100">
    <div class="container">
        <div class="odemy-grid-sorting row align-items-center">
            <div class="col-lg-6 col-md-6 result-count">
                <p>We found <span class="count">40</span> courses available for you</p>
            </div>
            <div class="col-lg-6 col-md-6 ordering">
                <div class="select-box">
                    <label>Sort By:</label>
                    <select>
                        <option>Default</option>
                        <option>Popularity</option>
                        <option>Latest</option>
                        <option>Price: low to high</option>
                        <option>Price: high to low</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/full-stack-python/">
                    <div class="courses-image">
                        <a routerLink="/courses/full-stack-python/" class="d-block image">
                            <img src="assets/img/allcourses/fullstackpython.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$39</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user6.jpg" class="rounded-circle" alt="image"> -->
                            <span>Alex Morgan</span>
                        </div>
                        <h3><a routerLink="/courses/full-stack-python/">Full Stack python</a></h3>
                        <p>Three steps make up full-stack development, write code that will decide the website’s design Write code to get user input</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 15 Lessons</li>
                            <li><i class='flaticon-people'></i> 145 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/bim-course/">
                    <div class="courses-image">
                        <a routerLink="/courses/bim-course/" class="d-block image">
                            <img src="assets/img/allcourses/bim.webp" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/bim-course/">BIM</a></h3>
                        <p>The architectural, engineering, and construction (AEC) sector is experiencing a digital transition, and BIM Course is its keystone. Autodesk,Industry pioneer</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/aws/">
                    <div class="courses-image">
                        <a routerLink="/courses/aws/" class="d-block image">
                            <img src="assets/img/allcourses/AWS.jpg" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/aws/">AWS</a></h3>
                        <p>In AWS you will learn how to develop and deploy highly scalable and fault-tolerant apps, implement AWS security and testing,</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/power-bi/">
                    <div class="courses-image">
                        <a routerLink="/courses/power-bi/" class="d-block image">
                            <img src="assets/img/allcourses/Power-Bi.jpg" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/power-bi/">Power BI</a></h3>
                        <p>Students will learn Power BI to create compelling reports and visualizations, derive real-time insights, and deploy them on demand. You</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/ms-office/">
                    <div class="courses-image">
                        <a routerLink="/courses/ms-office/" class="d-block image">
                            <img src="assets/img/allcourses/msoffice.png" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$49</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user5.jpg" class="rounded-circle" alt="image"> -->
                            <span>Sarah Taylor</span>
                        </div>
                        <h3><a routerLink="/courses/ms-office/">MS Office</a></h3>
                        <p>Microsoft Word is used in Writing books, letters resume, applications, and other types of documents. The data specification is presented</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 100 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/revit-mep/">
                    <div class="courses-image">
                        <a routerLink="/courses/revit-mep/" class="d-block image">
                            <img src="assets/img/allcourses/revit-mep.jpg" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/revit-mep/">Revit MEP</a></h3>
                        <p>Revit MEP (Mechanical, Electrical, and Plumbing) is a Building Information Modeling (BIM) software that allows engineers and designers to create</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/autocad/">
                    <div class="courses-image">
                        <a routerLink="/courses/autocad/" class="d-block image">
                            <img src="assets/img/allcourses/AutoCAD.jpg" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/autocad/">AutoCAD</a></h3>
                        <p>Simply speaking, AutoCAD is a “CAD” (computer-aided design) program. Autodesk is a business that primarily creates software and solutions for</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box" routerLink="/courses/revit/">
                    <div class="courses-image">
                        <a routerLink="/courses/revit/" class="d-block image">
                            <img src="assets/img/allcourses/Revit.jpg" alt="image">
                        </a>
                        <!-- <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a> -->
                        <!-- <div class="price shadow">$99</div> -->
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <!-- <img src="assets/img/user4.jpg" class="rounded-circle" alt="image"> -->
                            <span>James Anderson</span>
                        </div>
                        <h3><a routerLink="/courses/revit/">Revit</a></h3>
                        <p>Any professional working in the fields of architecture, engineering, and interior design must have Revit, which is standard software used

                        </p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 44 Lessons</li>
                            <li><i class='flaticon-people'></i> 440 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-12 col-md-12">
                <div class="pagination-area text-center">
                    <a routerLink="/courses-1" class="prev page-numbers"><i class='bx bx-chevrons-left'></i></a>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a routerLink="/courses-1" class="page-numbers">2</a>
                    <a routerLink="/courses-1" class="page-numbers">3</a>
                    <a routerLink="/courses-1" class="page-numbers">4</a>
                    <a routerLink="/courses-1" class="next page-numbers"><i class='bx bx-chevrons-right'></i></a>
                </div>
            </div> -->
        </div>
    </div>
</div>