<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <!-- <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/">Development</a></li>
                <li>Python for Finance: Investment Fundamentals & Data Analytics</li>
            </ul> -->
      <h2>Revit Structure</h2>
      <a class="scdownloadSyllabus" id="open-form">Download Syllabus</a>
      <!-- <div class="rating">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <div class="rating-count">
                    <span>4.0 (1 rating)</span>
                </div>
            </div> -->
    </div>
  </div>
  <div class="shape9"><img src="assets/img/shape8.svg" alt="image" /></div>
</div>

<div class="courses-details-area pb-100">
  <div class="courses-details-image">
    <!-- <img src="assets/img/courses/course-details.jpg" alt="image"> -->
    <img src="../../../../../assets/img/singlecourse-banner.jpg" alt="image" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="courses-details-desc">
          <div class="courses-overview">
            <p>
              Autodesk's Revit Structure is a BIM software solution designed for
              structural engineering companies and engineers. Its feature-rich
              toolset enables efficient design processes in a BIM environment
              and facilitates collaboration with other construction disciplines
              using Autodesk software.
            </p>
            <h3>Course Description</h3>
            <p>
              Revit Building Information Modeling software can streamline
              projects from design concept to fabrication, improving
              installation accuracy and constructability by connecting
              structural design to the detailed model.
            </p>
            <p>
              Revit Structure is a powerful platform for structural engineering,
              providing cutting-edge tools for creating design alternatives,
              building simulations, and publishing. Our training course is based
              on a Revit structural template, allowing you to learn how to
              annotate, detail your model, create and print sheets, import CAD
              files, and much more.
            </p>
            <p>
              The Revit structure training course includes BIM software
              specifically for structural engineering, which enhances structural
              design coordination, minimizes errors, increases overall
              efficiency and profitability, and produces high-quality outcomes.
            </p>
            <p>
              The objective of this training course is to provide an
              introduction to the user interface and basic building components
              of Autodesk Revit, which is a powerful and flexible structural
              modeling tool. The course aims to familiarize you with the tools
              needed to create, modify, analyze, and document a parametric
              model.
            </p>
            <p>
              The training course covers various topics, including navigating
              the user interface, linking architecture, creating levels,
              creating view templates, adding and placing steel columns,
              creating foundations with footings, piers, pilasters, and slabs,
              designing retaining walls, adding beam systems, tagging steel
              framing, creating a slab floor, cantilevering slab edges,
              reinforcing with rebar, adding brace frames, creating stairs and
              ramps, detailing and annotating drawings, inserting AutoCAD
              geometry, creating schedules, adding and attaching trusses, and
              plotting and sharing files.
            </p>
            <p>
              By the end of the course, you will have gained knowledge on how to
              effectively use Autodesk Revit to create, modify, and document a
              structural model with parametric design capabilities.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="courses-details-info">
          <!-- <div class="image">
                        <img src="assets/img/courses/img1.jpg" alt="image">
                        <a href="https://www.youtube.com/watch?v=PWvPbGWVRrU" class="link-btn popup-youtube"></a>
                        <div class="content">
                            <i class="flaticon-play"></i>
                            <span>Course Preview</span>
                        </div>
                    </div> -->
          <app-single-course-sidebar></app-single-course-sidebar>

          <ul class="info">
            <li class="price">
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-tag"></i> Price</span>
                $49
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-teacher"></i> Instructor</span>
                Teksacademy
              </div>
            </li>
            <!-- <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-time"></i> Duration</span>
                                3 hourse
                            </div>
                        </li> -->
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-distance-learning"></i> Lessons</span>
                25
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-web"></i> Enrolled</span>
                255 students
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-lock"></i> Access</span>
                Lifetime
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-lock"></i> Languages</span>
                Tel,Eng,Hin
              </div>
            </li>

            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-indian-rupee"></i> Fee</span>
                10,000
              </div>
            </li>
          </ul>
          <!-- <div class="btn-box">
                        <a routerLink="/single-courses-1" class="default-btn"><i class="flaticon-shopping-cart"></i>Add to Cart<span></span></a>
                        <a routerLink="/single-courses-1" class="default-btn"><i class="flaticon-tag"></i>Buy Now<span></span></a>
                    </div> -->
          <div class="courses-share">
            <div class="share-info">
              <span>Share This Course <i class="flaticon-share"></i></span>
              <ul class="social-link">
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-linkedin"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="courses-area bg-f8f9f8 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>More Courses You Might Like</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="/single-courses-1" class="d-block image">
                            <img src="assets/img/courses/img1.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">$39</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                            <span>Alex Morgan</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">The Data Science Course 2020: Complete Data Science Bootcamp</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 15 Lessons</li>
                            <li><i class='flaticon-people'></i> 145 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="/single-courses-1" class="d-block image">
                            <img src="assets/img/courses/img2.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">$49</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user2.jpg" class="rounded-circle" alt="image">
                            <span>Sarah Taylor</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">Java Programming Masterclass for Software Developers</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 100 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="/single-courses-1" class="d-block image">
                            <img src="assets/img/courses/img3.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">$59</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user3.jpg" class="rounded-circle" alt="image">
                            <span>David Warner</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">Deep Learning A-Z™: Hands-On Artificial Neural Networks</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 150 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<app-popularcourses></app-popularcourses>
<app-dsform></app-dsform>
