<footer class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <a routerLink="/" class="logo"><img src="assets/img/logo/logo.png" alt="logo" /></a>
          <p class="fs_14">
            TEKS Academy serves the best education platform that is crafted
            based on the extensive research made on learning, course curriculum,
            learning outcomes, job search, and placement rates in MNCs.
          </p>
          <ul class="text-white call list-unstyled mt-3">
            <li class="fs_14">
              <i class="bx bx-phone-call"></i>&nbsp;<a href="tel:18001204748" class="">1800-120-4748</a>
            </li>
            <li class="fs_14">
              <i class="bx bx-envelope"></i>&nbsp;<a href="mailto:info@teksacademy.com">support@teksacademy.com</a>
            </li>
          </ul>
          <ul class="social-link">
            <li>
              <a href="https://www.facebook.com/teksacademy" class="d-block" target="_blank"><i
                  class="bx bxl-facebook"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/TeksAcademy" class="d-block" target="_blank"><i
                  class="bx bxl-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/teks_academy/" class="d-block" target="_blank"><i
                  class="bx bxl-instagram"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/teks-academy/" class="d-block" target="_blank"><i
                  class="bx bxl-linkedin"></i></a>
            </li>
            <li>
              <a href="https://www.youtube.com/@teksacademy" class="d-block" target="_blank"><i
                  class="bx bxl-youtube"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget pl-5 mt-3">
          <h3 class="widget-title"><a routerLink="/branch/best-software-training-institute-hiteccity">Hitec City </a>
          </h3>
          <ul class="footer-links-list">
            <li>
              <a href="https://maps.app.goo.gl/PoKvvjjrPkNg5cBm9" target="_blank"><i class="bx bx-map"></i>&nbsp;Plot
                No. 30, 3rd Floor, Cyber Heights, H. No: 1, 99/64/30,
                Rohini Layout Rd, Madhapur, Hyderabad, Telangana 500018<br />7815924622</a>
            </li>
            <!-- <li><i class='bx bx-phone-call'></i>&nbsp;<a href="tel:18001204748">1800-120-4748</a></li>
                        <li><i class='bx bx-envelope'></i>&nbsp;<a href="mailto:info@teksacademy.com">info@teksacademy.com</a></li> -->
          </ul>
        </div>
        <div class="single-footer-widget pl-5">
          <h3 class="widget-title"><a routerLink="/branch/best-software-training-institute-kukatpally"> Kukatpally </a>
          </h3>
          <ul class="footer-links-list">
            <li>
              <a href="https://maps.app.goo.gl/sHVd8eYCc4hNrFKC6" target="_blank"><i
                  class="bx bx-map"></i>&nbsp;2-22-293, Maruti Complex, Plot No 1, near KPHB Metro, Bhagya
                Nagar Colony, Kukatpally, Hyderabad, Telangana 500085<br />8688408352</a>
            </li>
            <!-- <li><i class='bx bx-phone-call'></i>&nbsp;<a href="tel:18001204748">1800-120-4748</a></li>
                        <li><i class='bx bx-envelope'></i>&nbsp;<a href="mailto:info@teksacademy.com">info@teksacademy.com</a></li> -->
          </ul>
        </div>
        <!-- Mehdipatnam -->
        <div class="single-footer-widget mt-5 pl-5">
          <h3 class="widget-title"><a>Mehdipatnam
            </a> </h3>
          <ul class="footer-links-list">
            <li>
              <a href="https://maps.app.goo.gl/ovMxjaiYUxLnGAAU9"  target="_blank"> <i class="bx bx-map"></i>&nbsp;1st
                Floor, Safa Arcade, Asif Nagar, Mehdipatnam, Hyderabad, 500028 <br/>9866047567
              </a>
            </li>
            <!-- <li><i class='bx bx-phone-call'></i>&nbsp;<a href="tel:18001204748">1800-120-4748</a></li>
                          <li><i class='bx bx-envelope'></i>&nbsp;<a href="mailto:info@teksacademy.com">info@teksacademy.com</a></li> -->
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget mt-3">
          <h3 class="widget-title"><a routerLink="/branch/best-software-training-institute-ameerpet"> Ameerpet </a>
          </h3>
          <ul class="footer-links-list">
            <li>
              <a href="https://maps.app.goo.gl/UTVYgJa4upAZJyNu7" target="_blank"><i class="bx bx-map"></i>&nbsp;501,
                5th Floor, Green House Building, next to Passport Office,
                Ameerpet, Hyderabad, Telangana 500016<br />6305459989</a>
            </li>
            <!-- <li><i class='bx bx-phone-call'></i>&nbsp;<a href="tel:18001204748">1800-120-4748</a></li>
                        <li><i class='bx bx-envelope'></i>&nbsp;<a href="mailto:info@teksacademy.com">info@teksacademy.com</a></li> -->
          </ul>
        </div>
        <div class="single-footer-widget mt-5">
          <h3 class="widget-title"><a routerLink="/branch/best-software-training-institute-dilsukhnagar">Dilsukhnagar
            </a> </h3>
          <ul class="footer-links-list">
            <li>
              <a href="https://maps.app.goo.gl/KerKz63MKDNF3dU7A"><i class="bx bx-map"></i>&nbsp;5th Floor, Padmavathi
                Complex, H.No. 16, 11-477/3/2/1, Dilsukh
                Nagar Main Rd, above Poornima Furnitures, opp. Pillar No 1521,
                Hyderabad, Telangana 500060<br />6305481131</a>
            </li>
            <!-- <li><i class='bx bx-phone-call'></i><a href="tel:18001204748">1800-120-4748</a></li>
                        <li><i class='bx bx-envelope'></i><a href="mailto:info@teksacademy.com">info@teksacademy.com</a></li> -->
          </ul>
        </div>
        <!-- Bengaluru -->
        <div class="single-footer-widget mt-5">
          <h3 class="widget-title"><a>Bengaluru </a>
          </h3>
          <ul class="footer-links-list">
            <li>
              <a href="https://maps.app.goo.gl/uV93gxVqxCv2Cd7G6"  target="_blank"> <i class="bx bx-map"></i>&nbsp;Site
                No 20, Krishna Shine, 1st Floor, Above Udipi Vaibhav Hotel,
                Near Marathahalli Ring road Junction,Marathahalli, Bengaluru, 560037, 7075463275 </a>
            </li>
            <!-- <li><i class='bx bx-phone-call'></i>&nbsp;<a href="tel:18001204748">1800-120-4748</a></li>
                <li><i class='bx bx-envelope'></i>&nbsp;<a href="mailto:info@teksacademy.com">info@teksacademy.com</a></li> -->
          </ul>
        </div>

      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget mt-3">
          <h3 class="widget-title"><a routerLink="/branch/best-software-training-institute-secunderabad"> Secunderabad
            </a> </h3>
          <ul class="footer-links-list">
            <li>
              <a href="https://maps.app.goo.gl/PAxHfoahHDeqqUg96" target="_blank"> <i class="bx bx-map"></i>&nbsp;H.no:
                9- 1-127/4, Flat No: 501 & 502 5th Floor, Amsri Faust
                Building, S.D. Road, Secunderabad, Telangana 500025<br />9281466365</a>
            </li>
            <!-- <li><i class='bx bx-phone-call'></i>&nbsp;<a href="tel:18001204748">1800-120-4748</a></li>
                        <li><i class='bx bx-envelope'></i>&nbsp;<a href="mailto:info@teksacademy.com">info@teksacademy.com</a></li> -->
          </ul>
        </div>

        <div class="single-footer-widget mt-5">
          <h3 class="widget-title"><a routerLink="/branch/best-software-training-institute-visakhapatnam">Visakhapatnam
            </a> </h3>
          <ul class="footer-links-list">
            <li>
              <a href="https://maps.app.goo.gl/dkLCJFqNRW5ELtHu6" target="_blank"> <i class="bx bx-map"></i>&nbsp;3rd
                Floor, Pavan Towers, Dwaraka Nagar 1st Lane, Opp Budhil Park,
                Visakhapatnam, Andhra Pradesh 530016<br />9133308352 </a>
            </li>
            <!-- <li><i class='bx bx-phone-call'></i>&nbsp;<a href="tel:18001204748">1800-120-4748</a></li>
                        <li><i class='bx bx-envelope'></i>&nbsp;<a href="mailto:info@teksacademy.com">info@teksacademy.com</a></li> -->
          </ul>
        </div>



      </div>
    </div>
    <div class="footer-bottom-area">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <p class="fs_14">
            <i class="bx bx-copyright"></i> Kapil Knowledge Hub Pvt Ltd. All
            Rights Reserved
          </p>
        </div>
        <div class="col-lg-6 col-md-6">
          <ul>
            <li class="fs_14"><a href="https://teksacademy.co/login">Employee Login</a></li>
            <li class="fs_14"><a routerLink="/privacy-policy">Privacy Policy</a></li>
            <li class="fs_14"><a routerLink="/terms-of-service">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div> -->
</footer>