<footer class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <a routerLink="/" class="logo"
            ><img src="assets/img/logo/logo.png" alt="logo"
          /></a>
          <p>
            TEKS Academy serves the best education platform that is crafted
            based on the extensive research made on learning, course curriculum,
            learning outcomes, job search, and placement rates in MNCs.
          </p>
          <ul class="text-white call list-unstyled">
            <li>
              <i class="bx bx-phone-call"></i>&nbsp;<a href="tel:18001204748"
                >1800-120-4748</a
              >
            </li>
            <li>
              <i class="bx bx-envelope"></i>&nbsp;<a
                href="mailto:info@teksacademy.com"
                >support@teksacademy.com</a
              >
            </li>
          </ul>
          <ul class="social-link">
            <li>
              <a
                href="https://www.facebook.com/teksacademy"
                class="d-block"
                target="_blank"
                ><i class="bx bxl-facebook"></i
              ></a>
            </li>
            <li>
              <a
                href="https://twitter.com/TeksAcademy"
                class="d-block"
                target="_blank"
                ><i class="bx bxl-twitter"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/teks_academy/"
                class="d-block"
                target="_blank"
                ><i class="bx bxl-instagram"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/teks-academy/"
                class="d-block"
                target="_blank"
                ><i class="bx bxl-linkedin"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/@teksacademy"
                class="d-block"
                target="_blank"
                ><i class="bx bxl-youtube"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget pl-5">
          <h3>Hitech City</h3>
          <ul class="footer-links-list">
            <li>
              <i class="bx bx-map"></i>&nbsp;<a
                href="https://maps.app.goo.gl/PoKvvjjrPkNg5cBm9"
                target="_blank"
                >Plot No. 30, 3rd Floor, Cyber Heights, H. No: 1, 99/64/30,
                Rohini Layout Rd, Madhapur</a
              >
            </li>
            <!-- <li><i class='bx bx-phone-call'></i>&nbsp;<a href="tel:18001204748">1800-120-4748</a></li>
                        <li><i class='bx bx-envelope'></i>&nbsp;<a href="mailto:info@teksacademy.com">info@teksacademy.com</a></li> -->
          </ul>
        </div>
        <div class="single-footer-widget pl-5 mt-5 pt-2">
          <h3>Kukatpally</h3>
          <ul class="footer-links-list">
            <li>
              <i class="bx bx-map"></i>&nbsp;<a
                href="https://maps.app.goo.gl/sHVd8eYCc4hNrFKC6"
                target="_blank"
                >2-22-293, Maruti Complex, Plot No 1, near KPHB Metro, Bhagya
                Nagar Colony, Kukatpally, Hyderabad, Telangana 500085</a
              >
            </li>
            <!-- <li><i class='bx bx-phone-call'></i>&nbsp;<a href="tel:18001204748">1800-120-4748</a></li>
                        <li><i class='bx bx-envelope'></i>&nbsp;<a href="mailto:info@teksacademy.com">info@teksacademy.com</a></li> -->
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h3>Ameerpet</h3>
          <ul class="footer-links-list">
            <li>
              <i class="bx bx-map"></i>&nbsp;<a
                href="https://maps.app.goo.gl/UTVYgJa4upAZJyNu7"
                target="_blank"
                >501, 5th Floor, Green House Building, next to Passport Office,
                Ameerpet, Hyderabad, Telangana 500016</a
              >
            </li>
            <!-- <li><i class='bx bx-phone-call'></i>&nbsp;<a href="tel:18001204748">1800-120-4748</a></li>
                        <li><i class='bx bx-envelope'></i>&nbsp;<a href="mailto:info@teksacademy.com">info@teksacademy.com</a></li> -->
          </ul>
        </div>
        <div class="single-footer-widget mt-5 pt-2">
          <h3>Dilsukhnagar</h3>
          <ul class="footer-contact-info">
            <li>
              <i class="bx bx-map"></i>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="https://maps.app.goo.gl/KerKz63MKDNF3dU7A"
                >5th Floor, Padmavathi Complex, H.No. 16, 11-477/3/2/1, Dilsukh
                Nagar Main Rd, above Poornima Furnitures, opp. Pillar No 1521,
                Hyderabad, Telangana 500060</a
              >
            </li>
            <!-- <li><i class='bx bx-phone-call'></i><a href="tel:18001204748">1800-120-4748</a></li>
                        <li><i class='bx bx-envelope'></i><a href="mailto:info@teksacademy.com">info@teksacademy.com</a></li> -->
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h3>Secunderabad</h3>
          <ul class="footer-links-list">
            <li>
              <i class="bx bx-map"></i>&nbsp;<a
                href="https://maps.app.goo.gl/PAxHfoahHDeqqUg96"
                target="_blank"
                >H.no: 9- 1-127/4, Flat No: 501 & 502 5th Floor, Amsri Faust
                Building, S.D. Road, Secunderabad, Telangana 500025</a
              >
            </li>
            <!-- <li><i class='bx bx-phone-call'></i>&nbsp;<a href="tel:18001204748">1800-120-4748</a></li>
                        <li><i class='bx bx-envelope'></i>&nbsp;<a href="mailto:info@teksacademy.com">info@teksacademy.com</a></li> -->
          </ul>
        </div>
     
        <div class="single-footer-widget">
          <h3>Visakhapatnam</h3>
          <ul class="footer-links-list">
            <li>
              <i class="bx bx-map"></i>&nbsp;<a
                href="https://www.google.com/maps/place/Teks+Academy/@17.7258656,83.3064877,17z/data=!3m1!4b1!4m6!3m5!1s0x3a39434319a46cbf:0x3eed7aaf1e0e182b!8m2!3d17.7258656!4d83.3064877!16s%2Fg%2F11lnnnxk6n?entry=ttu&g_ep=EgoyMDI0MDgyOC4wIKXMDSoASAFQAw%3D%3D"
                target="_blank"
                >3rd Floor, Pavan Towers, Dwaraka Nagar 1st Lane, Opp Budhil Park, Visakhapatnam, Andhra Pradesh 530016</a
              >
            </li>
            <!-- <li><i class='bx bx-phone-call'></i>&nbsp;<a href="tel:18001204748">1800-120-4748</a></li>
                        <li><i class='bx bx-envelope'></i>&nbsp;<a href="mailto:info@teksacademy.com">info@teksacademy.com</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom-area">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <p>
            <i class="bx bx-copyright"></i> Kapil Knowledge Hub Pvt Ltd. All
            Rights Reserved
          </p>
        </div>
        <div class="col-lg-6 col-md-6">
          <ul>
            <li><a href="https://teksacademy.co/login">Employee Login</a></li>
            <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
            <li><a routerLink="/terms-of-service">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</footer>
