<p>secunderabad works!</p>
<div class="mt-4">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card text-center">
                <div class="course_box">
                    <img src="../../../../../assets/img/branch_images/data_science.png" class="img-fluid"
                        width="25%" height="25%" />
                    <p class="course_name">Data Science</p>
                    <p class="course_description">
                        Designed to equip you with essential skills in data analysis,
                        machine learning, and statistical modeling, this course offers
                        hands-on experience with real-world datasets.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card text-center">
                <div class="course_box">
                    <img src="../../../../../assets/img/branch_images/digital_marketing.png"
                        class="img-fluid" width="25%" height="25%" />
                    <p class="course_name">Digital Marketing</p>
                    <p class="course_description">
                        This comprehensive program covers SEO, social media, content
                        marketing, email campaigns, and more
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card text-center">
                <div class="course_box">
                    <img src="../../../../../assets/img/branch_images/aws.png" class="img-fluid" width="25%"
                        height="25%" alt="java" />
                    <p class="course_name">AWS DevOps</p>
                    <p class="course_description">
                        This program equips you with the skills to deploy, manage, and
                        scale applications on the AWS platform. Opportunity of
                        experiential Learn from industry experts and CI/CD pipelines
                        and infrastructure.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="course_box">
                        <img src="../../../../../assets/img/branch_images/java.png" class="img-fluid"
                            width="25%" height="25%" />
                        <p class="course_name">Full Stack Java</p>
                        <p class="course_description">
                            This intensive program covers both front-end and back-end
                            development, equipping you with skills in Java, Spring,
                            Hibernate, Angular, React, and more
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="course_box">
                        <img src="../../../../../assets/img/branch_images/sap.png" class="img-fluid"
                            width="25%" height="25%" alt="sap" />
                        <p class="course_name">SAP MM</p>
                        <p class="course_description">
                            Career enhancing program is designed to provide you with
                            in-depth knowledge of SAP modules, including FICO, MM, SD,
                            and HC
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="course_box">
                        <img src="../../../../../assets/img/branch_images/python.png" class="img-fluid"
                            width="25%" height="25%" alt="sap" />
                        <p class="course_name">Full stack Python</p>
                        <p class="course_description"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="course_box">
                        <img src="../../../../../assets/img/branch_images/medical.png" class="img-fluid"
                            width="25%" height="25%" />
                        <p class="course_name">Medical Coding</p>
                        <p class="course_description"></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="course_box">
                        <img src="../../../../../assets/img/branch_images/testing.png" class="img-fluid"
                            width="25%" height="25%" />
                        <p class="course_name">Testing tools</p>
                        <p class="course_description"></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="course_box">
                        <img src="../../../../../assets/img/branch_images/sap.png" class="img-fluid"
                            width="25%" height="25%" alt="sap" />
                        <p class="course_name">Data Analytics</p>
                        <p class="course_description">
                            It covers data visualization, statistical analysis, and data
                            mining techniques using industry-leading tools and software
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="course_box">
                        <img src="../../../../../assets/img/branch_images/salesforce.png" class="img-fluid"
                            width="25%" height="25%" />
                        <p class="course_name">Salesforce</p>
                        <p class="course_description">

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="course_box">
                        <img src="../../../../../assets/img/branch_images/sap.png" class="img-fluid"
                            width="25%" height="25%" alt="sap" />
                        <p class="course_name">SAP FICO</p>
                        <p class="course_description">

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>