.heading_space {
    padding: 7% 0% 10% 0%;
}

.main_heading {
    font-weight: bold;
    padding-top: 5% !important;
    font-size: 48px;
    line-height: 60px;
    color: #2a619d;
}

.banner_img {
    background-image: url(../../../../../assets/img/branch_images/New_Banners_secunderabad.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

section:nth-child(2n-1) {
    background: gray;
}

.paragraph_text {
    font-size: 16px;
}

.learn_more {
    display: flex;
    align-items: center;
    color: #eb6329;
    font-weight: bold;
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
}

.arrow {
    display: inline-block;
    animation: moveArrow 3s infinite;
    color: #eb6329;
}

@keyframes moveArrow {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.course_box {
    background-color: #fafafa;
    border: 2px solid #fafafa;
    border-radius: 4px;
    padding: 2rem 2rem 0rem 2rem;
    height: 22rem;
}

.course_box:hover {
    background-color: #fafafa;
    border: 2px solid #ffebe2;
    // border:2px solid #eb6329;
    border-radius: 4px;
    padding: 2rem 2rem 0rem 2rem;
    height: 22rem;
}

.card {
    background-color: transparent;
    border: none;
}

.course_name {
    font-size: 22px;
    line-height: 1.5;
    font-weight: bold;
    color: #000;
}

.course_description {
    font-size: 16px;
    line-height: 1.5;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 400;
}

.testimonials_text {
    padding: 2rem;
    color: #000;
    font-weight: 500;
    text-align: center;
    border-radius: 4px;
    // border: 1px solid gray;
}

.testimonials_bg {
    background-color: #ffebe2;
}

.carousel_slider {
    height: 20rem;
}

.btn_color {
    background-color: #2a619d !important;
    border: 1px solid #2a619d !important;
    cursor: pointer !important;
    color: #fff !important;
}

.cursor_pointer_branch {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #eb6329;
    position: absolute;
    left: 40%;
    bottom: 5%;
}

.read_more i {
    font-size: 12px;
}



@media screen and (max-width: 480px) {

    .heading_space {
        margin-top: 0% !important;
    }

    .main_heading {
        font-weight: bold;
        /* margin-top: 5%; */
        font-size: 32px;
        line-height: 40px;
        color: #2a619d;
    }
    .mobile_bg_color{
        background-color: #cde6fa;
        padding: 2%;
    }
    .carousel_slider {
        height: 23rem;
    }
}


.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: end !important;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}
 .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: start !important;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}