<div class="container mb-4">
  <div class="section-title">
    <!-- <span class="sub-title"></span> -->
    <h2 style="color: #334155" class="header-styling">Why Teks?​</h2>
    <!-- <p>Finding your own space and utilize better learning options can result in faster than the traditional ways. Enjoy the beauty of eLearning!</p> -->
  </div>
  <div class="row row-eq-height">
    <div class="col-lg-3 col-sm-6 col-md-6 mb-4">
      <div class="single-features-box h-100 d-flex flex-column">
        <h3 class="custom-h3">01</h3>
        <div class="icon">
          <!-- <i class="flaticon-world"></i> -->
          <img
            src="assets/img/whyteks/img4.png"
            alt=""
            width="99px"
            height="85px"
          />
        </div>

        <h3 style="color: white">Well Planned Curriculum</h3>
        <p style="color: white">
          Curriculum is created on the latest industry trends and on learning
          objectives that keeps you updated.
        </p>
        <a routerLink="/course" class="link-btn mt-auto" style="color: #fff"
          >Start Now!</a
        >
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-md-6 mb-4">
      <div class="single-features-box h-100 d-flex flex-column custom-bg">
        <h3 class="custom-h3">02</h3>
        <div class="icon">
          <!-- <i class="flaticon-brain-process"></i> -->
          <img
            src="assets/img/whyteks/img1.png"
            alt=""
            width="99px"
            height="85px"
          />
        </div>

        <h3>Learn from Industry Experts</h3>
        <p>
          Learn from top-level industry experts to gain more knowledge and
          better job opportunities.
        </p>
        <a routerLink="/course" class="link-btn mt-auto">Start Now!</a>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-md-6 mb-4">
      <div class="single-features-box h-100 d-flex flex-column">
        <h3 class="custom-h3">03</h3>
        <div class="icon">
          <!-- <i class="flaticon-shield-1"></i> -->
          <img
            src="assets/img/whyteks/img3.png"
            alt=""
            width="99px"
            height="85px"
          />
        </div>

        <h3 style="color: white">Assessments</h3>
        <p style="color: white">
          Students are evaluated to understand their progress through test and
          assignments.
        </p>
        <a routerLink="/course" class="link-btn mt-auto" style="color: #fff"
          >Start Now!</a
        >
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-md-6 mb-4">
      <div class="single-features-box h-100 d-flex flex-column custom-bg">
        <h3 class="custom-h3">04</h3>
        <div class="icon">
          <!-- <i class="flaticon-brain-process"></i> -->
          <img
            src="assets/img/whyteks/img8.png"
            alt=""
            width="99px"
            height="85px"
          />
        </div>

        <h3>Interview Prepration</h3>
        <p>
          We provide communication & job ready skills includes CRT to our
          students to express their skills clearly and professionally, which
          helps them get job quickly.
        </p>
        <a routerLink="/course" class="link-btn mt-auto">Start Now!</a>
      </div>
    </div>
  </div>

  <div class="row row-eq-height">
    <div class="col-lg-3 col-sm-6 col-md-6 mb-4">
      <div class="single-features-box h-100 d-flex flex-column custom-bg">
        <h3 class="custom-h3">05</h3>
        <div class="icon">
          <!-- <i class="flaticon-shield-1"></i> -->
          <img
            src="assets/img/whyteks/img6.png"
            alt=""
            width="99px"
            height="85px"
          />
        </div>

        <h3>Real Time IT Industry exposure</h3>
        <p>
          Real time industry experience is provided to our students to
          understand & experience real work environment.
        </p>
        <a routerLink="/course" class="link-btn mt-auto">Start Now!</a>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-md-6 mb-4">
      <div class="single-features-box h-100 d-flex flex-column">
        <div class="icon">
          <h3 class="custom-h3">06</h3>
          <!-- <i class="flaticon-computer"></i> -->
          <img
            src="assets/img/whyteks/img5.png"
            alt=""
            width="99px"
            height="85px"
          />
        </div>

        <h3 style="color: white">Internship Programs</h3>
        <p style="color: white">
          Get Internship opportunities, we provide you with industry experience
          through our internship program
        </p>
        <a routerLink="/course" class="link-btn mt-auto" style="color: #fff"
          >Start Now!</a
        >
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-md-6 mb-4">
      <div class="single-features-box h-100 d-flex flex-column custom-bg">
        <div class="icon">
          <h3 class="custom-h3">07</h3>
          <!-- <i class="flaticon-world"></i> -->
          <img
            src="assets/img/whyteks/img7.png"
            alt=""
            width="99px"
            height="85px"
          />
        </div>

        <h3>Valid International certification</h3>
        <p>
          Get International valid certification which adds value to your CV and
          helps to get the right job.
        </p>
        <a routerLink="/course" class="link-btn mt-auto">Start Now!</a>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-md-6 mb-4">
      <div class="single-features-box h-100 d-flex flex-column">
        <div class="icon">
          <h3 class="custom-h3">08</h3>
          <!-- <i class="flaticon-computer"></i> -->
          <img
            src="assets/img/whyteks/img2.png"
            alt=""
            width="99px"
            height="85px"
          />
        </div>

        <h3 style="color: white">Placement Assistance</h3>
        <p style="color: white">
          Get placed at reputed organizations, we help you develop all the
          skills that every industry expects from a candidate.
        </p>
        <a routerLink="/course" class="link-btn mt-auto" style="color: #fff"
          >Start Now!</a
        >
      </div>

      <!-- <div class="col-lg-12 text-center">
            <a routerLink="/enquiry-form" class="callbtn"><i class="fa fa-phone"></i>&nbsp; Request Callback</a>
        </div> -->
    </div>
  </div>
</div>
