<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <!-- <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/">Development</a></li>
                <li>Python for Finance: Investment Fundamentals & Data Analytics</li>
            </ul> -->
      <h2>AutoCAD</h2>
      <a class="scdownloadSyllabus" id="open-form">Download Syllabus</a>
      <!-- <div class="rating">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <div class="rating-count">
                    <span>4.0 (1 rating)</span>
                </div>
            </div> -->
    </div>
  </div>
  <div class="shape9"><img src="assets/img/shape8.svg" alt="image" /></div>
</div>

<div class="courses-details-area pb-100">
  <div class="courses-details-image">
    <!-- <img src="assets/img/courses/course-details.jpg" alt="image"> -->
    <img src="../../../../../assets/img/singlecourse-banner.jpg" alt="image" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="courses-details-desc">
          <div class="courses-overview">
            <p>
              Simply speaking, AutoCAD is a “CAD” (computer-aided design)
              program. Autodesk is a business that primarily creates software
              and solutions for sectors including engineering, manufacturing,
              construction, product design, and more. Design professionals can
              swiftly develop and edit digital images and designs in both 2D and
              3D with AutoCAD. AutoCAD simplifies the process of manipulating
              designs instead of requiring users to edit photos by hand.
            </p>
            <h3>Course Description</h3>
            <p>
              AutoCAD lets designers create geometric models on-screen, offering
              endless variations for creating different types of objects and
              structures. This flexibility is what led AutoCAD to become an
              industry leader since it could be adapted for use in almost any
              industry or application. The expert trainer in this Learning
              AutoCAD training course will teach you everything. You need to
              know to be able to create 2D drawings and 3D models using the
              latest version of AutoCAD. This course is open to absolute
              beginners as no previous experience with AutoCAD is required.
            </p>
            <p>
              The course will teach you about drawing and drafting tools and
              complete 3D modeling Tools. Once you have completed this
              computer-based training course, you will have learned everything
              you need to know to create your 2D drawings and 3D models in
              AutoCAD. You will begin by becoming familiar with AutoCAD’s
              fundamental functions. You will learn about complete 3D modeling
              tools as well as sketching and drafting tools in this course.
            </p>
            <p>
              The chapter “Working with Arrays and Reusable Objects” covers
              making patterns with arrays and symbols using blocks and
              attributes. You will gain knowledge of managing drawings with
              layers and properties that involves investigating the use of
              layers. Organize items in your drawings and the alteration of
              attributes like color, line type, and line weight.
            </p>
            <p>
              After finishing this computer-based training course, you will be
              fully equipped to use AutoCAD to produce your 2D drawings and 3D
              models. You will learn about AutoCAD Introduction, units, and user
              interfaces throughout the course. The fundamental AutoCAD
              navigational tools will be taught to you.
            </p>
            <h3>Certification:</h3>
            <p>
              Obtaining a certification in the AutoCAD program can help you
              demonstrate your skills. Advance your career will increase your
              productivity, and gain a competitive advantage over non-certified
              professionals.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="courses-details-info">
          <!-- <div class="image">
                        <img src="assets/img/courses/img1.jpg" alt="image">
                        <a href="https://www.youtube.com/watch?v=PWvPbGWVRrU" class="link-btn popup-youtube"></a>
                        <div class="content">
                            <i class="flaticon-play"></i>
                            <span>Course Preview</span>
                        </div>
                    </div> -->
          <app-single-course-sidebar></app-single-course-sidebar>

          <ul class="info">
            <li class="price">
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-tag"></i> Price</span>
                $49
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-teacher"></i> Instructor</span>
                Teksacademy
              </div>
            </li>
            <!-- <li>
                            <div class="d-flex justify-content-between align-items-center">
                                <span><i class="flaticon-time"></i> Duration</span>
                                3 hourse
                            </div>
                        </li> -->
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-distance-learning"></i> Lessons</span>
                25
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-web"></i> Enrolled</span>
                255 students
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-lock"></i> Access</span>
                Lifetime
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-lock"></i> Languages</span>
                Tel,Eng,Hin
              </div>
            </li>

            <li>
              <div class="d-flex justify-content-between align-items-center">
                <span><i class="flaticon-lock"></i> Fee</span>
                12,000
              </div>
            </li>
          </ul>
          <!-- <div class="btn-box">
                        <a routerLink="/single-courses-1" class="default-btn"><i class="flaticon-shopping-cart"></i>Add to Cart<span></span></a>
                        <a routerLink="/single-courses-1" class="default-btn"><i class="flaticon-tag"></i>Buy Now<span></span></a>
                    </div> -->
          <div class="courses-share">
            <div class="share-info">
              <span>Share This Course <i class="flaticon-share"></i></span>
              <ul class="social-link">
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="d-block" target="_blank"
                    ><i class="bx bxl-linkedin"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="courses-area bg-f8f9f8 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>More Courses You Might Like</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="/single-courses-1" class="d-block image">
                            <img src="assets/img/courses/img1.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">$39</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user1.jpg" class="rounded-circle" alt="image">
                            <span>Alex Morgan</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">The Data Science Course 2020: Complete Data Science Bootcamp</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 15 Lessons</li>
                            <li><i class='flaticon-people'></i> 145 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="/single-courses-1" class="d-block image">
                            <img src="assets/img/courses/img2.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">$49</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user2.jpg" class="rounded-circle" alt="image">
                            <span>Sarah Taylor</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">Java Programming Masterclass for Software Developers</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 100 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-courses-box">
                    <div class="courses-image">
                        <a routerLink="/single-courses-1" class="d-block image">
                            <img src="assets/img/courses/img3.jpg" alt="image">
                        </a>
                        <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                        <div class="price shadow">$59</div>
                    </div>
                    <div class="courses-content">
                        <div class="course-author d-flex align-items-center">
                            <img src="assets/img/user3.jpg" class="rounded-circle" alt="image">
                            <span>David Warner</span>
                        </div>
                        <h3><a routerLink="/single-courses-1">Deep Learning A-Z™: Hands-On Artificial Neural Networks</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                            <li><i class='flaticon-people'></i> 150 Students</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<app-popularcourses></app-popularcourses>

<app-dsform></app-dsform>
