<div class="container-fluid p-0">
    <div class="banner_img">
        <div class="container">
            <div class="heading_space d-none d-sm-block">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <p class="main_heading">
                            Best Software Training Institute In Hitech City
                        </p>
                        <p class="learn_more paragraph_text" routerLink="/course">
                            Learn IT Courses<span class="mt-1 ms-2 arrow">
                                <i class="fa-solid fa-arrow-right"></i>
                            </span>
                        </p>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <p class="paragraph_text">
                            Hitech City - “The Cyber Hub of Hyderabad, Telangana” - is now home to Teks Academy, the
                            best software training institute in Hitech City. Hitech City, known for its advanced
                            infrastructure and bustling IT industry, has earned its reputation as Information Technology
                            Hub. The location is of great interest due to its easy access to major IT companies and
                            business parks. With the IT expansion, Hitech City has become a magnet for tech enthusiasts
                            and professionals looking for advanced technical Courses and cutting-edge skills required in
                            the modern IT Industry. Teks Academy's presence in Hitech City ensures that students have
                            access to top-notch training and can stay ahead in the competitive tech world.
                        </p>
                        <div class="my-2">
                            <button routerLink="/enquiry-form" class="btn btn-primary btn_color fw-bold">
                                Enquiry Now <i class="fa fa-angle-double-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="heading_space mobile_bg_color d-block d-sm-none">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p class="main_heading">
                        Best Software Training Institute In Hitech City
                    </p>
                    <p class="learn_more paragraph_text" routerLink="/course">
                        Learn IT Courses<span class="mt-1 ms-2 arrow">
                            <i class="fa-solid fa-arrow-right"></i>
                        </span>
                    </p>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <p class="paragraph_text">
                        Hitech City - “The Cyber Hub of Hyderabad, Telangana” - is now home to Teks Academy, the best
                        software training institute in Hitech City. Hitech City, known for its advanced infrastructure
                        and bustling IT industry, has earned its reputation as Information Technology Hub. The location
                        is of great interest due to its easy access to major IT companies and business parks. With the
                        IT expansion, Hitech City has become a magnet for tech enthusiasts and professionals looking for
                        advanced technical Courses and cutting-edge skills required in the modern IT Industry. Teks
                        Academy's presence in Hitech City ensures that students have access to top-notch training and
                        can stay ahead in the competitive tech world.
                    </p>
                    <button routerLink="/enquiry-form" class="btn btn-primary btn_color fw-bold">
                        Enquiry Now <i class="fa fa-angle-double-right"></i>
                    </button>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-12">
                    <img src="../../../../../assets/img/branch_images/new_banner_hitech_mobile.png" width="100%"
                        height="100%" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-center">
            <p class="main_heading">Explore Teks Academy!</p>
            <p class="paragraph_text">
                Teks Academy- The best software training institute in Hitech City has a decade of experience in teaching
                advanced software courses. We are strongly committed to TEKS-Philosophy- Transfer the Experts knowledge
                To Students. Our training academy has Introduced job-oriented IT courses in Hitech City, Hyderabad with
                the best training faculty in India, world-class technological infrastructure, and ultramodern teaching
                methods. Our courses and their curriculum are well-researched and prepared according to current industry
                standards and requirements.
            </p>
            <p class="paragraph_text">
                Teks Academy, the best software training academy in Hitech City, Hyderabad, is a hub of tech enthusiasts
                and a top-notch technical team. Join us now and dive into your passion with the visionary guidance of
                our highly experienced trainers. Embrace your future with the best in the industry!
            </p>
        </div>
        <div class="">
            <div class="text-center">
                <p class="main_heading mb-4">Testimonials</p>
            </div>
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner pb-5">
                    <div class="carousel-item active">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_1.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        I have learned AWS+DEVOPS course I have an amazing
                                        experience with trainers and faculty the gud skills, gud
                                        communications , and gud soft skill class have I learned
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Lipika
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_2.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        I completed the Digital Marketing course at Teks Academy,
                                        and it exceeded my expectations. The trainers are highly
                                        knowledgeable, and the hands-on experience was invaluable!"
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Prasana Kumar
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_3.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        I learn revit bim course... It's a excellent training
                                        centre... The teacher are will train then give bast
                                        performance...
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">- Sai Ram</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_4.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        I recently completed data analytics course from teks
                                        academy. The course was good and the instructors were
                                        knowledgeable and friendly. But the placement assistance is
                                        limited. It would have been great if they could improve
                                        this.
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Raj Doddamoni
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_5.png"
                                            width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        Very Good Academy Special thanks to our Trainer "Kajal
                                        Mam"(Salesforce Trainer). Thanks for being so Supportive and
                                        Helping us in Each and Every Aspect. I am So Happy for Being
                                        trained under you and gaining Knowledge. Thanks for Every
                                        time you Take Class To us
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Raj mohan reddy
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_6.png" width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        At Teks Academy Ameerpet, AWS and DevOps training was
                                        game-changing. Instructors were exceptional, making
                                        complicated ideas simple to understand. Hands-on practice
                                        was essential in preparing me for real-world situations. The
                                        positive spirit and engaging setting made learning
                                        enjoyable. "Highly recommended!
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        -Krishnaprasad Chintapalli
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_7.png" width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        I have learn lot of things during this time which was I
                                        don't know really I' I'm happy with teks academy and STAFF
                                        and also especialy with Prem sir sir class was very nice and
                                        I ll enjoy the class
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Danny
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="testimonials_bg carousel_slider paragraph_text testimonials_text mt-2">
                                    <div class="text-center">
                                        <img src="../../../../../assets/img/branch_images/testimonials_8.png" width="14%" height="14%" class="img-fluid rounded-circle" alt="" />
                                    </div>
                                    <p class="mt-3">
                                        I have learn lot of things during this time which was I
                                        don't know really I' I'm happy with teks academy and STAFF
                                        and also especialy with Prem sir sir class was very nice and
                                        I ll enjoy the class
                                    </p>
                                    <p class="paragraph_text fw-bold mt-3 text-dark">
                                        - Vaibhav
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
            <div class="">
                <div class="mb-5">
                    <div class="container text-center">
                        <div class="m-0 mb-4 text-center">
                            <p class="main_heading">Most Searched Terms</p>
                        </div>
                        <div class="d-flex flex-wrap most_searched">
                            <span>Bim manager course</span>
                            <span>Best bim training institute in Hitech city</span>
                            <span>Bim course in hitech city</span>
                            <span>Revit course</span>
                             <span>Revit classes near me</span>
                            <span>Business analytics course in hyderabad</span>
                            <span>Business analyst course near me</span>
                            <span>Best business analytics course in hitech city</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>