<div class="container" id="whyteks">
    <div class="row">
      <div class="col-lg-12 bg-gray custom-container">
        <div class="container">
          <div class="section-head col-sm-12">
            <p>
              TEKS Academy is committed to providing our students with the best
              learning experience that leads to a fulfilling career.
            </p>
          </div>
          <!-- Desktop card -->
  
          <div class="d-none d-lg-block">
            <div class="row row-eq-height">
              <div class="col-lg-3 col-sm-6 mb-2">
                <div class="item border h-100 d-flex flex-column">
                  <span
                    class="icon wtspan feature_box_col_one"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin: 13px auto;
                    "
                  >
                    <!-- <i class="fa fa-globe"></i> -->
                    <img
                      src="../../../../../assets/img/Teks_Website//Teks_Website/why_teks_Icons_40x40/Icons_40x40.jpg"
                      alt=""
                      style="vertical-align: middle"
                    />
                  </span>
                  <div class="mt-5">
                    <h6><B>100% placement assistance.</B></h6>
                    <p>
                      TEKS Academy commits to providing an excellent career
                      pathway for our students by helping them prepare for the
                      toughest interview.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 mb-2">
                <div class="item border h-100 d-flex flex-column">
                  <span
                    class="icon wtspan feature_box_col_two"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin: 13px auto;
                    "
                  >
                    <!-- <i class="fa fa-anchor"></i
                        > -->
                    <img
                      src="../../../../../assets/img/Teks_Website/Teks_Website/why_teks_Icons_40x40/trainer_40x40-[Recovered].png"
                      alt=""
                      style="vertical-align: middle"
                    />
                  </span>
                  <div class="mt-5">
                    <h6><b>Extensive trainings for our students.</b></h6>
                    <p>
                      In depth understanding of topics in both theoretical and
                      practical mode from our extensive training.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 mb-2">
                <div class="item border h-100 d-flex flex-column">
                  <span
                    class="icon wtspan feature_box_col_three"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin: 13px auto;
                    "
                  >
                    <!-- <i class="fa fa-hourglass-half"></i
                        > -->
                    <img
                      src="../../../../../assets/img/Teks_Website/Teks_Website/why_teks_Icons_40x40/Experts_training.png"
                      alt=""
                      style="vertical-align: middle"
                    />
                  </span>
                  <div class="mt-5">
                    <h6>
                      <b>Industry professionals with 10+ years of experience.</b>
                    </h6>
                    <p>
                      Our industry professionals help you clear any doubts and
                      keep you stay ahead of the competition.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 mb-2">
                <div class="item border h-100 d-flex flex-column">
                  <span
                    class="icon wtspan feature_box_col_four"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin: 13px auto;
                    "
                  >
                    <!-- <i class="fa fa-database"></i
                        > -->
                    <img
                      src="../../../../../assets/img/Teks_Website/Teks_Website/why_teks_Icons_40x40/no_cost_emi.png"
                      alt=""
                      style="vertical-align: middle"
                    />
                  </span>
                  <div class="mt-5">
                    <h6><b>No cost EMI option.</b></h6>
                    <p>
                      Join our courses without any financial troubles with the
                      help of no-cost EMI option. Pay less and learn more.
                    </p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row row-eq-height mt-2">
              <div class="col-lg-3 col-sm-6 d-xs-none d-md-block mb-2">
                <div class="item border h-100 d-flex flex-column">
                  <span
                    class="icon wtspan feature_box_col_five"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin: 13px auto;
                    "
                  >
                    <!-- <i class="fa fa-upload"></i
                      > -->
                    <img
                      src="../../../../../assets/img/Teks_Website/Teks_Website/why_teks_Icons_40x40/24x7_Assist_Icons_40x40.png"
                      alt=""
                      style="vertical-align: middle"
                    />
                  </span>
                  <div class="mt-3">
                    <h6><b>24/7 support assistance.</b></h6>
                    <p>
                      Get instant assistance and solve all your issues within 48
                      hrs of time. Our 24/7 support assistance give you trouble
                      free learning.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 d-xs-none d-md-block mb-2">
                <div class="item border h-100 d-flex flex-column">
                  <span
                    class="icon wtspan feature_box_col_six"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin: 13px auto;
                    "
                  >
                    <!-- <i class="fa fa-camera"></i
                      > -->
                    <img
                      src="../../../../../assets/img/Teks_Website/Teks_Website/why_teks_Icons_40x40/Gloabally_recognized_Icons_40x40.png"
                      alt=""
                      style="vertical-align: middle"
                    />
                  </span>
                  <div class="mt-3">
                    <h6><B>Globally recognized certification.</B></h6>
                    <p>
                      Get our ISO, NASSCOM, Skill India, Skill AP, NSDC, DDU-GKY
                      recognized certification that is valid globally.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 d-xs-none d-md-block mb-2">
                <div class="item border h-100 d-flex flex-column">
                  <span
                    class="icon wtspan feature_box_col_six"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin: 13px auto;
                    "
                  >
                    <!-- <i class="fa fa-camera"></i
                      > -->
                    <img
                      src="../../../../../assets/img/Teks_Website/Teks_Website/why_teks_Icons_40x40/LMS_Icons_40x40.png"
                      alt=""
                      style="vertical-align: middle"
                    />
                  </span>
                  <div class="mt-3">
                    <h6><b>Access to advanced LMS.</b></h6>
                    <p>
                      Our user-friendly and advanced LMS (Learning Management
                      System) helps the students access the course at any time.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 d-xs-none d-md-block mb-2">
                <div class="item border h-100 d-flex flex-column">
                  <span
                    class="icon wtspan feature_box_col_six"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin: auto;
                    "
                  >
                    <!-- <i class="fa fa-camera"></i
                      > -->
                    <img
                      src="../../../../../assets/img/Teks_Website/Teks_Website/why_teks_Icons_40x40/MockInterview_Icons_40x40.png"
                      alt=""
                      style="vertical-align: middle"
                      class="mb-0"
                    />
                  </span>
                  <div class="mt-3">
                    <h6><b>Assistance to crack job interviews.</b></h6>
                    <p>
                      TEKS Academy not only helps our students gain knowledge but
                      also assists them in clearing job interviews.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- mobile card -->
  
          <div class="d-block d-sm-none">
            <div class="row row-eq-height">
              <div class="col-lg-3 col-sm-6 mb-2">
                <div class="item border h-100 d-flex flex-column">
                  <span
                    class="icon wtspan feature_box_col_one"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin: 13px auto;
                    "
                  >
                    <!-- <i class="fa fa-globe"></i> -->
                    <img
                      src="../../../../../assets/img/Teks_Website//Teks_Website/why_teks_Icons_40x40/Icons_40x40.jpg"
                      alt=""
                      style="vertical-align: middle"
                    />
                  </span>
                  <div class="mt-5">
                    <h6><B>100% placement assistance.</B></h6>
                    <p>
                      TEKS Academy commits to providing an excellent career
                      pathway for our students by helping them prepare for the
                      toughest interview.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 mb-2">
                <div class="item border h-100 d-flex flex-column">
                  <span
                    class="icon wtspan feature_box_col_two"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin: 13px auto;
                    "
                  >
                    <!-- <i class="fa fa-anchor"></i
                        > -->
                    <img
                      src="../../../../../assets/img/Teks_Website/Teks_Website/why_teks_Icons_40x40/trainer_40x40-[Recovered].png"
                      alt=""
                      style="vertical-align: middle"
                    />
                  </span>
                  <div class="mt-5">
                    <h6><b>Extensive trainings for our students.</b></h6>
                    <p>
                      In depth understanding of topics in both theoretical and
                      practical mode from our extensive training.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 mb-2">
                <div class="item border h-100 d-flex flex-column">
                  <span
                    class="icon wtspan feature_box_col_three"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin: 13px auto;
                    "
                  >
                    <!-- <i class="fa fa-hourglass-half"></i
                        > -->
                    <img
                      src="../../../../../assets/img/Teks_Website/Teks_Website/why_teks_Icons_40x40/Experts_training.png"
                      alt=""
                      style="vertical-align: middle"
                    />
                  </span>
                  <div class="mt-5">
                    <h6>
                      <b>Industry professionals with 10+ years of experience.</b>
                    </h6>
                    <p>
                      Our industry professionals help you clear any doubts and
                      keep you stay ahead of the competition.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 mb-2">
                <div class="item border h-100 d-flex flex-column">
                  <span
                    class="icon wtspan feature_box_col_four"
                    style="
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin: 13px auto;
                    "
                  >
                    <!-- <i class="fa fa-database"></i
                        > -->
                    <img
                      src="../../../../../assets/img/Teks_Website/Teks_Website/why_teks_Icons_40x40/no_cost_emi.png"
                      alt=""
                      style="vertical-align: middle"
                    />
                  </span>
                  <div class="mt-5">
                    <h6><b>No cost EMI option.</b></h6>
                    <p>
                      Join our courses without any financial troubles with the
                      help of no-cost EMI option. Pay less and learn more.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="view_more" id="view_more_section">
              <div class="row row-eq-height mt-2">
                <div class="col-lg-3 col-sm-6 d-xs-none d-md-block mb-2">
                  <div class="item border h-100 d-flex flex-column">
                    <span
                      class="icon wtspan feature_box_col_five"
                      style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 13px auto;
                      "
                    >
                      <!-- <i class="fa fa-upload"></i
                        > -->
                      <img
                        src="../../../../../assets/img/Teks_Website/Teks_Website/why_teks_Icons_40x40/24x7_Assist_Icons_40x40.png"
                        alt=""
                        style="vertical-align: middle"
                      />
                    </span>
                    <div class="mt-3">
                      <h6><b>24/7 support assistance.</b></h6>
                      <p>
                        Get instant assistance and solve all your issues within 48
                        hrs of time. Our 24/7 support assistance give you trouble
                        free learning.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 d-xs-none d-md-block mb-2">
                  <div class="item border h-100 d-flex flex-column">
                    <span
                      class="icon wtspan feature_box_col_six"
                      style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 13px auto;
                      "
                    >
                      <!-- <i class="fa fa-camera"></i
                        > -->
                      <img
                        src="../../../../../assets/img/Teks_Website/Teks_Website/why_teks_Icons_40x40/Gloabally_recognized_Icons_40x40.png"
                        alt=""
                        style="vertical-align: middle"
                      />
                    </span>
                    <div class="mt-3">
                      <h6><B>Globally recognized certification.</B></h6>
                      <p>
                        Get our ISO, NASSCOM, Skill India, Skill AP, NSDC, DDU-GKY
                        recognized certification that is valid globally.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 d-xs-none d-md-block mb-2">
                  <div class="item border h-100 d-flex flex-column">
                    <span
                      class="icon wtspan feature_box_col_six"
                      style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 13px auto;
                      "
                    >
                      <!-- <i class="fa fa-camera"></i
                        > -->
                      <img
                        src="../../../../../assets/img/Teks_Website/Teks_Website/why_teks_Icons_40x40/LMS_Icons_40x40.png"
                        alt=""
                        style="vertical-align: middle"
                      />
                    </span>
                    <div class="mt-3">
                      <h6><b>Access to advanced LMS.</b></h6>
                      <p>
                        Our user-friendly and advanced LMS (Learning Management
                        System) helps the students access the course at any time.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 d-xs-none d-md-block mb-2">
                  <div class="item border h-100 d-flex flex-column">
                    <span
                      class="icon wtspan feature_box_col_six"
                      style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: auto;
                      "
                    >
                      <!-- <i class="fa fa-camera"></i
                        > -->
                      <img
                        src="../../../../../assets/img/Teks_Website/Teks_Website/why_teks_Icons_40x40/MockInterview_Icons_40x40.png"
                        alt=""
                        style="vertical-align: middle"
                        class="mb-0"
                      />
                    </span>
                    <div class="mt-3">
                      <h6><b>Assistance to crack job interviews.</b></h6>
                      <p>
                        TEKS Academy not only helps our students gain knowledge
                        but also assists them in clearing job interviews.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="custom_view" id="view_more_btn">View More</p>
          </div>
        </div>
      </div>
  
      <!-- <div class="col-lg-12">
                  <h3>Learning outputs of TEKS Academy Digital Marketing Course:</h3>
                  <ul>
                      <li>Website design, hosting, and creation of content for the websites.</li>
                      <li>SEO and their strategies to rank websites in the top of the SERP page.</li>
                      <li>Learn to run various campaigns using Google Ads, Facebook Ads, LinkedIn Ads.</li>
                      <li>Knowledge on running Search, display, remarketing, and video campaigns.</li>
                      <li>Learn to use various Social Media Management Tools.</li>
                      <li>Learn to create Social Media pages to create and post contents.</li>
                      <li>Social media content to increase visibility and Reach.</li>
                      <li>How to design and send mails using email marketing campaigns.</li>
                      <li>How to set up Google Analytics and Google Tag Manager.</li>
                      <li>Learn about lead generation campaigns and techniques.</li>
                      <li>Various certifications in Digital Marketing.</li>
                  </ul>
              </div> -->
  
      <!-- <div class="col-lg-12 faq-accordion" id="faqs">
                  <h3>FAQs of Digital Marketing</h3>
                  <accordion>
                      <accordion-group heading="1. Who can join the Digital Marketing Course?">
                          <p>Anyone with a knowledge of using a computer and who are more interested to learn about marketing in social media can join the Digital Marketing Course. The Digital Marketing Course is highly recommended for students, website owners and business people who wants to scale their career.</p>
                          
                      </accordion-group>
                      <accordion-group heading="2. Why should I learn Digital Marketing Course from TEKS Academy?">
                          <p>TEKS Academy is one of the leading certified course training providers in Hyderabad. They provide extensive training in Digital Marketing that helps the learners to move forward in their career. TEKS Academy provides advanced course curriculums that are highly in demand in the Digital Marketing industry. </p>
                          
                      </accordion-group>
                      <accordion-group heading="3. How qualified are the trainers who teach at TEKS Academy?">
                          <p>The trainers at TEKS Academy are the industrial experts who has at least 6 to 10+ years of experience in the relevant industry. The trainers are well versed in providing extensive training to the students and make them ready for job interviews in the Digital Marketing industry.</p>
                      </accordion-group>
                      <accordion-group heading="4. What is the duration of the Digital Marketing Course?">
                          <p>TEKS Academy provides the entire Digital Marketing Course training for a duration of 4 months. The duration covers the completion of all the modules in the Digital Marketing Course and other training to prepare the learners to get jobs in the relevant industry.</p>
                          
                      </accordion-group>
                      <accordion-group heading="5. Do I get job assistance from TEKS Academy after the completion of the Digital Marketing Course program?">
                          <p>Yes! TEKS Academy provides 100% placement assistance and interview training on successful completion of the Digital Marketing course training program.</p>
                      </accordion-group>
                      <accordion-group heading="6. I am a college student from a different academic background. How will Digital Marketing be useful to me?">
                          <p>For college students who are from different academic backgrounds, a digital marketing course gives them an additional skill and helps them choose this as a major career if they need a transition to any other industry. Students can leverage their digital marketing skills to market their businesses or create personal branding related to their current industry as well.</p>
                          
                      </accordion-group>
                      <accordion-group heading="7. What are the qualifications or skills required to learn Digital Marketing?">
                          <p>There are no defined qualifications or skills required to start learning a digital marketing course. But to attain full-time employment in this industry, one should be a certified professional. Most importantly, there are no programming skills required to learn digital marketing.</p>
                      </accordion-group>
                      <accordion-group heading="8. What are the types of job positions I can apply for after completing this course?">
                          <p>One can apply for job positions such as SEO Expert, Google Ads Expert, Meta Add Expert, Social Media Marketer, SEO Executive, Digital Marketing Executive, and many other related positions.</p>
                      </accordion-group>
                      <accordion-group heading="9. What will be the expected salary for a fresher in a digital marketing job profile?">
                          <p>The initial pay for a fresher in digital marketing ranges from 2-4 lakhs, depending on the knowledge and skills of the candidate.</p>
                      </accordion-group>
                      <accordion-group heading="10. What are the available certifications for this course?">
                          <p>Like other courses, we provide digital marketing certification recognised by NASSCOM, Skill India, Skill AP, and the National Skill Development Corporation.</p>
                      </accordion-group>
                  </accordion>
              </div>
              <br>
              <p></p>
              <p></p>
              <div class="col-lg-12">
                  <h3>An Overview of TEKS Academy Digital Marketing Course:</h3>
                  <p>In developed and developing countries, the demand for digital marketing has increased by more than 60% in the current scenario. This is one of the jobs that can be done entirely from home. Today, not only in Hyderabad or India, every country requires Digital Marketers who can scale the businesses. Digital Marketing has become one of the most in-demand skills.</p>
                  <p>TEKS Academy is one of the Best Digital Marketing Institute in Hyderabad that has a hub and provides excellent course training, certifications, and a well-planned curriculum to the students and learners. Digital Marketing Training at TEKS Academy not only develops your skills according to industry requirements but also provides every assistance to either get placed in the dream organisations or to build a personal brand for themselves. The Digital Marketing Certification has accessibility all over the world and has a time period of life.</p>
                  <p>Our trainers have 10+ years of experience in the Digital Marketing industry. The course curriculum comprises Search Engine Optimisation, Social Media Marketing, Google Ads, Facebook Ads, Google Analytics, and other in-demand topics that are currently ruling the industry. Our Digital Marketing placement assistance helps students and learners develop their skills to their excellence and land their dream jobs.</p>
                  <p>TEKS Academy, Hyderabad, has a placement team that will help you find the best Digital Marketing jobs. On completion of Digital Marketing training at TEKS Academy, you will develop the skill to work anywhere in the world. TEKS Academy also provides all the assistance, training, and certification needed to get into the industry without any difficulty.</p>
                  <p>From our well-planned curriculum to getting into your dream job, it is our responsibility to find out your skills and your weaknesses to work on to skyrocket your career in Digital Marketing. Yes! TEKS Academy Digital Marketing one click away from you to take your life to another level. Even we have the facility to learn online, which is exclusively designed for working professionals who want to upskill or learn new skills in the field of Digital Marketing.</p>
                  <p>All you need to do is join our next batch to change your life. Are you future-ready for a Digital marketing adventure? Our TEKS Academy, located in Hyderabad, has more advantages than any other training institute. The major advantage is that even if you want to learn offline, the institutes are easily accessible by the nearest transportation.</p>
                  <p>Our TEKS Academy Course curriculum is created according to industry standards with major assessments, assignments, and major projects for the better understanding and development of the skills of the customers. Our TEKS Academy Digital Marketing course contains SEO (Search Engine Optimization), SMM (Social Media Marketing), Google Ads, Facebook Ads, Affiliate Marketing, Google Analytics, and E-mail Marketing.</p>
                  <p>Know more about our other TEKS Academy courses that might fit your needs to build a greater career in your life. The list of courses provided is Data Science, Full Stack Java, Full Stack Python, Salesforce, AWS, and DevOps.</p>
              </div> -->
    </div>
  </div>