<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <!-- <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Gallery</li>
            </ul> -->
            <h2>Media</h2>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
    <div class="shape3"><img src="assets/img/shape8.svg" alt="image"></div>
</div>

<div class="tab-buttons pt-50">
  <!-- <span class="tab-button" (click)="activeTab = 'all'">All</span> -->
  <span class="tab-button" (click)="activeTab = 'influencers'">Influencers</span>
  <span class="tab-button" (click)="activeTab = 'media'">News Media</span>
  <!-- <span class="tab-button" (click)="activeTab = 'videos'">Media Chanels</span> -->
</div>


    <div class="gallery-area pt-30 pb-70" *ngIf="activeTab === 'influencers'" >
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let image of _influencers; let i=index;">
                    <div class="single-gallery-item">
                        <img [src]="image.thumb" (click)="influencersOpen(i)" />
                    </div>
                </div> -->

                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="../../../../assets/img/media/Influencers/influencers1.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.instagram.com/reel/Cu_xBsmpu0V/?igshid=NjIwNzIyMDk2Mg==" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="../../../../assets/img/media/Influencers/influencers2.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.instagram.com/reel/Cu61AnyJOaH/?igshid=NjIwNzIyMDk2Mg==" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="../../../../assets/img/media/Influencers/influencers3.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.instagram.com/reel/Cu61AnyJOaH/?igshid=NjIwNzIyMDk2Mg==" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="../../../../assets/img/media/Influencers/influencers4.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.instagram.com/reel/Ct_XBrWsUGm/?igshid=NjIwNzIyMDk2Mg==" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="../../../../assets/img/media/Influencers/influencers5.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.instagram.com/reel/CpzJ6qNJLZa/?igshid=NjIwNzIyMDk2Mg==" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="../../../../assets/img/media/Influencers/influencers6.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.instagram.com/reel/CtGiEEVtBmq/?igshid=NjIwNzIyMDk2Mg==" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="../../../../assets/img/media/Influencers/influencers7.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.instagram.com/reel/CskrySHpa0h/?igshid=NjIwNzIyMDk2Mg==" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="../../../../assets/img/media/Influencers/influencers8.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.instagram.com/reel/Cq-ZbwgJmN2/?igshid=NjIwNzIyMDk2Mg==" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="video-box">
                        <div class="image">
                            <img src="../../../../assets/img/media/Influencers/influencers9.jpg" class="shadow" alt="image">
                        </div>
                        <a href="https://www.instagram.com/reel/CqcLFRPJrjo/?igshid=NjIwNzIyMDk2Mg==" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery-area pt-30 pb-70" *ngIf="activeTab === 'media'" >
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let image of _album; let i=index;">
                    <div class="single-gallery-item">
                        <img [src]="image.thumb" (click)="open(i)" />
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/media/news media/teksacademymedia1.webp" class="shadow" alt="image">
                        </div>
                        <a href="https://youtu.be/ODgUnw2BJUY" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/media/news media/teksacademymedia2.webp" class="shadow" alt="image">
                        </div>
                        <a href="https://youtu.be/5U8T7GzyQqw" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/media/news media/teksacademymedia3.webp" class="shadow" alt="image">
                        </div>
                        <a href="https://youtu.be/OsXdFWdHqR0" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/media/news media/teksacademymedia4.webp" class="shadow" alt="image">
                        </div>
                        <a href="https://youtu.be/okyW5H48auE" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/media/news media/teksacademymedia5.webp" class="shadow" alt="image">
                        </div>
                        <a href="https://youtu.be/L9s0LrhKz94" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/media/news media/teksacademymedia6.webp" class="shadow" alt="image">
                        </div>
                        <a href="https://youtu.be/okyW5H48auE" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/media/news media/teksacademymedia7.webp" class="shadow" alt="image">
                        </div>
                        <a href="https://youtu.be/95zgphvePjo" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <!-- <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div> -->
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="video-box">
                        <div class="image">
                            <img src="assets/img/media/news media/teksacademymedia8.webp" class="shadow" alt="image">
                        </div>
                        <a href="https://youtu.be/gEI9_5P5DBw" target="_blank"
                            class="video-btn popup-youtube" class="video-btn popup-youtube"><i
                                class="flaticon-play"></i></a>
                        <div class="shape10"><img src="assets/img/shape9.png" alt="image"></div>
                    </div>
                </div> -->
                
                <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let video of videos">
                    <div class="video-box custom-video-box">
                        <div class="image custom-image">
                            <img [src]="video.thumbnail" class="shadow custom-thumbnail" alt="image">
                        </div>
                        <a href="{{ video.url }}" target="_blank" class="video-btn popup-youtube custom-video-btn">
                            <i class="flaticon-play custom-play-icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <div class="video-popup custom-video-popup" *ngIf="showVideoPopup">
        <button class="close-btn custom-close-btn" (click)="closeVideoPopup()">&times;</button>
        <iframe [src]="currentVideoUrl" frameborder="0" allowfullscreen class="video-iframe custom-video-iframe"></iframe>
    </div>