<div class="page-title-area" >
    <div class="container">
        <div class="page-title-content">
            <h2>TEKS Academy Scholarship Program</h2>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image"></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div>
            <div class="col-lg-12" >
                <img src="../../../../assets/img/scholarshipprogram/scholarship-banner.jpg" alt="" style="position: fixed; top: 80px; bottom: 0px; z-index: -1; width: 100%; left: 0px; background-position: 100% 100%; height: 100%;">
                <div class="image-overlay" ></div>
            </div>
            <div class="col-lg-12 text-center bnnrheading2" >
                <h2 >SCHOLARSHIP PROGRAMS BY TEKS Academy <br>2023 - 2024 ACADEMIC YEAR</h2>
            </div>
            <div class="col-lg-12 text-center bnrscholarship" >
                <p >e look forward to helping students like you who are considering continuing education in the United States, United Kingdom, Canada, Germany, Finland etc. You will find all the tools you need to compile your necessary research in deciding if the United States and the rest is the best place for you — we have gathered valuable information on educational, social, cultural and economic aspects of studying in the U.S and other countries.</p>
            </div>
            <div class="col-lg-12 text-center getstart open-form" >
                <a class="text-white" >GET STARTED HERE - APPLY FOR FULLY FUNDED SCHOLARSHIP 2023 TODAY</a>
            </div>
            <div class="spacer" style="height: 50px;"></div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: white; padding: 30px;">
    <div class="row" >
        <div class="col-lg-4 java scholarshipcourses" >
            <div class="text-center coursebox" style="color: white; background-color: #007396; line-height: 100px;">
                <div class="" >
                    <a class="" target="_blank">
                        <i aria-hidden="true" class="fab fa-java" style="color: white; font-size: 50px;"></i>
                    </a>
                </div>
                <div class="courseName">
                    <h5 class="" >Java</h5>
                </div>
                <div class="" >
                    <a class=""  target="_blank" style="border: 2px solid white; border-radius: 5px; padding: 8px 20px;">
                            <span class="text-white">APPLY HERE</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 python scholarshipcourses" >
            <div class="text-center" style="color: white; background-color: #3776AB; line-height: 100px;">
                <div class="" >
                    <a class="" target="_blank">
                        <i aria-hidden="true" class="fab fa-python" style="color: white; font-size: 50px;"></i>
                    </a>
                </div>
                <div class="courseName">
                    <h5 class="" >Python</h5>
                </div>
                <div class="" >
                    <a class="" target="_blank" style="border: 2px solid white; border-radius: 5px; padding: 8px 20px;">
                            <span class="text-white">APPLY HERE</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 salesforceAdmin scholarshipcourses" >
            <div class="text-center" style="color: white; background-color: #00A1E0; line-height: 100px;">
                <div class="" >
                    <a >
                        <i aria-hidden="true" class="fab fa-salesforce" style="color: white; font-size: 50px;"></i>
                    </a>
                </div>
                <div class="courseName">
                    <h5 class="">Salesforce Admin</h5>
                </div>
                <div class="" >
                    <a class="" style="border: 2px solid white; border-radius: 5px; padding: 8px 20px;">
                            <span class="text-white">APPLY HERE</span>
                    </a>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-lg-4 digitalmarketing scholarshipcourses" >
            <div class="text-center" style="color: white; background-color: #3498DB; line-height: 100px;">
                <div class="" >
                    <a class="" >
                        <i aria-hidden="true" class="fas fa-chart-line" style="color: white; font-size: 50px;"></i>
                    </a>
                </div>
                <div class="courseName">
                    <h5>Digital Marketing</h5>
                </div>
                <div class="" >
                    <a class="" style="border: 2px solid white; border-radius: 5px; padding: 8px 20px;">
                            <span class="text-white">APPLY HERE</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 autocad scholarshipcourses" >
            <div class="text-center" style="color: white; background-color: #018BCF; line-height: 100px;">
                <div class="" >
                    <a class="" >
                        <i aria-hidden="true" class="fas fa-drafting-compass" style="color: white; font-size: 50px;"></i>
                    </a>
                </div>
                <div class="courseName">
                    <h5>AutoCad</h5>
                </div>
                <div class="" >
                    <a class="" style="border: 2px solid white; border-radius: 5px; padding: 8px 20px;">
                            <span class="text-white">APPLY HERE</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 spokenenglish scholarshipcourses" >
            <div class="text-center" style="color: white; background-color: #1ABC9C; line-height: 100px;">
                <div class="" >
                    <a class="" >
                        <i aria-hidden="true" class="fas fa-comments" style="color: white; font-size: 50px;"></i>
                    </a>
                </div>
                <div class="courseName">
                    <h5>Spoken English</h5>
                </div>
                <div class="" >
                    <a class="" style="border: 2px solid white; border-radius: 5px; padding: 8px 20px;">
                            <span class="text-white">APPLY HERE</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fuild" style="background-color: white; padding: 30px;">
    <div class="row">
        <div class="col-lg-6">
            <h2 style="font-weight: 600; color: black">About TEKS Academy Program</h2>
            <p>TEKS Academy is a part of Kapil Group located in Hyderabad, offering online and offline course training for students to become successful in their careers. Over the years, TEKS Academy launched several initiatives to shape a brighter future for students. To help every student access an excellent education, this year, TEKS Academy has started offering a scholarship program for various courses that help them build a dream career.</p>
            <p>TEKS Academy has assisted 7000+ students so far in training them across various industries. Over 300+ highly qualified industry experts are present in our TEKS Academy, providing various knowledge and skills to our students. TEKS Academy provides in-demand skills like Salesforce, AWS + DevOps, Digital Marketing, Revit, Full stack Development, Data Science, and many certified courses, along with ISO, NASSCOM, Skill India, and NSDC recognition. </p>
        </div>
        <div class="col-lg-6">
            <img src="../../../../assets/img/scholarshipprogram/aboutteks.jpg" alt="">
        </div>
    </div>
</div>
<div class="col-lg-12 bg-white text-center"><h2 style="font-weight: 600; color: black;">Onboarding procedure for scholarship program.</h2></div>
<div class="custom-container bg-white">
    
    <section class="panel1 blue">
      <h2 class="panel-heading text-white">Sec1</h2>
    </section>
  
    <section class="panel orange">
      <h2 class="panel-text text-white">Sec2</h2>
    </section>
  
    <section class="panel red">
      <h2 class="panel-text text-white">Sec3</h2>
    </section>
  
    <section class="panel blue yoyo">
      <h2 class="panel-text text-white">Sec4</h2>
    </section>
  </div>

<!-- form -->

<div id="popup-form">
    <span id="dsformclose">X</span>
    <span id="dshead">Please Fill The Form</span>
    <form id="sForm" (ngSubmit)="slpFrom()">
        <input type="text" id="name" name="sname" placeholder="Enter Your Full Name" required [(ngModel)]="sname">
  
        
        <input type="email" id="email" name="semail" placeholder="Enter Your Email" required [(ngModel)]="semail">
  
        
        <input type="tel" id="phone" name="sphone" placeholder="Enter Your Phone Number" required [(ngModel)]="sphone">
  
        
        <input type="text" id="course" name="scourse" placeholder="Enter Your Course" required [(ngModel)]="scourse">
        <!-- <select id="course" name="scourse" required [(ngModel)]="scourse">
            <option value="" disabled >Select Your Course</option>
            <option value="java" selected>Java</option>
            <option value="python">Python</option>
            <option value="salesforce admin">Salesforce Admin</option>
            <option value="digitalmarketing">Digital Marketing</option>
            <option value="autocad">AutoCAD</option>
            <option value="spoken english">Spoken English</option>
        </select> -->
        <!-- <ngx-recaptcha2
          [(ngModel)]="recaptchaValue"
          name="recaptchaValue"
          [siteKey]="siteKey"
          required
          >
  
          </ngx-recaptcha2> -->
          <input type="text" id="city" name="scity" placeholder="Enter Your City" required [(ngModel)]="scity">
        <button type="submit">Submit</button>
    </form>
  </div>

  <!-- form  -->


  